# Best X finder - Agentes libres

Lo que haremos es construir el modelo descrito en el artículo. Sin embargo, el objetivo final, es diseñar una función que encuentre la variable independiente, $X$, con mayor significancia estadística para la variable dependiente $Y$.

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from matplotlib.colors import ListedColormap
from termcolor import colored
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import pandas as pd
import numpy as np
import array
import math
import os
import warnings
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 15

In [3]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
os.chdir(path)

/home/usuario/Documentos/Github/Proyectos/MLB_HN/Models/Linear_models/Free_agent/Best_X_finder

In [4]:
print("Para modificar el tamaño de todos los gráficos")
from matplotlib import rcParams
rcParams['figure.figsize'] = 15,9

Para modificar el tamaño de todos los gráficos

In [5]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
print("Nuevo directorio de trabajo: " + str(os.chdir(path)))

/home/usuario/Documentos/Github/Proyectos/MLB_HN
Nuevo directorio de trabajo: None

## Exploración de datos

Estudiaremos de manera general si hay datos faltantes, así como el tipo de datos que contiene

In [6]:
# Años de análisis
starting_year = 2011
period = 11
csv = '.csv'
# Directorios
pitchers_path = 'ETL_data/Free_Agent/Pitchers/free_agents_pitchers_'
hitters_path = 'ETL_data/Free_Agent/Hitters/free_agents_batters_'
# Originales:
df_pitchers = [None]*period
df_pitchers_copy = [None]*period
df_hitters = [None]*period
df_hitters_copy = [None]*period

Leamos todos las bases de datos correspondientes

In [7]:
for year in range(0,period):
    df_pitchers[year] = pd.read_csv(pitchers_path + str(starting_year + year) + csv)
    df_pitchers_copy[year] = df_pitchers[year].copy()
    
    df_hitters[year] = pd.read_csv(hitters_path + str(starting_year + year) + csv)
    df_hitters_copy[year] = df_hitters[year].copy()

Observemos el contenido de las bases de datos

In [8]:
# Pitchers
df_pitchers_copy[5].head()

,Acronimo,Altura,Anio,Anios_contrato,Bateos_pitcher,Bateos_pitcher_2,Cantidad de equipos,Cantidad_agentes_libres,Carreras,Carreras_2,...,Victorias,WAR,WAR_2,WHIP,WHIP_2,WS ganadas,Walks,Walks_2,Wins,Wins_2
0,BOS,6.5,2016,7,227,51529,1,6,106,11236,...,93,2.99,8.9401,1.20,1.4400,8,50,2500,17,289
1,ARI,6.2,2016,6,161,25921,1,7,80,6400,...,68,2.34,5.4756,1.27,1.6129,1,41,1681,13,169
2,DET,6.2,2016,5,118,13924,1,11,63,3969,...,86,0.39,0.1521,1.37,1.8769,4,26,676,9,81
3,SF,0.0,2016,5,190,36100,5,8,88,7744,...,86,2.65,7.0225,1.20,1.4400,8,54,2916,12,144
4,STL,0.0,2016,5,203,41209,2,5,101,10201,...,85,0.37,0.1369,1.32,1.7424,11,30,900,9,81

In [9]:
list(enumerate(df_pitchers_copy[5].columns))

[(0, 'Acronimo'),
 (1, 'Altura'),
 (2, 'Anio'),
 (3, 'Anios_contrato'),
 (4, 'Bateos_pitcher'),
 (5, 'Bateos_pitcher_2'),
 (6, 'Cantidad de equipos'),
 (7, 'Cantidad_agentes_libres'),
 (8, 'Carreras'),
 (9, 'Carreras_2'),
 (10, 'Carreras_ganadas'),
 (11, 'Carreras_ganadas_2'),
 (12, 'Comando'),
 (13, 'Comando_2'),
 (14, 'Control'),
 (15, 'Control_2'),
 (16, 'Dominio'),
 (17, 'Dominio_2'),
 (18, 'ERA'),
 (19, 'ERA_2'),
 (20, 'Edad'),
 (21, 'Equipo'),
 (22, 'Equipo_anterior'),
 (23, 'Estado'),
 (24, 'Inning_pitched'),
 (25, 'Inning_pitched_2'),
 (26, 'Juegos'),
 (27, 'Juegos totales'),
 (28, 'Juegos_2'),
 (29, 'Juegos_iniciados'),
 (30, 'Juegos_iniciados_2'),
 (31, 'Jugador'),
 (32, 'Losses'),
 (33, 'Losses_2'),
 (34, 'Pennants won'),
 (35, 'Peso'),
 (36, 'Playoffs'),
 (37, 'Posicion'),
 (38, 'Promedio_victorias'),
 (39, 'Saves'),
 (40, 'Saves_2'),
 (41, 'Status'),
 (42, 'Strike-outs'),
 (43, 'Strike-outs_2'),
 (44, 'Sueldo'),
 (45, 'Sueldo_base'),
 (46, 'Sueldo_regular'),
 (47, 'TVS'),
 (48, 'TVS_2'),
 (49, 'Valor_contrato'),
 (50, 'Valor_contrato_total'),
 (51, 'Valor_promedio_contrato'),
 (52, 'Victorias'),
 (53, 'WAR'),
 (54, 'WAR_2'),
 (55, 'WHIP'),
 (56, 'WHIP_2'),
 (57, 'WS ganadas'),
 (58, 'Walks'),
 (59, 'Walks_2'),
 (60, 'Wins'),
 (61, 'Wins_2')]

In [10]:
# Hitters
df_hitters_copy[5].head()

,Acronimo,Altura,Anio,Anios_contrato,At-bats,At-bats_2,Bateos,Bateos_2,Cantidad de equipos,Cantidad_agentes_libres,...,Sueldo_regular,TVS,TVS_2,Valor_contrato,Valor_contrato_total,Valor_promedio_contrato,Victorias,WAR,WAR_2,WS ganadas
0,BOS,6.5,2016,7,10,100,0,0,1,6,...,30000000,29.72,883.2784,217000000,230000000,31000000,93,2.99,8.9401,8
1,ARI,6.2,2016,6,52,2704,11,121,1,7,...,34000000,16.62,276.2244,206500000,218750000,34416667,68,2.34,5.4756,1
2,CHC,6.5,2016,8,530,280900,122,14884,2,15,...,21666666,4.18,17.4724,184000000,291277500,23000000,102,1.28,1.6384,3
3,BAL,6.3,2016,7,566,320356,125,15625,1,8,...,21065362,41.50,1722.2500,161000000,220260000,23000000,88,3.08,9.4864,3
4,DET,6.1,2016,6,570,324900,140,19600,1,11,...,22125000,25.26,638.0676,132750000,272257500,22125000,86,1.85,3.4225,4

Veamos las columnas con sus índices

In [11]:
list(enumerate(df_hitters_copy[5].columns))

[(0, 'Acronimo'),
 (1, 'Altura'),
 (2, 'Anio'),
 (3, 'Anios_contrato'),
 (4, 'At-bats'),
 (5, 'At-bats_2'),
 (6, 'Bateos'),
 (7, 'Bateos_2'),
 (8, 'Cantidad de equipos'),
 (9, 'Cantidad_agentes_libres'),
 (10, 'Edad'),
 (11, 'Equipo'),
 (12, 'Equipo_anterior'),
 (13, 'Estado'),
 (14, 'Home-runs'),
 (15, 'Home-runs_2'),
 (16, 'Juegos'),
 (17, 'Juegos totales'),
 (18, 'Juegos_2'),
 (19, 'Jugador'),
 (20, 'OPS'),
 (21, 'OPS_2'),
 (22, 'Pennants won'),
 (23, 'Peso'),
 (24, 'Playoffs'),
 (25, 'Porcentaje_bateo'),
 (26, 'Porcentaje_bateo_2'),
 (27, 'Porcetnaje_juegos'),
 (28, 'Porcetnaje_juegos_2'),
 (29, 'Posicion'),
 (30, 'Promedio_victorias'),
 (31, 'RBI'),
 (32, 'RBI_2'),
 (33, 'Status'),
 (34, 'Sueldo'),
 (35, 'Sueldo_base'),
 (36, 'Sueldo_regular'),
 (37, 'TVS'),
 (38, 'TVS_2'),
 (39, 'Valor_contrato'),
 (40, 'Valor_contrato_total'),
 (41, 'Valor_promedio_contrato'),
 (42, 'Victorias'),
 (43, 'WAR'),
 (44, 'WAR_2'),
 (45, 'WS ganadas')]

Veamos si hay bases de datos con variables que distintas entre sí

In [13]:
k = 0
for i in range(0, period - 1):
    if set(df_pitchers_copy[i].columns) != set(df_pitchers_copy[i + 1].columns):
        k = k + 1
    if set(df_hitters_copy[i].columns) != set(df_hitters_copy[i + 1].columns):
        k = k + 1
print("Número de dataframes con datos distintos: ",colored(k, "cyan"))

Número de dataframes con datos distintos:  0

### Construcción de la base de datos para el modelo

#### Base de datos de los equipos

Como no hay ninguna base de datos distintas, hagamos un algoritmo que construya un dataframe que solo contenga a las variables $X$ y $Y$. Partamos de ver los datos que contiene cualquiera de los dataframes para orientar el algoritmo a uno de búsqueda dado el nombre de la variable, esto se hará tanto para *pitchers* como para los *hitters*.

In [14]:
# Names of variables in both dataframes
pitchers_variables = df_pitchers_copy[1].columns
hitters_variables = df_hitters_copy[1].columns

Lo que haremos es inicializar dos variables para cada dataframe: Nombre de la variable a buscar ($X$ y $Y$) y un dataframe vacío.

In [15]:
X_raw_hitter = 'Home-runs'
X_raw_pitcher = 'Inning_pitched'
Y_raw = 'Sueldo'
jugador = 'Jugador'
YX_pitcher_raw = [None]*period
YX_hitter_raw = [None]*period

In [16]:
for year in range(0, period):
    YX_pitcher_raw[year] = df_pitchers_copy[year][[jugador, Y_raw, X_raw_pitcher]]
    
    YX_hitter_raw[year] = df_hitters_copy[year][[jugador, Y_raw, X_raw_hitter]]

Ajustemos los precios por la inflación y cambiemos los nombres para facilitar el proceso *ETL*

In [17]:
change_inflation_percentage = {2011:20.46, 2012:18.02, 2013:16.32, 2014:14.46, 2015:14.33, 2016:12.90, 2017:10.55, 2018:7.86, 2019:5.99, 2020:4.70, 2021:1}

In [18]:
for year in range(0, period):
    YX_hitter_raw[year][[Y_raw]] = YX_hitter_raw[year][[Y_raw]]*(1 + change_inflation_percentage[2011 + year]*0.01)
    YX_hitter_raw[year].rename(columns = {Y_raw: Y_raw + '_' + str(2011 + year)}, inplace = True)
    YX_hitter_raw[year].rename(columns = {X_raw_hitter: X_raw_hitter + '_' + str(2011 + year)}, inplace = True)

    YX_pitcher_raw[year][[Y_raw]] = YX_pitcher_raw[year][[Y_raw]]*(1 + change_inflation_percentage[2011 + year]*0.01)
    YX_pitcher_raw[year].rename(columns = {Y_raw: Y_raw + '_' + str(2011 + year)}, inplace = True)
    YX_pitcher_raw[year].rename(columns = {X_raw_pitcher: X_raw_pitcher + '_' + str(2011 + year)}, inplace = True)

Observemos los resultados

In [19]:
YX_pitcher_raw[1]

              Jugador   Sueldo_2012  Inning_pitched_2012
0         C.J. Wilson  1.245111e+07                202.3
1        Mark Buehrle  8.261400e+06                202.3
2   Jonathan Papelbon  1.298227e+07                 70.0
3          Heath Bell  8.261400e+06                 63.7
4          Joe Nathan  9.500610e+06                 64.3
..                ...           ...                  ...
12       Jamey Wright  1.062180e+06                 67.7
13          Zach Duke  1.062180e+06                 13.7
14       Jared Burton  8.851500e+05                 62.0
15         Brad Penny  5.901000e+05                 28.0
16      Hiroki Kuroda  1.180200e+07                219.7

[17 rows x 3 columns]

In [20]:
YX_hitter_raw[1]

           Jugador   Sueldo_2012  Home-runs_2012
0    Albert Pujols  1.416240e+07              30
1       Jose Reyes  1.180200e+07              11
2      C.J. Wilson  1.245111e+07               0
3     Mark Buehrle  8.261400e+06               0
4   Aramis Ramirez  7.081200e+06              27
..             ...           ...             ...
30     Xavier Nady  8.261400e+05               4
31      Brad Penny  5.901000e+05               0
32     Bobby Abreu  1.014817e+07               6
33     Bobby Abreu  5.664960e+05               6
34   Hiroki Kuroda  1.180200e+07               0

[35 rows x 3 columns]

Contruiremos dos bases de datos tipo panel con el objetivo de facilitar la limpieza de datos

In [21]:
YX_pitcher_panel_raw = pd.merge(YX_pitcher_raw[0], YX_pitcher_raw[1], how = 'outer', on = 'Jugador')

for year in range(2,period):
    YX_pitcher_panel_raw = pd.merge(YX_pitcher_panel_raw, YX_pitcher_raw[year], how = 'outer', on = 'Jugador')

In [22]:
YX_pitcher_panel_raw.drop_duplicates(subset = 'Jugador', inplace = True)
YX_pitcher_panel_raw = YX_pitcher_panel_raw.sort_values(by = 'Jugador', ascending = True)
YX_pitcher_panel_raw.reset_index(drop = True, inplace = True)
YX_pitcher_panel_raw.sort_index(axis = 1, inplace = True)
YX_pitcher_panel_raw.tail()

,Inning_pitched_2011,Inning_pitched_2012,Inning_pitched_2013,Inning_pitched_2014,Inning_pitched_2015,Inning_pitched_2016,Inning_pitched_2017,Inning_pitched_2018,Inning_pitched_2019,Inning_pitched_2020,...,Sueldo_2012,Sueldo_2013,Sueldo_2014,Sueldo_2015,Sueldo_2016,Sueldo_2017,Sueldo_2018,Sueldo_2019,Sueldo_2020,Sueldo_2021
319,NaN,13.7,31.3,58.7,61.7,NaN,NaN,NaN,NaN,NaN,...,1062180.0,569968.0,972910.0,5144850.0,NaN,NaN,NaN,NaN,NaN,NaN
320,NaN,NaN,NaN,54.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,572300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13778700.0,NaN,NaN
322,NaN,NaN,177.7,NaN,NaN,158.7,NaN,NaN,NaN,NaN,...,NaN,22100800.0,NaN,NaN,38386000.0,NaN,NaN,NaN,NaN,NaN
323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22510500.0,NaN

Para facilitar los algoritmos, movamos la columna que contiene el nombre del jugador en la primera posición.

In [23]:
player_column_pitcher = YX_pitcher_panel_raw.pop('Jugador')
YX_pitcher_panel_raw.insert(0, 'Jugador', player_column_pitcher)
YX_pitcher_panel_raw.tail()

,Jugador,Inning_pitched_2011,Inning_pitched_2012,Inning_pitched_2013,Inning_pitched_2014,Inning_pitched_2015,Inning_pitched_2016,Inning_pitched_2017,Inning_pitched_2018,Inning_pitched_2019,...,Sueldo_2012,Sueldo_2013,Sueldo_2014,Sueldo_2015,Sueldo_2016,Sueldo_2017,Sueldo_2018,Sueldo_2019,Sueldo_2020,Sueldo_2021
319,Zach Duke,NaN,13.7,31.3,58.7,61.7,NaN,NaN,NaN,NaN,...,1062180.0,569968.0,972910.0,5144850.0,NaN,NaN,NaN,NaN,NaN,NaN
320,Zach Putnam,NaN,NaN,NaN,54.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,572300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,Zack Britton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13778700.0,NaN,NaN
322,Zack Greinke,NaN,NaN,177.7,NaN,NaN,158.7,NaN,NaN,NaN,...,NaN,22100800.0,NaN,NaN,38386000.0,NaN,NaN,NaN,NaN,NaN
323,Zack Wheeler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22510500.0,NaN

In [24]:
YX_pitcher_panel_raw.columns

Index(['Jugador', 'Inning_pitched_2011', 'Inning_pitched_2012',
       'Inning_pitched_2013', 'Inning_pitched_2014', 'Inning_pitched_2015',
       'Inning_pitched_2016', 'Inning_pitched_2017', 'Inning_pitched_2018',
       'Inning_pitched_2019', 'Inning_pitched_2020', 'Inning_pitched_2021',
       'Sueldo_2011', 'Sueldo_2012', 'Sueldo_2013', 'Sueldo_2014',
       'Sueldo_2015', 'Sueldo_2016', 'Sueldo_2017', 'Sueldo_2018',
       'Sueldo_2019', 'Sueldo_2020', 'Sueldo_2021'],
      dtype='object')

In [25]:
print(YX_pitcher_panel_raw.shape)

(324, 23)

Lo que ahora queremos es dividir el dataframe en la variable dependiente e independiente, para ello crearemos un número guía que guarde el índice de la columna a partir de la cual se hará la división. Este índice de guía será cierto para todo tipo de variables mientras el periodo de análisis sea el mismo

In [27]:
split_column_pitcher = 1 + period
print("Nombres ordenados: ", "\n", colored(YX_pitcher_panel_raw.columns, "green"), "\n")
print("Con índice: ", "\n", colored(list(enumerate(YX_pitcher_panel_raw.columns)), "green"), "\n")
print("Índice de columna guía: ", colored(split_column_pitcher, "blue"), '\n')

Nombres ordenados:
 Index(['Jugador', 'Inning_pitched_2011', 'Inning_pitched_2012',
       'Inning_pitched_2013', 'Inning_pitched_2014', 'Inning_pitched_2015',
       'Inning_pitched_2016', 'Inning_pitched_2017', 'Inning_pitched_2018',
       'Inning_pitched_2019', 'Inning_pitched_2020', 'Inning_pitched_2021',
       'Sueldo_2011', 'Sueldo_2012', 'Sueldo_2013', 'Sueldo_2014',
       'Sueldo_2015', 'Sueldo_2016', 'Sueldo_2017', 'Sueldo_2018',
       'Sueldo_2019', 'Sueldo_2020', 'Sueldo_2021'],
      dtype='object')

Nombres ordenados:
 [(0, 'Jugador'), (1, 'Inning_pitched_2011'), (2, 'Inning_pitched_2012'), (3, 'Inning_pitched_2013'), (4, 'Inning_pitched_2014'), (5, 'Inning_pitched_2015'), (6, 'Inning_pitched_2016'), (7, 'Inning_pitched_2017'), (8, 'Inning_pitched_2018'), (9, 'Inning_pitched_2019'), (10, 'Inning_pitched_2020'), (11, 'Inning_pitched_2021'), (12, 'Sueldo_2011'), (13, 'Sueldo_2012'), (14, 'Sueldo_2013'), (15, 'Sueldo_2014'), (16, 'Sueldo_2015'), (17, 'Sueldo_2016'), (18, 'Sueldo_2017'), (19, 'Sueldo_2018'), (20, 'Sueldo_2019'), (21, 'Sueldo_2020'), (22, 'Sueldo_2021')]

Índice de columna guía:  12

Esta columna guía es a partir donde iniciará la otra variable.

Guardaremos los índices de los jugadores que contengan menos de dos datos

In [34]:
max_nan = 2
print("Máximo número de 'nan' que pueden haber en un renglón: ", colored(max_nan, "red"))

Máximo número de 'nan' que pueden haber en un renglón:  2

In [35]:
pitchers_ini_len = YX_pitcher_panel_raw.shape[0]
print("Cantidad de renglones iniciales para la variable independiente: ", colored(pitchers_ini_len, "green"))

Cantidad de renglones iniciales para la variable independiente:  324

Dependiendo del orden alfabético relativo entre **X_raw_hitter** y **Y_raw**.

In [36]:
if Y_raw > X_raw_pitcher:
    X_pitcher_drop_etl = YX_pitcher_panel_raw.iloc[:, 1:split_column_pitcher]
else:
    X_pitcher_drop_etl = YX_pitcher_panel_raw.iloc[:, split_column_pitcher:YX_pitcher_panel_raw.shape[1]]

In [37]:
X_pitcher_drop_etl.head()

,Inning_pitched_2011,Inning_pitched_2012,Inning_pitched_2013,Inning_pitched_2014,Inning_pitched_2015,Inning_pitched_2016,Inning_pitched_2017,Inning_pitched_2018,Inning_pitched_2019,Inning_pitched_2020,Inning_pitched_2021
0,NaN,NaN,NaN,213.7,164.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,119.0,NaN,NaN,NaN,NaN,NaN
2,NaN,179.7,NaN,NaN,172.3,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.3,NaN,NaN

In [38]:
nulls_quantity = period - max_nan
X_pitcher_drop_etl = X_pitcher_drop_etl.iloc[X_pitcher_drop_etl[(X_pitcher_drop_etl.isnull().sum(axis = 1) > nulls_quantity)].index]

In [39]:
X_pitcher_drop_etl.head()

,Inning_pitched_2011,Inning_pitched_2012,Inning_pitched_2013,Inning_pitched_2014,Inning_pitched_2015,Inning_pitched_2016,Inning_pitched_2017,Inning_pitched_2018,Inning_pitched_2019,Inning_pitched_2020,Inning_pitched_2021
1,NaN,NaN,NaN,NaN,NaN,119.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.3,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.7,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN

In [41]:
print("Cantidad de jugadores que no cumplen la condición para la variable independiente: \n", colored(X_pitcher_drop_etl.shape[0], "red"))

Cantidad de jugadores que no cumplen la condición para la variable independiente:
 203

Crearemos un *array* para guardar los índices de los renglones que estén en el dataframe *X_drop_etl*. Son los que no cumplen la condición mencionada anteriormente

In [42]:
X_pitcher_index_drop = X_pitcher_drop_etl.index

Repetiremos el mismo proceso para la variable del salario ajustado de los pitcher

In [45]:
if Y_raw > X_raw_pitcher:
    Y_pitcher_drop_etl = YX_pitcher_panel_raw.iloc[:, split_column_pitcher:YX_pitcher_panel_raw.shape[1]]
else:
    Y_pitcher_drop_etl = YX_pitcher_panel_raw.iloc[:, 1:split_column_pitcher]

In [46]:
Y_pitcher_drop_etl.head()

,Sueldo_2011,Sueldo_2012,Sueldo_2013,Sueldo_2014,Sueldo_2015,Sueldo_2016,Sueldo_2017,Sueldo_2018,Sueldo_2019,Sueldo_2020,Sueldo_2021
0,NaN,NaN,NaN,12876750.0,9718050.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,572967.5,NaN,NaN,NaN,NaN,NaN
2,NaN,3540600.0,NaN,NaN,5716500.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,13719600.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9539100.0,NaN,NaN

In [312]:
Y_pitcher_drop_etl = Y_pitcher_drop_etl.iloc[Y_pitcher_drop_etl[(Y_pitcher_drop_etl.isnull().sum(axis = 1) > nulls_quantity)].index]
Y_pitcher_index_drop = Y_pitcher_drop_etl.index

Luego, eleminemos esos índices del dataframe del panel data

In [313]:
pitcher_index_drop = list(set(Y_pitcher_index_drop).union(set(X_pitcher_index_drop)))

In [314]:
print("Cantidad de jugadores que se eliminarán: \n", colored(len(pitcher_index_drop), "red"))

Cantidad de jugadores que se eliminarán:
 294

In [315]:
YX_pitcher_panel_raw.drop(index = pitcher_index_drop, inplace = True)
YX_pitcher_panel_raw.reset_index(drop = True, inplace = True)
YX_pitcher_panel_raw = YX_pitcher_panel_raw.sort_values(by = 'Jugador', ascending = True)
print("Cantidad de jugadores restantes en total: \n", colored(YX_pitcher_panel_raw.shape, "cyan"))

Cantidad de jugadores restantes en total:
 (166, 23)

In [354]:
YX_pitcher_panel_raw.head()

,Jugador,Home-runs_2011,Home-runs_2012,Home-runs_2013,Home-runs_2014,Home-runs_2015,Home-runs_2016,Home-runs_2017,Home-runs_2018,Home-runs_2019,...,Sueldo_ajustado_2012,Sueldo_ajustado_2013,Sueldo_ajustado_2014,Sueldo_ajustado_2015,Sueldo_ajustado_2016,Sueldo_ajustado_2017,Sueldo_ajustado_2018,Sueldo_ajustado_2019,Sueldo_ajustado_2020,Sueldo_ajustado_2021
0,A.J. Burnett,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.287675e+07,9718050.0,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Pierzynski,NaN,NaN,17.0,5.0,9.0,2.0,NaN,NaN,NaN,...,NaN,8724000.0,1.917651e+05,2743920.0,3443450.0,NaN,NaN,NaN,NaN,NaN
2,Aaron Harang,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,3540600.0,NaN,NaN,5716500.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Adam LaRoche,NaN,NaN,20.0,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,11632000.0,NaN,13719600.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Adam Rosales,NaN,NaN,NaN,4.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,8.584500e+05,NaN,NaN,1381875.0,NaN,NaN,NaN,NaN

Obtengamos la variable $X$. Hallemos primero los máximos y mínimos por renglón

In [438]:
X_etl = YX_pitcher_panel_raw.iloc[:,1:split_column]

In [439]:
pitcher_max_element = X_etl.max(axis = 1)
pitcher_min_element = X_etl.min(axis = 1)

In [440]:
pitcher_max_min = (pitcher_max_element + pitcher_min_element)/2

Generemos las listas que contengan los nombres de las nuevas variables: La dummy auxiliar y $X$.

In [441]:
dummy_names = []
X_names = []

for year in range(0,period):
    dummy_names.append("I_" + str(2011 + year))
    X_names.append("X_" + str(2011 + year))

In [442]:
print(dummy_names)
print()
print(X_names)

['I_2011', 'I_2012', 'I_2013', 'I_2014', 'I_2015', 'I_2016', 'I_2017', 'I_2018', 'I_2019', 'I_2020', 'I_2021']

['X_2011', 'X_2012', 'X_2013', 'X_2014', 'X_2015', 'X_2016', 'X_2017', 'X_2018', 'X_2019', 'X_2020', 'X_2021']

In [443]:
for year in range(0,period):
    X_pitcher_conditions = [
    (X_etl.iloc[:,year] == pitcher_max_element) & ~(X_etl.iloc[:,year].isnull()),
    (X_etl.iloc[:,year] != pitcher_max_element) & ~(X_etl.iloc[:,year].isnull())
    ]

    X_pitcher_conditions_values = [0,1]
    
    X_etl[dummy_names[year]] = np.select(X_pitcher_conditions, X_pitcher_conditions_values, default = np.nan)

In [444]:
X_etl.columns

Index(['Home-runs_2011', 'Home-runs_2012', 'Home-runs_2013', 'Home-runs_2014',
       'Home-runs_2015', 'Home-runs_2016', 'Home-runs_2017', 'Home-runs_2018',
       'Home-runs_2019', 'Home-runs_2020', 'Home-runs_2021', 'I_2011',
       'I_2012', 'I_2013', 'I_2014', 'I_2015', 'I_2016', 'I_2017', 'I_2018',
       'I_2019', 'I_2020', 'I_2021'],
      dtype='object')

In [445]:
X_aux = X_etl.iloc[:,:period]
X_aux.head()

,Home-runs_2011,Home-runs_2012,Home-runs_2013,Home-runs_2014,Home-runs_2015,Home-runs_2016,Home-runs_2017,Home-runs_2018,Home-runs_2019,Home-runs_2020,Home-runs_2021
0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,17.0,5.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN
2,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20.0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,4.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN

In [446]:
Dummy = X_etl.iloc[:,period:]
Dummy.head()

,I_2011,I_2012,I_2013,I_2014,I_2015,I_2016,I_2017,I_2018,I_2019,I_2020,I_2021
0,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN

Usemos la variable dummy para crear la columna que contenga el siguiente dato:

$$
X = \left( -1 \right)^{I_{t}^{-}}\frac{y_{t}}{\sqrt{y_H}}
$$

In [449]:
for year in range(0,period):    
    X_etl[X_names[year]] = X_aux[X_aux.columns[year]]*((-1)**Dummy[Dummy.columns[year]])

In [450]:
X_etl.iloc[:,2*period:].head()

,X_2011,X_2012,X_2013,X_2014,X_2015,X_2016,X_2017,X_2018,X_2019,X_2020,X_2021
0,NaN,NaN,NaN,-0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,17.0,-5.0,-9.0,-2.0,NaN,NaN,NaN,NaN,NaN
2,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20.0,NaN,-12.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,-4.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN

**Pendientes:** Hay agentes libres cuyos valores de desempeño son los mismos a lo largo de todos los años de análisis o casos en los que $y_{H} = 0$.