# Players dataframes with t-1 variables

En este script nos dedicaremos a crear una base de datos limpia segmentada por hitters y pitchers. Debido a que es totalmente análogo al script para variables del mismo periodo $t$, se omitirán solo las explicaciones del código reutilizado.

- **Visualización del contenido de las bases de datos.**
- **Limpieza de la base de datos y exportación.**
- **Creación de indicador de si el jugador es agente libre.**

Importemos los modulos necesarios así como especificar la configuración deseada.

In [1]:
import pandas as pd
import numpy as np
import math
import os
import warnings
import statsmodels.api as sm
from matplotlib.colors import ListedColormap
from termcolor import colored
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')

In [3]:
# Directorio de trabajo
print("Directorio de trabajo previo: " + str(os.getcwd()))
# Cambiemoslo
os.chdir('/home/usuario/Documentos/Github/Proyectos/MLB_HN/')

Directorio de trabajo previo: /home/usuario/Documentos/Github/Proyectos/MLB_HN/Visualizations/Descriptive_statistics/Panel

In [4]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
print("Nuevo directorio de trabajo: " + str(os.chdir(path)))

/home/usuario/Documentos/Github/Proyectos/MLB_HN
Nuevo directorio de trabajo: None

## Visualización de las bases de datos

### Equipos por estado

In [5]:
states = 'Data/Teams/team_states.csv'
df_states = pd.read_csv(states)

In [6]:
df_states.head()

       Estado  Cantidad de equipos
0     Alabama                    0
1      Alaska                    0
2     Arizona                    1
3    Arkansas                    0
4  California                    5

### Acrónimos

Nos servirá como llave intermedia para unificar las bases de datos de los equipos

In [7]:
acronym = 'Data/Teams/team_acronym.csv'
df_acronym = pd.read_csv(acronym)

In [8]:
df_acronym.head()

                 Equipo Acronimo         Estado
0  Arizona Diamondbacks      ARI        Arizona
1        Atlanta Braves      ATL        Georgia
2     Baltimore Orioles      BAL       Maryland
3        Boston Red Sox      BOS  Massachusetts
4          Chicago Cubs      CHC       Illinois

Unamos esta dataframe con el de los equipos por estado

In [9]:
acronym_state = pd.merge(df_states, df_acronym, on = 'Estado')

In [10]:
acronym_state.head()

       Estado  Cantidad de equipos                Equipo Acronimo
0     Arizona                    1  Arizona Diamondbacks      ARI
1  California                    5    Los Angeles Angels      LAA
2  California                    5   Los Angeles Dodgers      LAD
3  California                    5     Oakland Athletics      OAK
4  California                    5      San Diego Padres       SD

En este caso, el nombre de las variables es claro

## Algoritmo para la creación de las bases de datos

A continuaicón, se optimizará el código para que se puedan obtener los *dataframes* anteriores para un cojuntos de datos de años secuenciales, como es nuestro caso

In [11]:
# Auxiliares:
free_agents = 'Data/Free_Agents/free_agents_'
hitting = 'Data/Statistics/Per_Game/Hitting/hitting_'
pitching = 'Data/Statistics/Per_Game/Pitching/pitching_'
salary = 'Data/Salary/salary_'
teams = 'ETL_Data/Agent/Teams/free_agents_team_'
csv = '.csv'
period = 12
# Originales:
df_free_agents = [None]*period
df_hitting = [None]*period
df_pitching = [None]*period
df_salary = [None]*period
df_teams = [None]*period
# Copias:
df_free_agents_copy = [None]*period
df_hitting_copy = [None]*period
df_pitching_copy = [None]*period
df_salary_copy = [None]*period
df_teams_copy = [None]*period
# Producto final:
df_pitchers = [None]*period
df_hitters = [None]*period
df_pitchers_free_agents = [None]*period
df_hitters_free_agents = [None]*period
df_pitchers_no_free_agents = [None]*period
df_hitters_no_free_agents = [None]*period
df_panel_hitters = [None]*period
df_panel_pitchers = [None]*period

Leamos todos los archivos y creemos las copias

In [12]:
for year in range(0,period):    
    df_free_agents[year] = pd.read_csv(free_agents + str(2011 + year) + csv)
    df_hitting[year] = pd.read_csv(hitting + str(2011 + year) + csv)
    df_pitching[year] = pd.read_csv(pitching + str(2011 + year) + csv)
    df_salary[year] = pd.read_csv(salary + str(2011 + year) + csv)
    df_teams[year] = pd.read_csv(teams + str(2011 + year) + csv)
    
    df_free_agents_copy[year] = df_free_agents[year].copy()
    df_hitting_copy[year] = df_hitting[year].copy()
    df_pitching_copy[year] = df_pitching[year].copy()
    df_salary_copy[year] = df_salary[year].copy()
    df_teams_copy[year] = pd.read_csv(teams + str(2011 + year) + csv)

Tratemos las bases de datos por separado. Sin embargo, a todas les quitaremos la columna de rango y *Cash2023*.

Como no queremos que se repita la columna del año de la temporada de la base de datos, borremos la columna de *Year* de la base  de datos de los agentes libres. Como los años del contrato aparecen en la base de datos sobre los salarios, se prefiere conservar dicha columna en la base de datos de salarios puesto que esta base de datos es más general que la de los agentes libres, razón por la que se borrará de esta última base de datos. 

El equipo al que se cambia el agente libre está señalado por la columna del equipo en la base de datos de salarios y la estadísticas deportivas por lo que se borrará *Team From To* de la base de datos de los agentes libres. 

Como nos importan los salarios para este analisis, quitaremos la columna de los equipos en las bases de datos sobre las estadísticas deportivas de todos los jugadores, así como la posición que ocupan.

In [13]:
for year in range(0,period):
    # Drop columns:
    if any(name in df_free_agents_copy[year].columns for name in ['Rank','Pos','Year','Team From To']):
        df_free_agents_copy[year].drop('Rank', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Year', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Pos', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Team From To', axis = 1, inplace = True)
    if 'Rank' in df_salary_copy[year].columns:
        df_salary_copy[year].drop('Rank', axis = 1, inplace = True)
    if any(name in df_hitting_copy[year].columns for name in ['Rank','Year','Cash2023','Team','Pos']):
        df_hitting_copy[year].drop('Rank', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Cash2023', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Team', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Pos', axis = 1, inplace = True)
    if any(name in df_pitching_copy[year].columns for name in ['Rank','Year','Cash2023','Team','Pos']):
        df_pitching_copy[year].drop('Rank', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Cash2023', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Team', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Pos', axis = 1, inplace = True)

Debido a que aparecen columnas que inician con el  nombre *Unnamed*, tendremos que borrarlas con algún método general, el cual se muestra a continuación:

In [14]:
for year in range(0,period):
    # Base de datos de agentes libres:
    df_free_agents_copy[year].drop(df_free_agents_copy[year].columns[df_free_agents_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los salarios:
    df_salary_copy[year].drop(df_salary_copy[year].columns[df_salary_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los hitters:
    df_hitting_copy[year].drop(df_hitting_copy[year].columns[df_hitting_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los pitchers:
    df_pitching_copy[year].drop(df_pitching_copy[year].columns[df_pitching_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)

Verifiquemos que ya no se encuentran dichas columnas molestas

In [15]:
df_free_agents_copy[9].columns

Index(['Player', 'Status', 'Team From', 'YRS', 'Value', 'AAV'], dtype='object')

In [16]:
df_salary_copy[11].columns

Index(['Player', 'Year', 'Pos', 'Team', 'BaseSalary', 'SigningBonus',
       'Payroll Salary', 'Adj Salary', 'Salary%', 'Cash', 'AAV', 'CONT YR',
       'CONT VALUE', 'Earnings', 'FA Year', 'Sign Age', 'Age', 'Weight',
       'Height'],
      dtype='object')

In [17]:
df_hitting_copy[2].columns

Index(['Player', 'GP', 'GP%', 'GS', 'GS%', 'AB', 'H', '2B', '3B', 'HR', 'RBI',
       'AVG', 'OBP', 'SLG', 'OPS', 'TVS'],
      dtype='object')

In [18]:
df_pitching_copy[5].columns

Index(['Player', 'GP', 'GS', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'W', 'L', 'SV',
       'WHIP', 'ERA', 'WAR', 'TVS'],
      dtype='object')

#### Agentes libres

No se conservará el equipo al que es contratado el agente libre puesto que esta información también la contiene la base de datos que facilita más el tratamiento _ETL_.

In [19]:
for year in range(0,period):
    df_free_agents_copy[year] = df_free_agents_copy[year].rename(columns = {'Player':'Jugador',
                                'Status':'Status_agente_libre', 'Team From':'Equipo_anterior',
                                'Value':'Valor_contrato', 'AAV':'Valor_promedio_contrato',
                                'YRS':'Anios_de_contrato'})
    
    free_agents_aux_1 = df_free_agents_copy[year]['Valor_contrato'].str.replace("$","")
    free_agents_aux_2 = free_agents_aux_1.str.replace(",","")
    free_agents_aux_3 = df_free_agents_copy[year]['Valor_promedio_contrato'].str.replace("$","")
    free_agents_aux_4 = free_agents_aux_3.str.replace(",","")
    df_free_agents_copy[year]['Valor_contrato'] = free_agents_aux_2
    df_free_agents_copy[year]['Valor_promedio_contrato'] = free_agents_aux_4
    
    df_free_agents_copy[year]['Valor_contrato'] = pd.to_numeric(df_free_agents_copy[year]['Valor_contrato'])
    df_free_agents_copy[year]['Valor_promedio_contrato'] = pd.to_numeric(df_free_agents_copy[year]['Valor_promedio_contrato'])

Observemos las dimensiones de las bases de datos como referencia

In [20]:
for year in range(0,period):
    print(df_free_agents_copy[year].shape)

(1, 6)
(108, 6)
(213, 6)
(208, 6)
(221, 6)
(241, 6)
(100, 6)
(98, 6)
(105, 6)
(118, 6)
(141, 6)
(137, 6)

También el tipo de datos que contiene cada columna

In [21]:
df_free_agents_copy[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  100 non-null    object
 1   Status_agente_libre      100 non-null    object
 2   Equipo_anterior          100 non-null    object
 3   Anios_de_contrato        100 non-null    int64
 4   Valor_contrato           100 non-null    int64
 5   Valor_promedio_contrato  100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

Agreguemos los agentes libres en todas las temporadas que su contrato está vigente en lugar de solo tener observaciones en el año que firmaron. Para obervar cuántos datos se añadirán, veamos el tamaño inicial de las bases de datos.

In [22]:
period_t = period - 1
start_year = 2011
end_year = 2022
df_contracts = [None]*(period_t)

In [23]:
for year in range(1,period_t):
    
    max_year_contract = max(df_free_agents_copy[year]['Anios_de_contrato'])
    years = max_year_contract - 1
    df_contracts[year] = [None]*years
    
    for incremento in range(0,years):
        diff_t = 1 + incremento
        real_year = start_year + year + diff_t
        year_bound = end_year

        if real_year <= year_bound:
            df_contracts[year][incremento] = df_free_agents_copy[year][df_free_agents_copy[year]['Anios_de_contrato'] > diff_t]

In [24]:
for year in range(1,period_t):
    years = len(df_contracts[year])
    
    for incremento in range(0,years):
        diff_t = 1 + incremento
        real_year = start_year + year + diff_t
        year_bound = end_year

        if real_year <= year_bound:
            frames = [df_free_agents_copy[year + diff_t], df_contracts[year][incremento]]
            
            df_free_agents_copy[year + diff_t] = pd.concat(frames)
            
            df_free_agents_copy[year + diff_t].reset_index(drop = True, inplace = True)
            df_free_agents_copy[year + diff_t] = df_free_agents_copy[year + diff_t].sort_values(by = 'Jugador', ascending = True)

Veamos los resultados

In [25]:
for year in range(0,period):
    print(df_free_agents_copy[year].shape)

(1, 6)
(108, 6)
(243, 6)
(260, 6)
(293, 6)
(306, 6)
(182, 6)
(174, 6)
(189, 6)
(192, 6)
(203, 6)
(196, 6)

#### Salarios

Como los salarios irán con las bases de datos de los _hitters_ y _pitchers_ es que se hará su proceso _ETL_ antes.

In [26]:
for year in range(0,period):
    # Cambio de nombres
    df_salary_copy[year] = df_salary_copy[year].rename(columns = {'Player':'Jugador',
                            'BaseSalary':'Sueldo_base', 'SigningBonus':'Bono_por_firma',
                            'Payroll Salary':'Sueldo_regular', 'Adj Salary':'Sueldo_ajustado',
                            'CONT YR':'Anios_de_contrato', 'CONT VALUE':'Valor_del_contrato',
                            'Earnings':'Ganancias', 'FA Year':'Anio_de_agente_libre',
                            'Sign Age':'Edad_al_firmar', 'Age':'Edad', 'Weight':'Peso',
                            'Height':'Altura', 'Year':'Anio', 'Pos':'Posicion',
                            'Salary%':'Sueldo_porcentual', 'Cash':'Pago_efectivo',
                            'AAV':'Valor_contrato_promedio', 'Team':'Acronimo'})
    
    # Tranformando al tipo de dato apropiado
    salary_aux_1 = df_salary_copy[year]['Sueldo_base'].str.replace("$","")
    salary_aux_2 = salary_aux_1.str.replace(",","")
    df_salary_copy[year]['Sueldo_base'] = salary_aux_2
    df_salary_copy[year]['Sueldo_base'] = pd.to_numeric(df_salary_copy[year]['Sueldo_base'])
    
    salary_aux_3 = df_salary_copy[year]['Sueldo_regular'].str.replace("$","")
    salary_aux_4 = salary_aux_3.str.replace(",","")
    df_salary_copy[year]['Sueldo_regular'] = salary_aux_4
    df_salary_copy[year]['Sueldo_regular'] = pd.to_numeric(df_salary_copy[year]['Sueldo_regular'])
    
    salary_aux_5 = df_salary_copy[year]['Sueldo_ajustado'].str.replace("$","")
    salary_aux_6 = salary_aux_5.str.replace(",","")
    df_salary_copy[year]['Sueldo_ajustado'] = salary_aux_6
    df_salary_copy[year]['Sueldo_ajustado'] = pd.to_numeric(df_salary_copy[year]['Sueldo_ajustado'])
    
    salary_aux_7 = df_salary_copy[year]['Valor_del_contrato'].str.replace("$","")
    salary_aux_8 = salary_aux_7.str.replace(",","")
    df_salary_copy[year]['Valor_del_contrato'] = salary_aux_8
    df_salary_copy[year]['Valor_del_contrato'] = pd.to_numeric(df_salary_copy[year]['Valor_del_contrato'])
    
    salary_aux_9 = df_salary_copy[year]['Bono_por_firma'].str.replace("$","")
    salary_aux_10 = salary_aux_9.str.replace(",","")
    df_salary_copy[year]['Bono_por_firma'] = salary_aux_10
    df_salary_copy[year]['Bono_por_firma'] = pd.to_numeric(df_salary_copy[year]['Bono_por_firma'])
    
    salary_aux_11 = df_salary_copy[year]['Ganancias'].str.replace("$","")
    salary_aux_12 = salary_aux_11.str.replace(",","")
    df_salary_copy[year]['Ganancias'] = salary_aux_12
    df_salary_copy[year]['Ganancias'] = pd.to_numeric(df_salary_copy[year]['Ganancias'])
    
    salary_aux_13 = df_salary_copy[year]['Pago_efectivo'].str.replace("$","")
    salary_aux_14 = salary_aux_13.str.replace(",","")
    df_salary_copy[year]['Pago_efectivo'] = salary_aux_14
    df_salary_copy[year]['Pago_efectivo'] = pd.to_numeric(df_salary_copy[year]['Pago_efectivo'])
    
    salary_aux_15 = df_salary_copy[year]['Valor_contrato_promedio'].str.replace("$","")
    salary_aux_16 = salary_aux_15.str.replace(",","")
    df_salary_copy[year]['Valor_contrato_promedio'] = salary_aux_16
    df_salary_copy[year]['Valor_contrato_promedio'] = pd.to_numeric(df_salary_copy[year]['Valor_contrato_promedio'])
    
    salary_aux_17 = df_salary_copy[year]['Altura'].str.replace("\"","")
    salary_aux_18 = salary_aux_17.str.replace("'","")
    df_salary_copy[year]['Altura'] = salary_aux_18
    df_salary_copy[year]['Altura'] = pd.to_numeric(df_salary_copy[year]['Altura'])/10
    # SUstitullamos los xeros
    height_mean = df_salary_copy[year]['Altura'].mean(skipna=True)
    df_salary_copy[year]['Altura'] = df_salary_copy[year].Altura.mask(df_salary_copy[year].Altura == 0, height_mean)
    
    df_salary_copy[year]['Anio_de_agente_libre'] = pd.to_numeric(df_salary_copy[year]['Anio_de_agente_libre'])
    df_salary_copy[year]['Anios_de_contrato'] = pd.to_numeric(df_salary_copy[year]['Anios_de_contrato'])
    df_salary_copy[year]['Edad'] = pd.to_numeric(df_salary_copy[year]['Edad'])

Por algunas particularidades de la base de datos, las columna que contiene la edad al firmar se tratará por separado aprovechando que la mayoría de los datos incorrectos tienen una longitud mayor a dos.

In [27]:
for year in range (0,period):
    df_salary_copy[year]['Edad_al_firmar'] = df_salary_copy[year]['Edad_al_firmar'].map(str)

    for edad in range(0,df_salary_copy[year].shape[0]):
        # String es mayor que 0:
        if len(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) == 2:
            df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(df_salary_copy[year]['Edad_al_firmar'].iloc[edad])
            
        # String es menor o igual que 0:
        elif len(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) != 2:
            # Si la columna de la edad contiene datos correctos
            if df_salary_copy[year]['Edad'].iloc[edad] > 0:
                if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                    ag_year = year + 2011 + 1
                else:
                    ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
                # Get first year of contract
                ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
                # Años desde el el año inicial
                dif_years = year + 2011 - ini_year
                # Edad al firmar:
                sign_age = df_salary_copy[year]['Edad'].iloc[edad] - dif_years
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(sign_age)
                
            # Si la columna de edad no contiene un dato coherente
            else:
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(18)    
    
        # Entero  menor a 0:
        if df_salary_copy[year]['Edad_al_firmar'].iloc[edad] < 0:
            # Si la columna de la edad contiene datos correctos
            if df_salary_copy[year]['Edad'].iloc[edad] > 0:
                if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                    ag_year = year + 2011 + 1
                else:
                    ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
                # Get first year of contract
                ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
                # Años desde el el año inicial
                dif_years = year + 2011 - ini_year
                # Edad al firmar:
                sign_age = df_salary_copy[year]['Edad'].iloc[edad] - dif_years
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(sign_age)
                
            # Si la columna de edad no contiene un dato coherente
            else:
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(18)
         
    # Transformemos los datos a enteros
    df_salary_copy[year]['Edad_al_firmar'] = pd.to_numeric(df_salary_copy[year]['Edad_al_firmar'])

Podemos verificar si se limpiaron adecuadamente las celdas de la columna de edades al firmar. Esto, al filtrar los datos que sean distintos a enteros y al observar si se pudo transformar toda la columna al tipo entero.

In [28]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
        if type(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) != np.int64:
            print(type(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]))

In [29]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
        if df_salary_copy[year]['Edad_al_firmar'].iloc[edad] < 0:
            print(df_salary_copy[year]['Edad_al_firmar'].iloc[edad])

In [30]:
#for year in range(0,period):
#    print(type(df_salary_copy[year][['Edad_al_firmar']].info()))

In [31]:
#for year in range(0,period):
#    print(year)
#    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
#        print(str(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) + ' ' + str(edad))

Por otro lado, falta corregir las entradas de las columnas de las edades que tengan valores menores a cero. Esto se hará de acuerdo al resto de columnas

In [32]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad'].shape[0]):
        if df_salary_copy[year]['Edad'].iloc[edad] < 0:
            print(year)
            print(df_salary_copy[year]['Edad'].iloc[edad])

0
-9
1
-9
2
-7

In [33]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year].shape[0]):
        # Condición para imputar:
        if df_salary_copy[year]['Edad'].iloc[edad] <= 0:
            # Si no se indica si tendrá año de agencia libre:
            if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                        ag_year = year + 2011 + 1
            # Si tendrá año de agencia libre
            else:
                ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
            # Get first year of contract
            ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
            # Años desde el el año inicial
            dif_years = year + 2011 - ini_year
            # Edad en la temporada:
            seasson_age = df_salary_copy[year]['Edad_al_firmar'].iloc[edad] + dif_years
            # Asignación
            df_salary_copy[year]['Edad'].iloc[edad] = seasson_age

Comprobemos que no hay ninguna edad negativa

In [34]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad'].shape[0]):
        if df_salary_copy[year]['Edad'].iloc[edad] < 0:
            print(year)
            print(str(df_salary_copy[year]['Edad'].iloc[edad]) + ' ' + str(edad))

Con la imputación de datos ya se puede crear la columna que contiene la antiguedad del agente libre bajo el contrato

In [35]:
for year in range(0,period):
    df_salary_copy[year]['Antiguedad'] = df_salary_copy[year]['Edad'] - df_salary_copy[year]['Edad_al_firmar']

Por último, convirtamos la columna del año a string para que se entienda como una categoría y no una variable numérica

In [36]:
for year in range(0,period):
    df_salary_copy[year]['Anio'] = df_salary_copy[year]['Anio'].map(str)

In [37]:
df_salary_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1045 non-null   object
 1   Anio                     1045 non-null   object
 2   Posicion                 1045 non-null   object
 3   Acronimo                 1045 non-null   object
 4   Sueldo_base              1045 non-null   int64
 5   Bono_por_firma           1045 non-null   int64
 6   Sueldo_regular           1045 non-null   int64
 7   Sueldo_ajustado          1045 non-null   int64
 8   Sueldo_porcentual        1045 non-null   float64
 9   Pago_efectivo            1045 non-null   int64
 10  Valor_contrato_promedio  1045 non-null   int64
 11  Anios_de_contrato        1045 non-null   int64
 12  Valor_del_contrato       1045 non-null   int64
 13  Ganancias                1045 non-null   int64
 14  Anio_de_agente_libre     1045 non-null   int64
 15  Edad_al_firmar           1045 non-null   int64
 16  Edad                     1045 non-null   int64
 17  Peso                     1045 non-null   int64
 18  Altura                   1045 non-null   float64
 19  Antiguedad               1045 non-null   int64
dtypes: float64(2), int64(14), object(4)
memory usage: 163.4+ KB

#### Hitters

In [38]:
for year in range(0,period):
    # Cambio de nombres
    df_hitting_copy[year] = df_hitting_copy[year].rename(columns = {'Player':'Jugador',
                            'GP':'Juegos', 'GP%':'Porcentaje_juegos',
                            'AB':'At-bats', 'H':'Bateos', 'GS':'Juegos_iniciados',
                            'GS%':'Porcentaje_juegos_iniciados', 'RBI':'Runs-batted-in',
                            'HR':'Home-runs', 'AVG':'Bateos_promedio',
                            '2B':'Dobles', '3B':'Triples', 'OPS':'Porcentaje_On-base-plus-slugging',
                            'SLG':'Porcentaje_slugging', 'OBP':'Porcentaje_on-base'})

In [39]:
for year in range(0,period):
    print(df_hitting_copy[year].shape)

(182, 16)
(196, 16)
(277, 16)
(308, 16)
(472, 16)
(512, 16)
(236, 16)
(262, 16)
(280, 16)
(265, 16)
(463, 16)
(36, 16)

In [40]:
df_hitting_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Jugador                           512 non-null    object
 1   Juegos                            512 non-null    float64
 2   Porcentaje_juegos                 512 non-null    float64
 3   Juegos_iniciados                  512 non-null    float64
 4   Porcentaje_juegos_iniciados       512 non-null    float64
 5   At-bats                           512 non-null    float64
 6   Bateos                            512 non-null    float64
 7   Dobles                            512 non-null    float64
 8   Triples                           512 non-null    float64
 9   Home-runs                         512 non-null    float64
 10  Runs-batted-in                    512 non-null    float64
 11  Bateos_promedio                   512 non-null    float64
 12  Porcentaje_on-base                512 non-null    float64
 13  Porcentaje_slugging               512 non-null    float64
 14  Porcentaje_On-base-plus-slugging  512 non-null    float64
 15  TVS                               512 non-null    float64
dtypes: float64(15), object(1)
memory usage: 64.1+ KB

In [41]:
df_hitting_copy[5].columns

Index(['Jugador', 'Juegos', 'Porcentaje_juegos', 'Juegos_iniciados',
       'Porcentaje_juegos_iniciados', 'At-bats', 'Bateos', 'Dobles', 'Triples',
       'Home-runs', 'Runs-batted-in', 'Bateos_promedio', 'Porcentaje_on-base',
       'Porcentaje_slugging', 'Porcentaje_On-base-plus-slugging', 'TVS'],
      dtype='object')

#### Pitchers

In [42]:
for year in range(0,period):
    # Cambio de nombres
    df_pitching_copy[year] = df_pitching_copy[year].rename(columns = {'Player':'Jugador',
                             'GP':'Juegos', 'GS':'Juegos_iniciados', 'IP':'Inning_pitched',
                             'H':'Bateos', 'R':'Carreras', 'ER':'Carreras_ganadas',
                             'BB':'Walks', 'SO':'Strike-outs', 'W':'Wins', 'L':'Losses',
                             'SV':'Saves'})

In [43]:
for year in range(0,period):
    print(df_pitching_copy[year].shape)

(66, 16)
(84, 16)
(103, 16)
(106, 16)
(106, 16)
(80, 16)
(89, 16)
(99, 16)
(94, 16)
(37, 16)
(91, 16)
(100, 16)

In [44]:
df_pitching_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Jugador           80 non-null     object
 1   Juegos            80 non-null     float64
 2   Juegos_iniciados  80 non-null     float64
 3   Inning_pitched    80 non-null     float64
 4   Bateos            80 non-null     float64
 5   Carreras          80 non-null     float64
 6   Carreras_ganadas  80 non-null     float64
 7   Walks             80 non-null     float64
 8   Strike-outs       80 non-null     float64
 9   Wins              80 non-null     float64
 10  Losses            80 non-null     float64
 11  Saves             80 non-null     float64
 12  WHIP              80 non-null     float64
 13  ERA               80 non-null     float64
 14  WAR               75 non-null     float64
 15  TVS               80 non-null     float64
dtypes: float64(15), object(1)
memory usage: 10.1+ KB

## Agregación de variables sugeridas por artículos

Las primeras variables que agregaremos son el cuadrado de todas las estadísticas deportivas, así como las siguientes variables:

- DOMINANCE = $Strike-outs/(9*Inning \; Pitched)$
- CONTROL = $Walks/(9*Inning \; Pitched)$
- COMMAND = $Strike-outs/Walks$

In [45]:
for year in range(0,period):
    df_pitching_copy[year]['Dominio'] = df_pitching_copy[year]['Strike-outs']/(9*df_pitching_copy[year]['Inning_pitched'])
    df_pitching_copy[year]['Control'] = df_pitching_copy[year]['Walks']/(9*df_pitching_copy[year]['Inning_pitched'])
    df_pitching_copy[year]['Comando'] = df_pitching_copy[year]['Strike-outs']/df_pitching_copy[year]['Walks']

In [46]:
for year in range(0,period):
    print(df_pitching_copy[year].shape)

(66, 19)
(84, 19)
(103, 19)
(106, 19)
(106, 19)
(80, 19)
(89, 19)
(99, 19)
(94, 19)
(37, 19)
(91, 19)
(100, 19)

In [47]:
df_pitching_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Jugador           103 non-null    object
 1   Juegos            103 non-null    float64
 2   Juegos_iniciados  103 non-null    float64
 3   Inning_pitched    103 non-null    float64
 4   Bateos            103 non-null    float64
 5   Carreras          103 non-null    float64
 6   Carreras_ganadas  103 non-null    float64
 7   Walks             103 non-null    float64
 8   Strike-outs       103 non-null    float64
 9   Wins              103 non-null    float64
 10  Losses            103 non-null    float64
 11  Saves             103 non-null    float64
 12  WHIP              103 non-null    float64
 13  ERA               103 non-null    float64
 14  WAR               53 non-null     float64
 15  TVS               103 non-null    float64
 16  Dominio           101 non-null    float64
 17  Control           102 non-null    float64
 18  Comando           101 non-null    float64
dtypes: float64(18), object(1)
memory usage: 15.4+ KB

Podemos verificar qué entradas poseen valores infinitos en la base de datos

In [48]:
"""
for year in range(0,period):
    print(str(2011 + year))
    for name in df_pitching_copy[year].columns:
        print(name)
        if type(name) != str:
            for element in range(0,len(df_pitching_copy[year][name])):
                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:
                    print(str(element) +  '  ' + str(df_pitching_copy[year][name].iloc[element]))
    print("")
"""

'\nfor year in range(0,period):\n    print(str(2011 + year))\n    for name in df_pitching_copy[year].columns:\n        print(name)\n        if type(name) != str:\n            for element in range(0,len(df_pitching_copy[year][name])):\n                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:\n                    print(str(element) +  \'  \' + str(df_pitching_copy[year][name].iloc[element]))\n    print("")\n'

Siguiendo la sugerencia de algunos artículos, obtengamos el logaritmo de los salarios

In [49]:
for year in range(0,period):
    df_salary_copy[year]['ln_Sueldo_base'] = np.log(df_salary_copy[year]['Sueldo_base'])
    df_salary_copy[year]['ln_Sueldo_ajustado'] = np.log(df_salary_copy[year]['Sueldo_ajustado'])
    df_salary_copy[year]['ln_Sueldo_regular'] = np.log(df_salary_copy[year]['Sueldo_regular'])

In [50]:
df_salary_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1013 non-null   object
 1   Anio                     1013 non-null   object
 2   Posicion                 1013 non-null   object
 3   Acronimo                 1013 non-null   object
 4   Sueldo_base              1013 non-null   int64
 5   Bono_por_firma           1013 non-null   int64
 6   Sueldo_regular           1013 non-null   int64
 7   Sueldo_ajustado          1013 non-null   int64
 8   Sueldo_porcentual        1013 non-null   float64
 9   Pago_efectivo            1013 non-null   int64
 10  Valor_contrato_promedio  1013 non-null   int64
 11  Anios_de_contrato        1013 non-null   int64
 12  Valor_del_contrato       1013 non-null   int64
 13  Ganancias                1013 non-null   int64
 14  Anio_de_agente_libre     1013 non-null   int64
 15  Edad_al_firmar           1013 non-null   int64
 16  Edad                     1013 non-null   int64
 17  Peso                     1013 non-null   int64
 18  Altura                   1013 non-null   float64
 19  Antiguedad               1013 non-null   int64
 20  ln_Sueldo_base           1013 non-null   float64
 21  ln_Sueldo_ajustado       1013 non-null   float64
 22  ln_Sueldo_regular        1013 non-null   float64
dtypes: float64(5), int64(14), object(4)
memory usage: 182.1+ KB

Debido a que hay columnas con datos tipo _Nan_ o _NULL_, optaremos por imputarlos.

Mientras que los valores infinitos generados por las nuevas variables se sustituirán dependediendo del caso:

- 0/0: 0
- num/0: Máximo de la columna correspondientefijarán

In [51]:
for year in range(0,period):
    # Salaries
    mean_hgt = df_salary_copy[year].loc[df_salary_copy[year]['Altura'] > 4.9].Altura.mean()
    mean_wgh = df_salary_copy[year].loc[df_salary_copy[year]['Peso'] > 0].Peso.mean()
    df_salary_copy[year]['Altura'].fillna(value = mean_hgt, inplace = True)
    df_salary_copy[year]['Altura'].mask(df_salary_copy[year]['Altura'] <= 4.9, mean_hgt, inplace = True)
    df_salary_copy[year]['Peso'].fillna(value = mean_wgh, inplace = True)
    df_salary_copy[year]['Peso'].mask(df_salary_copy[year]['Peso'] <= 0, mean_wgh, inplace = True)
    
    # Pitchers
    mean_war = df_pitching_copy[year].loc[df_pitching_copy[year]['WAR'] > 0].WAR.mean()
    mean_dom = df_pitching_copy[year].loc[df_pitching_copy[year]['Dominio'] > 0].Dominio.mean()
    mean_con = df_pitching_copy[year].loc[df_pitching_copy[year]['Control'] > 0].Control.mean()
    mean_com = df_pitching_copy[year].loc[df_pitching_copy[year]['Comando'] > 0].Comando.mean()
    df_pitching_copy[year]['WAR'].fillna(value = mean_war, inplace = True)
    df_pitching_copy[year]['WAR'].mask(df_pitching_copy[year]['WAR'] <= 0, mean_war, inplace = True)
    df_pitching_copy[year]['Dominio'].fillna(value = mean_dom, inplace = True)
    df_pitching_copy[year]['Dominio'].mask(df_pitching_copy[year]['Dominio'] <= 0, mean_dom, inplace = True)
    df_pitching_copy[year]['Control'].fillna(value = mean_con, inplace = True)
    df_pitching_copy[year]['Control'].mask(df_pitching_copy[year]['Control'] <= 0, mean_con, inplace = True)
    df_pitching_copy[year]['Comando'].fillna(value = mean_com, inplace = True)
    df_pitching_copy[year]['Comando'].mask(df_pitching_copy[year]['Comando'] <= 0, mean_com, inplace = True)

In [52]:
for year in range(0,period):   
    # Condiciones
    con_dom_1 = df_pitching_copy[year]['Strike-outs'] == 0
    con_con_1 = df_pitching_copy[year]['Walks'] == 0
    con_com_1 = df_pitching_copy[year]['Strike-outs'] == 0
                 
    # Imputación caso 0/0
    df_pitching_copy[year].loc[con_dom_1, "Dominio"] = 0
    df_pitching_copy[year].loc[con_con_1, "Control"] = 0
    df_pitching_copy[year].loc[con_com_1, "Comando"] = 0

In [53]:
for year in range(0,period):   
    # Máximos
    max_dom = df_pitching_copy[year]['Strike-outs'].max()/9
    max_con = df_pitching_copy[year]['Walks'].max()/9
    max_com = df_pitching_copy[year]['Strike-outs'].max()
    
    # Cambianfdo infinitos a NaNs
    df_pitching_copy[year]["Dominio"].replace([np.inf, -np.inf], np.nan, inplace = True)
    df_pitching_copy[year]["Control"].replace([np.inf, -np.inf], np.nan, inplace = True)
    df_pitching_copy[year]["Comando"].replace([np.inf, -np.inf], np.nan, inplace = True)
    
    # Imputación
    df_pitching_copy[year]['Dominio'].fillna(value = max_dom, inplace = True)
    df_pitching_copy[year]['Control'].fillna(value = max_con, inplace = True)
    df_pitching_copy[year]['Comando'].fillna(value = max_com, inplace = True)

Verifiquemos que ya no haya problemas con valores infinitos

In [54]:
"""
for year in range(0,period):
    print(str(2011 + year))
    for name in df_pitching_copy[year].columns:
        print(name)
        if type(name) != str:
            for element in range(0,len(df_pitching_copy[year][name])):
                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:
                    print(str(element) +  '  ' + str(df_pitching_copy[year][name].iloc[element]))
    print("")
"""

'\nfor year in range(0,period):\n    print(str(2011 + year))\n    for name in df_pitching_copy[year].columns:\n        print(name)\n        if type(name) != str:\n            for element in range(0,len(df_pitching_copy[year][name])):\n                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:\n                    print(str(element) +  \'  \' + str(df_pitching_copy[year][name].iloc[element]))\n    print("")\n'

Así mismo, contemos los valores *NaN* que queden presentes

In [55]:
for year in range(0,period):
    print('Año: ' + str(2011 + year))
    print('Hitters:')
    df_hitting_copy[year].isna().sum()
    print('Pitchers:')
    df_pitching_copy[year].isna().sum()
    print('Free agents:')
    df_free_agents_copy[year].isna().sum()
    print('Salaries:')
    df_salary_copy[year].isna().sum()
    print("")

Año: 2011
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2012
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2013
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2014
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2015
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2016
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2017
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2018
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2019
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2020
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2021
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2022
Hitters:
Pitchers:
Free agents:
Salaries:

Ahora, repitamos este proceso para la base de datos de los salarios.

In [56]:
salary_names = ['ln_Sueldo_ajustado', 'ln_Sueldo_base', 'ln_Sueldo_regular']

In [57]:
for name in salary_names:
    print(name)
    
    for year in range(0,period):
        print(str(2011 + year))
        for element in range(0,len(df_salary_copy[year][name])):
            if df_salary_copy[year][name].iloc[element] <= 0:
                print(str(element) +  '  ' + str(df_salary_copy[year][name].iloc[element]))
        print("")

ln_Sueldo_ajustado
2011

2012

2013

2014

2015

2016

2017

2018
72  -inf
188  -inf

2019

2020

2021
6  -inf
55  -inf
166  -inf
274  -inf

2022
193  -inf

ln_Sueldo_base
2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

2022

ln_Sueldo_regular
2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

2022

Al inspecsionar los errores nos damos cuenta que solo se desconocen los salarios ajustados y los fijaron a $0$. Usaremos el logaritmo base 10 del salario regular para sustituir dicho valor.

In [58]:
for year in range(0,period):
    df_salary_copy[year]['ln_Sueldo_ajustado'].mask(df_salary_copy[year]['ln_Sueldo_ajustado'] < 0,
                                                    df_salary_copy[year]['ln_Sueldo_regular'],
                                                    inplace = True)

In [59]:
for year in range(0,period):
    print(str(2011 + year))
    for element in range(0,len(df_salary_copy[year]['ln_Sueldo_ajustado'])):
        if df_salary_copy[year]['ln_Sueldo_ajustado'].iloc[element] <= 0:
            print(str(element) +  '  ' + str(df_salary_copy[year]['ln_Sueldo_ajustado'].iloc[element]))
    print("")

2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

2022

In [60]:
for year in range(0,period):
    print("Ajustado: " + str(df_salary_copy[year]['ln_Sueldo_ajustado'].mean())
          + 'n'
          + 'Regular: ' + str(df_salary_copy[year]['ln_Sueldo_regular'].mean()))

Ajustado: 13.785784770849762nRegular: 13.888874386883515
Ajustado: 13.81181498978195nRegular: 13.90039782504837
Ajustado: 13.54819591748778nRegular: 13.978975725734408
Ajustado: 13.66411021920866nRegular: 14.080738990191257
Ajustado: 13.49415866539551nRegular: 13.99344595993313
Ajustado: 13.478992231977141nRegular: 14.0261405412466
Ajustado: 13.575363447521962nRegular: 14.079742661574734
Ajustado: 13.562311948859815nRegular: 14.080756222584538
Ajustado: 13.521364643693584nRegular: 14.066559580453122
Ajustado: 13.029458522392627nRegular: 14.216780831796356
Ajustado: 13.70981799580226nRegular: 14.198804602895482
Ajustado: 13.924314685157658nRegular: 14.351734783233747

En efecto, ya no hay valores _NaN_ o _infinitos_.

Con el objetivo de hacer más eficiente la creación de las variables al cuadrado, lo haremos extrayendo el índice de las columnas de interés

In [61]:
df_hitting_copy[0].columns

Index(['Jugador', 'Juegos', 'Porcentaje_juegos', 'Juegos_iniciados',
       'Porcentaje_juegos_iniciados', 'At-bats', 'Bateos', 'Dobles', 'Triples',
       'Home-runs', 'Runs-batted-in', 'Bateos_promedio', 'Porcentaje_on-base',
       'Porcentaje_slugging', 'Porcentaje_On-base-plus-slugging', 'TVS'],
      dtype='object')

In [62]:
df_pitching_copy[1].columns

Index(['Jugador', 'Juegos', 'Juegos_iniciados', 'Inning_pitched', 'Bateos',
       'Carreras', 'Carreras_ganadas', 'Walks', 'Strike-outs', 'Wins',
       'Losses', 'Saves', 'WHIP', 'ERA', 'WAR', 'TVS', 'Dominio', 'Control',
       'Comando'],
      dtype='object')

In [63]:
def get_col_indices(df, names):
    return df.columns.get_indexer(names)

In [64]:
hitting_names = ['Juegos_iniciados', 'Porcentaje_juegos_iniciados', 'At-bats', 'Bateos',
                  'Dobles', 'Triples', 'Home-runs', 'Runs-batted-in', 'Bateos_promedio',
                  'Porcentaje_on-base', 'Porcentaje_slugging', 'TVS',
                  'Porcentaje_On-base-plus-slugging', 'WAR']	
pitching_names = ['Inning_pitched', 'Bateos', 'Carreras', 'WAR', 'Juegos_iniciados',
                  'Carreras_ganadas', 'Walks', 'Strike-outs', 'Wins', 'Losses',
                  'Saves', 'WHIP', 'ERA', 'TVS', 'Dominio', 'Control',
                  'Comando']

Con el objetivo de simplificar el código, verifiquemos si todos los índices en cada base de datos son los mismos

In [65]:
print('Hitters:')
for year in range(0,period):
    print(get_col_indices(df_hitting_copy[year], hitting_names))
    
print('Pitchers:')
for year in range(0,period):
    print(get_col_indices(df_pitching_copy[year], pitching_names))

Hitters:
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
[ 3  4  5  6  7  8  9 10 11 12 13 15 14 -1]
Pitchers:
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]
[ 3  4  5 14  2  6  7  8  9 10 11 12 13 15 16 17 18]

In [66]:
hitting_indexes = list(get_col_indices(df_hitting_copy[0], hitting_names))
pitching_indexes = list(get_col_indices(df_pitching_copy[0], pitching_names))

In [67]:
for year in range(0,period):
    # Hitters:
    for hitter_name in hitting_indexes:
        df_hitting_copy[year][df_hitting_copy[year].columns[hitter_name] + '_2'] = np.power(df_hitting_copy[year][df_hitting_copy[year].columns[hitter_name]], 2)
    # Pitchers:
    for pitcher_name in pitching_indexes:
        df_pitching_copy[year][df_pitching_copy[year].columns[pitcher_name] + '_2'] = np.power(df_pitching_copy[year][df_pitching_copy[year].columns[pitcher_name]], 2)

Apreciemos el resultado final

In [68]:
df_hitting_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Jugador                               277 non-null    object
 1   Juegos                                277 non-null    float64
 2   Porcentaje_juegos                     277 non-null    float64
 3   Juegos_iniciados                      277 non-null    float64
 4   Porcentaje_juegos_iniciados           277 non-null    float64
 5   At-bats                               277 non-null    float64
 6   Bateos                                277 non-null    float64
 7   Dobles                                277 non-null    float64
 8   Triples                               277 non-null    float64
 9   Home-runs                             277 non-null    float64
 10  Runs-batted-in                        277 non-null    float64
 11  Bateos_promedio                       277 non-null    float64
 12  Porcentaje_on-base                    277 non-null    float64
 13  Porcentaje_slugging                   277 non-null    float64
 14  Porcentaje_On-base-plus-slugging      277 non-null    float64
 15  TVS                                   277 non-null    float64
 16  Juegos_iniciados_2                    277 non-null    float64
 17  Porcentaje_juegos_iniciados_2         277 non-null    float64
 18  At-bats_2                             277 non-null    float64
 19  Bateos_2                              277 non-null    float64
 20  Dobles_2                              277 non-null    float64
 21  Triples_2                             277 non-null    float64
 22  Home-runs_2                           277 non-null    float64
 23  Runs-batted-in_2                      277 non-null    float64
 24  Bateos_promedio_2                     277 non-null    float64
 25  Porcentaje_on-base_2                  277 non-null    float64
 26  Porcentaje_slugging_2                 277 non-null    float64
 27  TVS_2                                 277 non-null    float64
 28  Porcentaje_On-base-plus-slugging_2    277 non-null    float64
 29  Porcentaje_On-base-plus-slugging_2_2  277 non-null    float64
dtypes: float64(29), object(1)
memory usage: 65.0+ KB

In [69]:
df_pitching_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jugador             103 non-null    object
 1   Juegos              103 non-null    float64
 2   Juegos_iniciados    103 non-null    float64
 3   Inning_pitched      103 non-null    float64
 4   Bateos              103 non-null    float64
 5   Carreras            103 non-null    float64
 6   Carreras_ganadas    103 non-null    float64
 7   Walks               103 non-null    float64
 8   Strike-outs         103 non-null    float64
 9   Wins                103 non-null    float64
 10  Losses              103 non-null    float64
 11  Saves               103 non-null    float64
 12  WHIP                103 non-null    float64
 13  ERA                 103 non-null    float64
 14  WAR                 0 non-null      float64
 15  TVS                 103 non-null    float64
 16  Dominio             103 non-null    float64
 17  Control             103 non-null    float64
 18  Comando             103 non-null    float64
 19  Inning_pitched_2    103 non-null    float64
 20  Bateos_2            103 non-null    float64
 21  Carreras_2          103 non-null    float64
 22  WAR_2               0 non-null      float64
 23  Juegos_iniciados_2  103 non-null    float64
 24  Carreras_ganadas_2  103 non-null    float64
 25  Walks_2             103 non-null    float64
 26  Strike-outs_2       103 non-null    float64
 27  Wins_2              103 non-null    float64
 28  Losses_2            103 non-null    float64
 29  Saves_2             103 non-null    float64
 30  WHIP_2              103 non-null    float64
 31  ERA_2               103 non-null    float64
 32  TVS_2               103 non-null    float64
 33  Dominio_2           103 non-null    float64
 34  Control_2           103 non-null    float64
 35  Comando_2           103 non-null    float64
dtypes: float64(35), object(1)
memory usage: 29.1+ KB

## Unión de las bases de datos
### Datos agregados por equipo

Solo resta añadir los datos relevantes al equipo al que pertenece cada jugador considerando la base de datos de la cantidad de equipos por estado

In [70]:
df_teams_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   28 non-null     object
 1   Cantidad_agentes_libres  28 non-null     int64
 2   Valor_contrato_total     28 non-null     int64
 3   Acronimo                 28 non-null     object
 4   Victorias                28 non-null     int64
 5   Juegos totales           28 non-null     int64
 6   Playoffs                 28 non-null     int64
 7   Pennants won             28 non-null     int64
 8   WS ganadas               28 non-null     int64
 9   Promedio_victorias       28 non-null     float64
dtypes: float64(1), int64(7), object(2)
memory usage: 2.3+ KB

In [71]:
acronym_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Estado               30 non-null     object
 1   Cantidad de equipos  30 non-null     int64
 2   Equipo               30 non-null     object
 3   Acronimo             30 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

In [72]:
for year in range(0,period):
    df_teams_copy[year] = pd.merge(df_teams_copy[year], acronym_state, on = ['Equipo','Acronimo'])

In [73]:
df_teams_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   28 non-null     object
 1   Cantidad_agentes_libres  28 non-null     int64
 2   Valor_contrato_total     28 non-null     int64
 3   Acronimo                 28 non-null     object
 4   Victorias                28 non-null     int64
 5   Juegos totales           28 non-null     int64
 6   Playoffs                 28 non-null     int64
 7   Pennants won             28 non-null     int64
 8   WS ganadas               28 non-null     int64
 9   Promedio_victorias       28 non-null     float64
 10  Estado                   28 non-null     object
 11  Cantidad de equipos      28 non-null     int64
dtypes: float64(1), int64(8), object(3)
memory usage: 2.8+ KB

In [74]:
df_salary_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1036 non-null   object
 1   Anio                     1036 non-null   object
 2   Posicion                 1036 non-null   object
 3   Acronimo                 1036 non-null   object
 4   Sueldo_base              1036 non-null   int64
 5   Bono_por_firma           1036 non-null   int64
 6   Sueldo_regular           1036 non-null   int64
 7   Sueldo_ajustado          1036 non-null   int64
 8   Sueldo_porcentual        1036 non-null   float64
 9   Pago_efectivo            1036 non-null   int64
 10  Valor_contrato_promedio  1036 non-null   int64
 11  Anios_de_contrato        1036 non-null   int64
 12  Valor_del_contrato       1036 non-null   int64
 13  Ganancias                1036 non-null   int64
 14  Anio_de_agente_libre     1036 non-null   int64
 15  Edad_al_firmar           1036 non-null   int64
 16  Edad                     1036 non-null   int64
 17  Peso                     1036 non-null   float64
 18  Altura                   1036 non-null   float64
 19  Antiguedad               1036 non-null   int64
 20  ln_Sueldo_base           1036 non-null   float64
 21  ln_Sueldo_ajustado       1036 non-null   float64
 22  ln_Sueldo_regular        1036 non-null   float64
dtypes: float64(6), int64(13), object(4)
memory usage: 186.3+ KB

Ahora, unamos las bases de datos sobre los equipos a las bases de datos de los salarios

In [75]:
for year in range(0,period):
    df_salary_copy[year] = pd.merge(df_teams_copy[year], df_salary_copy[year], on = 'Acronimo')

In [76]:
df_salary_copy[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   40 non-null     object
 1   Cantidad_agentes_libres  40 non-null     int64
 2   Valor_contrato_total     40 non-null     int64
 3   Acronimo                 40 non-null     object
 4   Victorias                40 non-null     int64
 5   Juegos totales           40 non-null     int64
 6   Playoffs                 40 non-null     int64
 7   Pennants won             40 non-null     int64
 8   WS ganadas               40 non-null     int64
 9   Promedio_victorias       40 non-null     float64
 10  Estado                   40 non-null     object
 11  Cantidad de equipos      40 non-null     int64
 12  Jugador                  40 non-null     object
 13  Anio                     40 non-null     object
 14  Posicion                 40 non-null     object
 15  Sueldo_base              40 non-null     int64
 16  Bono_por_firma           40 non-null     int64
 17  Sueldo_regular           40 non-null     int64
 18  Sueldo_ajustado          40 non-null     int64
 19  Sueldo_porcentual        40 non-null     float64
 20  Pago_efectivo            40 non-null     int64
 21  Valor_contrato_promedio  40 non-null     int64
 22  Anios_de_contrato        40 non-null     int64
 23  Valor_del_contrato       40 non-null     int64
 24  Ganancias                40 non-null     int64
 25  Anio_de_agente_libre     40 non-null     int64
 26  Edad_al_firmar           40 non-null     int64
 27  Edad                     40 non-null     int64
 28  Peso                     40 non-null     float64
 29  Altura                   40 non-null     float64
 30  Antiguedad               40 non-null     int64
 31  ln_Sueldo_base           40 non-null     float64
 32  ln_Sueldo_ajustado       40 non-null     float64
 33  ln_Sueldo_regular        40 non-null     float64
dtypes: float64(7), int64(21), object(6)
memory usage: 10.9+ KB

Debido a que la mayoría de los jugadores juega tanto en la ofensiva como la defensiva es que tenemos que borrar los duplicados de la columna de la posición.

In [77]:
for year in range(0,period):
    df_hitting_copy[year] = pd.merge(df_hitting_copy[year], df_salary_copy[year], on = 'Jugador')
    df_pitching_copy[year] = pd.merge(df_pitching_copy[year], df_salary_copy[year], on = 'Jugador')

In [78]:
for year in range(0,period):
    df_pitching_copy[year]['Porcentaje_juegos'] = df_pitching_copy[year]['Juegos']/df_pitching_copy[year]['Juegos totales']

In [79]:
df_hitting_copy[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 286
Data columns (total 63 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Jugador                               287 non-null    object
 1   Juegos                                287 non-null    float64
 2   Porcentaje_juegos                     287 non-null    float64
 3   Juegos_iniciados                      287 non-null    float64
 4   Porcentaje_juegos_iniciados           287 non-null    float64
 5   At-bats                               287 non-null    float64
 6   Bateos                                287 non-null    float64
 7   Dobles                                287 non-null    float64
 8   Triples                               287 non-null    float64
 9   Home-runs                             287 non-null    float64
 10  Runs-batted-in                        287 non-null    float64
 11  Bateos_promedio                       287 non-null    float64
 12  Porcentaje_on-base                    287 non-null    float64
 13  Porcentaje_slugging                   287 non-null    float64
 14  Porcentaje_On-base-plus-slugging      287 non-null    float64
 15  TVS                                   287 non-null    float64
 16  Juegos_iniciados_2                    287 non-null    float64
 17  Porcentaje_juegos_iniciados_2         287 non-null    float64
 18  At-bats_2                             287 non-null    float64
 19  Bateos_2                              287 non-null    float64
 20  Dobles_2                              287 non-null    float64
 21  Triples_2                             287 non-null    float64
 22  Home-runs_2                           287 non-null    float64
 23  Runs-batted-in_2                      287 non-null    float64
 24  Bateos_promedio_2                     287 non-null    float64
 25  Porcentaje_on-base_2                  287 non-null    float64
 26  Porcentaje_slugging_2                 287 non-null    float64
 27  TVS_2                                 287 non-null    float64
 28  Porcentaje_On-base-plus-slugging_2    287 non-null    float64
 29  Porcentaje_On-base-plus-slugging_2_2  287 non-null    float64
 30  Equipo                                287 non-null    object
 31  Cantidad_agentes_libres               287 non-null    int64
 32  Valor_contrato_total                  287 non-null    int64
 33  Acronimo                              287 non-null    object
 34  Victorias                             287 non-null    int64
 35  Juegos totales                        287 non-null    int64
 36  Playoffs                              287 non-null    int64
 37  Pennants won                          287 non-null    int64
 38  WS ganadas                            287 non-null    int64
 39  Promedio_victorias                    287 non-null    float64
 40  Estado                                287 non-null    object
 41  Cantidad de equipos                   287 non-null    int64
 42  Anio                                  287 non-null    object
 43  Posicion                              287 non-null    object
 44  Sueldo_base                           287 non-null    int64
 45  Bono_por_firma                        287 non-null    int64
 46  Sueldo_regular                        287 non-null    int64
 47  Sueldo_ajustado                       287 non-null    int64
 48  Sueldo_porcentual                     287 non-null    float64
 49  Pago_efectivo                         287 non-null    int64
 50  Valor_contrato_promedio               287 non-null    int64
 51  Anios_de_contrato                     287 non-null    int64
 52  Valor_del_contrato                    287 non-null    int64
 53  Ganancias                             287 non-null    int64
 54  Anio_de_agente_libre                  287 non-null    int64
 55  Edad_al_firmar                        287 non-null    int64
 56  Edad                                  287 non-null    int64
 57  Peso                                  287 non-null    float64
 58  Altura                                287 non-null    float64
 59  Antiguedad                            287 non-null    int64
 60  ln_Sueldo_base                        287 non-null    float64
 61  ln_Sueldo_ajustado                    287 non-null    float64
 62  ln_Sueldo_regular                     287 non-null    float64
dtypes: float64(36), int64(21), object(6)
memory usage: 143.5+ KB

In [80]:
df_pitching_copy[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 70 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  92 non-null     object
 1   Juegos                   92 non-null     float64
 2   Juegos_iniciados         92 non-null     float64
 3   Inning_pitched           92 non-null     float64
 4   Bateos                   92 non-null     float64
 5   Carreras                 92 non-null     float64
 6   Carreras_ganadas         92 non-null     float64
 7   Walks                    92 non-null     float64
 8   Strike-outs              92 non-null     float64
 9   Wins                     92 non-null     float64
 10  Losses                   92 non-null     float64
 11  Saves                    92 non-null     float64
 12  WHIP                     92 non-null     float64
 13  ERA                      92 non-null     float64
 14  WAR                      0 non-null      float64
 15  TVS                      92 non-null     float64
 16  Dominio                  92 non-null     float64
 17  Control                  92 non-null     float64
 18  Comando                  92 non-null     float64
 19  Inning_pitched_2         92 non-null     float64
 20  Bateos_2                 92 non-null     float64
 21  Carreras_2               92 non-null     float64
 22  WAR_2                    0 non-null      float64
 23  Juegos_iniciados_2       92 non-null     float64
 24  Carreras_ganadas_2       92 non-null     float64
 25  Walks_2                  92 non-null     float64
 26  Strike-outs_2            92 non-null     float64
 27  Wins_2                   92 non-null     float64
 28  Losses_2                 92 non-null     float64
 29  Saves_2                  92 non-null     float64
 30  WHIP_2                   92 non-null     float64
 31  ERA_2                    92 non-null     float64
 32  TVS_2                    92 non-null     float64
 33  Dominio_2                92 non-null     float64
 34  Control_2                92 non-null     float64
 35  Comando_2                92 non-null     float64
 36  Equipo                   92 non-null     object
 37  Cantidad_agentes_libres  92 non-null     int64
 38  Valor_contrato_total     92 non-null     int64
 39  Acronimo                 92 non-null     object
 40  Victorias                92 non-null     int64
 41  Juegos totales           92 non-null     int64
 42  Playoffs                 92 non-null     int64
 43  Pennants won             92 non-null     int64
 44  WS ganadas               92 non-null     int64
 45  Promedio_victorias       92 non-null     float64
 46  Estado                   92 non-null     object
 47  Cantidad de equipos      92 non-null     int64
 48  Anio                     92 non-null     object
 49  Posicion                 92 non-null     object
 50  Sueldo_base              92 non-null     int64
 51  Bono_por_firma           92 non-null     int64
 52  Sueldo_regular           92 non-null     int64
 53  Sueldo_ajustado          92 non-null     int64
 54  Sueldo_porcentual        92 non-null     float64
 55  Pago_efectivo            92 non-null     int64
 56  Valor_contrato_promedio  92 non-null     int64
 57  Anios_de_contrato        92 non-null     int64
 58  Valor_del_contrato       92 non-null     int64
 59  Ganancias                92 non-null     int64
 60  Anio_de_agente_libre     92 non-null     int64
 61  Edad_al_firmar           92 non-null     int64
 62  Edad                     92 non-null     int64
 63  Peso                     92 non-null     float64
 64  Altura                   92 non-null     float64
 65  Antiguedad               92 non-null     int64
 66  ln_Sueldo_base           92 non-null     float64
 67  ln_Sueldo_ajustado       92 non-null     float64
 68  ln_Sueldo_regular        92 non-null     float64
 69  Porcentaje_juegos        92 non-null     float64
dtypes: float64(43), int64(21), object(6)
memory usage: 51.0+ KB

Para facilitar la observación de las trnasformaciones de manera más eficiente, ordenemos alfabéticamente la base de datos de acuerdo al nombre de las columnas.

In [81]:
for year in range(0,period):
    # Ordenando alfabéticamente
    df_salary_copy[year].sort_index(axis = 1, inplace = True)
    df_hitting_copy[year].sort_index(axis = 1, inplace = True)
    df_pitching_copy[year].sort_index(axis = 1, inplace = True)
    df_free_agents_copy[year].sort_index(axis = 1, inplace = True)
    
    # Reiniciando los índices
    df_salary_copy[year].reset_index(drop = True, inplace = True)
    df_hitting_copy[year].reset_index(drop = True, inplace = True)
    df_pitching_copy[year].reset_index(drop = True, inplace = True)
    df_free_agents_copy[year].reset_index(drop = True, inplace = True)

## Segmentación por Agentes libres

Separaremos los pitchers y hitters en dos grupos:

- Agentes libres.
- No agentes libres.

In [82]:
for year in range(0,period):
    # Filtrando los agentes libres
    df_hitters_free_agents[year] = pd.merge(df_free_agents_copy[year],
                                            df_hitting_copy[year], on = 'Jugador')
    df_pitchers_free_agents[year] = pd.merge(df_free_agents_copy[year],
                                             df_pitching_copy[year], on = 'Jugador')
    # FIltrando los que no son agentes libres
    df_hitters_no_free_agents[year] = df_hitting_copy[year][~df_hitting_copy[year].Jugador.isin(df_hitters_free_agents[year].Jugador)]
    df_pitchers_no_free_agents[year] = df_pitching_copy[year][~df_pitching_copy[year].Jugador.isin(df_pitchers_free_agents[year].Jugador)]
    
    # Reiniciando el índice
    df_hitters_free_agents[year] = df_hitters_free_agents[year].reindex(sorted(df_hitters_free_agents[year].columns), axis=1)
    df_pitchers_free_agents[year] = df_pitchers_free_agents[year].reindex(sorted(df_pitchers_free_agents[year].columns), axis=1)
    df_hitters_no_free_agents[year] = df_hitters_no_free_agents[year].reindex(sorted(df_hitters_no_free_agents[year].columns), axis=1)
    df_pitchers_no_free_agents[year] = df_pitchers_no_free_agents[year].reindex(sorted(df_pitchers_no_free_agents[year].columns), axis=1)

Veamos los contenidos de las nuevas bases de datos

In [83]:
print("FA - Hitters:")
df_hitters_free_agents[9].info()
print("\n FA - Pitchers:")
df_pitchers_free_agents[9].info()
print("\n No FA - Hitters:")
df_hitters_no_free_agents[9].info()
print("\n No FA - Hitters:")
df_pitchers_no_free_agents[9].info()

FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 68 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Acronimo                              34 non-null     object
 1   Altura                                34 non-null     float64
 2   Anio                                  34 non-null     object
 3   Anio_de_agente_libre                  34 non-null     int64
 4   Anios_de_contrato_x                   34 non-null     int64
 5   Anios_de_contrato_y                   34 non-null     int64
 6   Antiguedad                            34 non-null     int64
 7   At-bats                               34 non-null     float64
 8   At-bats_2                             34 non-null     float64
 9   Bateos                                34 non-null     float64
 10  Bateos_2                              34 non-null     float64
 11  Bateos_promedio                       34 non-null     float64
 12  Bateos_promedio_2                     34 non-null     float64
 13  Bono_por_firma                        34 non-null     int64
 14  Cantidad de equipos                   34 non-null     int64
 15  Cantidad_agentes_libres               34 non-null     int64
 16  Dobles                                34 non-null     float64
 17  Dobles_2                              34 non-null     float64
 18  Edad                                  34 non-null     int64
 19  Edad_al_firmar                        34 non-null     int64
 20  Equipo                                34 non-null     object
 21  Equipo_anterior                       34 non-null     object
 22  Estado                                34 non-null     object
 23  Ganancias                             34 non-null     int64
 24  Home-runs                             34 non-null     float64
 25  Home-runs_2                           34 non-null     float64
 26  Juegos                                34 non-null     float64
 27  Juegos totales                        34 non-null     int64
 28  Juegos_iniciados                      34 non-null     float64
 29  Juegos_iniciados_2                    34 non-null     float64
 30  Jugador                               34 non-null     object
 31  Pago_efectivo                         34 non-null     int64
 32  Pennants won                          34 non-null     int64
 33  Peso                                  34 non-null     int64
 34  Playoffs                              34 non-null     int64
 35  Porcentaje_On-base-plus-slugging      34 non-null     float64
 36  Porcentaje_On-base-plus-slugging_2    34 non-null     float64
 37  Porcentaje_On-base-plus-slugging_2_2  34 non-null     float64
 38  Porcentaje_juegos                     34 non-null     float64
 39  Porcentaje_juegos_iniciados           34 non-null     float64
 40  Porcentaje_juegos_iniciados_2         34 non-null     float64
 41  Porcentaje_on-base                    34 non-null     float64
 42  Porcentaje_on-base_2                  34 non-null     float64
 43  Porcentaje_slugging                   34 non-null     float64
 44  Porcentaje_slugging_2                 34 non-null     float64
 45  Posicion                              34 non-null     object
 46  Promedio_victorias                    34 non-null     float64
 47  Runs-batted-in                        34 non-null     float64
 48  Runs-batted-in_2                      34 non-null     float64
 49  Status_agente_libre                   34 non-null     object
 50  Sueldo_ajustado                       34 non-null     int64
 51  Sueldo_base                           34 non-null     int64
 52  Sueldo_porcentual                     34 non-null     float64
 53  Sueldo_regular                        34 non-null     int64
 54  TVS                                   34 non-null     float64
 55  TVS_2                                 34 non-null     float64
 56  Triples                               34 non-null     float64
 57  Triples_2                             34 non-null     float64
 58  Valor_contrato                        34 non-null     int64
 59  Valor_contrato_promedio               34 non-null     int64
 60  Valor_contrato_total                  34 non-null     int64
 61  Valor_del_contrato                    34 non-null     int64
 62  Valor_promedio_contrato               34 non-null     int64
 63  Victorias                             34 non-null     int64
 64  WS ganadas                            34 non-null     int64
 65  ln_Sueldo_ajustado                    34 non-null     float64
 66  ln_Sueldo_base                        34 non-null     float64
 67  ln_Sueldo_regular                     34 non-null     float64
dtypes: float64(35), int64(25), object(8)
memory usage: 18.3+ KB

 FA - Pitchers:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 75 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 3 non-null      object
 1   Altura                   3 non-null      float64
 2   Anio                     3 non-null      object
 3   Anio_de_agente_libre     3 non-null      int64
 4   Anios_de_contrato_x      3 non-null      int64
 5   Anios_de_contrato_y      3 non-null      int64
 6   Antiguedad               3 non-null      int64
 7   Bateos                   3 non-null      float64
 8   Bateos_2                 3 non-null      float64
 9   Bono_por_firma           3 non-null      int64
 10  Cantidad de equipos      3 non-null      int64
 11  Cantidad_agentes_libres  3 non-null      int64
 12  Carreras                 3 non-null      float64
 13  Carreras_2               3 non-null      float64
 14  Carreras_ganadas         3 non-null      float64
 15  Carreras_ganadas_2       3 non-null      float64
 16  Comando                  3 non-null      float64
 17  Comando_2                3 non-null      float64
 18  Control                  3 non-null      float64
 19  Control_2                3 non-null      float64
 20  Dominio                  3 non-null      float64
 21  Dominio_2                3 non-null      float64
 22  ERA                      3 non-null      float64
 23  ERA_2                    3 non-null      float64
 24  Edad                     3 non-null      int64
 25  Edad_al_firmar           3 non-null      int64
 26  Equipo                   3 non-null      object
 27  Equipo_anterior          3 non-null      object
 28  Estado                   3 non-null      object
 29  Ganancias                3 non-null      int64
 30  Inning_pitched           3 non-null      float64
 31  Inning_pitched_2         3 non-null      float64
 32  Juegos                   3 non-null      float64
 33  Juegos totales           3 non-null      int64
 34  Juegos_iniciados         3 non-null      float64
 35  Juegos_iniciados_2       3 non-null      float64
 36  Jugador                  3 non-null      object
 37  Losses                   3 non-null      float64
 38  Losses_2                 3 non-null      float64
 39  Pago_efectivo            3 non-null      int64
 40  Pennants won             3 non-null      int64
 41  Peso                     3 non-null      int64
 42  Playoffs                 3 non-null      int64
 43  Porcentaje_juegos        3 non-null      float64
 44  Posicion                 3 non-null      object
 45  Promedio_victorias       3 non-null      float64
 46  Saves                    3 non-null      float64
 47  Saves_2                  3 non-null      float64
 48  Status_agente_libre      3 non-null      object
 49  Strike-outs              3 non-null      float64
 50  Strike-outs_2            3 non-null      float64
 51  Sueldo_ajustado          3 non-null      int64
 52  Sueldo_base              3 non-null      int64
 53  Sueldo_porcentual        3 non-null      float64
 54  Sueldo_regular           3 non-null      int64
 55  TVS                      3 non-null      float64
 56  TVS_2                    3 non-null      float64
 57  Valor_contrato           3 non-null      int64
 58  Valor_contrato_promedio  3 non-null      int64
 59  Valor_contrato_total     3 non-null      int64
 60  Valor_del_contrato       3 non-null      int64
 61  Valor_promedio_contrato  3 non-null      int64
 62  Victorias                3 non-null      int64
 63  WAR                      0 non-null      float64
 64  WAR_2                    0 non-null      float64
 65  WHIP                     3 non-null      float64
 66  WHIP_2                   3 non-null      float64
 67  WS ganadas               3 non-null      int64
 68  Walks                    3 non-null      float64
 69  Walks_2                  3 non-null      float64
 70  Wins                     3 non-null      float64
 71  Wins_2                   3 non-null      float64
 72  ln_Sueldo_ajustado       3 non-null      float64
 73  ln_Sueldo_base           3 non-null      float64
 74  ln_Sueldo_regular        3 non-null      float64
dtypes: float64(42), int64(25), object(8)
memory usage: 1.8+ KB

 No FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 0 to 198
Data columns (total 63 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Acronimo                              165 non-null    object
 1   Altura                                165 non-null    float64
 2   Anio                                  165 non-null    object
 3   Anio_de_agente_libre                  165 non-null    int64
 4   Anios_de_contrato                     165 non-null    int64
 5   Antiguedad                            165 non-null    int64
 6   At-bats                               165 non-null    float64
 7   At-bats_2                             165 non-null    float64
 8   Bateos                                165 non-null    float64
 9   Bateos_2                              165 non-null    float64
 10  Bateos_promedio                       165 non-null    float64
 11  Bateos_promedio_2                     165 non-null    float64
 12  Bono_por_firma                        165 non-null    int64
 13  Cantidad de equipos                   165 non-null    int64
 14  Cantidad_agentes_libres               165 non-null    int64
 15  Dobles                                165 non-null    float64
 16  Dobles_2                              165 non-null    float64
 17  Edad                                  165 non-null    int64
 18  Edad_al_firmar                        165 non-null    int64
 19  Equipo                                165 non-null    object
 20  Estado                                165 non-null    object
 21  Ganancias                             165 non-null    int64
 22  Home-runs                             165 non-null    float64
 23  Home-runs_2                           165 non-null    float64
 24  Juegos                                165 non-null    float64
 25  Juegos totales                        165 non-null    int64
 26  Juegos_iniciados                      165 non-null    float64
 27  Juegos_iniciados_2                    165 non-null    float64
 28  Jugador                               165 non-null    object
 29  Pago_efectivo                         165 non-null    int64
 30  Pennants won                          165 non-null    int64
 31  Peso                                  165 non-null    int64
 32  Playoffs                              165 non-null    int64
 33  Porcentaje_On-base-plus-slugging      165 non-null    float64
 34  Porcentaje_On-base-plus-slugging_2    165 non-null    float64
 35  Porcentaje_On-base-plus-slugging_2_2  165 non-null    float64
 36  Porcentaje_juegos                     165 non-null    float64
 37  Porcentaje_juegos_iniciados           165 non-null    float64
 38  Porcentaje_juegos_iniciados_2         165 non-null    float64
 39  Porcentaje_on-base                    165 non-null    float64
 40  Porcentaje_on-base_2                  165 non-null    float64
 41  Porcentaje_slugging                   165 non-null    float64
 42  Porcentaje_slugging_2                 165 non-null    float64
 43  Posicion                              165 non-null    object
 44  Promedio_victorias                    165 non-null    float64
 45  Runs-batted-in                        165 non-null    float64
 46  Runs-batted-in_2                      165 non-null    float64
 47  Sueldo_ajustado                       165 non-null    int64
 48  Sueldo_base                           165 non-null    int64
 49  Sueldo_porcentual                     165 non-null    float64
 50  Sueldo_regular                        165 non-null    int64
 51  TVS                                   165 non-null    float64
 52  TVS_2                                 165 non-null    float64
 53  Triples                               165 non-null    float64
 54  Triples_2                             165 non-null    float64
 55  Valor_contrato_promedio               165 non-null    int64
 56  Valor_contrato_total                  165 non-null    int64
 57  Valor_del_contrato                    165 non-null    int64
 58  Victorias                             165 non-null    int64
 59  WS ganadas                            165 non-null    int64
 60  ln_Sueldo_ajustado                    165 non-null    float64
 61  ln_Sueldo_base                        165 non-null    float64
 62  ln_Sueldo_regular                     165 non-null    float64
dtypes: float64(35), int64(22), object(6)
memory usage: 82.5+ KB

 No FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 2 to 32
Data columns (total 70 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 30 non-null     object
 1   Altura                   30 non-null     float64
 2   Anio                     30 non-null     object
 3   Anio_de_agente_libre     30 non-null     int64
 4   Anios_de_contrato        30 non-null     int64
 5   Antiguedad               30 non-null     int64
 6   Bateos                   30 non-null     float64
 7   Bateos_2                 30 non-null     float64
 8   Bono_por_firma           30 non-null     int64
 9   Cantidad de equipos      30 non-null     int64
 10  Cantidad_agentes_libres  30 non-null     int64
 11  Carreras                 30 non-null     float64
 12  Carreras_2               30 non-null     float64
 13  Carreras_ganadas         30 non-null     float64
 14  Carreras_ganadas_2       30 non-null     float64
 15  Comando                  30 non-null     float64
 16  Comando_2                30 non-null     float64
 17  Control                  30 non-null     float64
 18  Control_2                30 non-null     float64
 19  Dominio                  30 non-null     float64
 20  Dominio_2                30 non-null     float64
 21  ERA                      30 non-null     float64
 22  ERA_2                    30 non-null     float64
 23  Edad                     30 non-null     int64
 24  Edad_al_firmar           30 non-null     int64
 25  Equipo                   30 non-null     object
 26  Estado                   30 non-null     object
 27  Ganancias                30 non-null     int64
 28  Inning_pitched           30 non-null     float64
 29  Inning_pitched_2         30 non-null     float64
 30  Juegos                   30 non-null     float64
 31  Juegos totales           30 non-null     int64
 32  Juegos_iniciados         30 non-null     float64
 33  Juegos_iniciados_2       30 non-null     float64
 34  Jugador                  30 non-null     object
 35  Losses                   30 non-null     float64
 36  Losses_2                 30 non-null     float64
 37  Pago_efectivo            30 non-null     int64
 38  Pennants won             30 non-null     int64
 39  Peso                     30 non-null     int64
 40  Playoffs                 30 non-null     int64
 41  Porcentaje_juegos        30 non-null     float64
 42  Posicion                 30 non-null     object
 43  Promedio_victorias       30 non-null     float64
 44  Saves                    30 non-null     float64
 45  Saves_2                  30 non-null     float64
 46  Strike-outs              30 non-null     float64
 47  Strike-outs_2            30 non-null     float64
 48  Sueldo_ajustado          30 non-null     int64
 49  Sueldo_base              30 non-null     int64
 50  Sueldo_porcentual        30 non-null     float64
 51  Sueldo_regular           30 non-null     int64
 52  TVS                      30 non-null     float64
 53  TVS_2                    30 non-null     float64
 54  Valor_contrato_promedio  30 non-null     int64
 55  Valor_contrato_total     30 non-null     int64
 56  Valor_del_contrato       30 non-null     int64
 57  Victorias                30 non-null     int64
 58  WAR                      0 non-null      float64
 59  WAR_2                    0 non-null      float64
 60  WHIP                     30 non-null     float64
 61  WHIP_2                   30 non-null     float64
 62  WS ganadas               30 non-null     int64
 63  Walks                    30 non-null     float64
 64  Walks_2                  30 non-null     float64
 65  Wins                     30 non-null     float64
 66  Wins_2                   30 non-null     float64
 67  ln_Sueldo_ajustado       30 non-null     float64
 68  ln_Sueldo_base           30 non-null     float64
 69  ln_Sueldo_regular        30 non-null     float64
dtypes: float64(42), int64(22), object(6)
memory usage: 16.6+ KB

In [84]:
print("FA - Hitters:")
for year in range(0,period):
    print(df_hitters_free_agents[year].shape)
print("\n FA - Pitchers:")
for year in range(0,period):
    print(df_pitchers_free_agents[year].shape)

FA - Hitters:
(0, 68)
(11, 68)
(31, 68)
(45, 68)
(66, 68)
(86, 68)
(27, 68)
(27, 68)
(38, 68)
(34, 68)
(70, 68)
(4, 68)

 FA - Pitchers:
(0, 75)
(5, 75)
(8, 75)
(14, 75)
(25, 75)
(14, 75)
(12, 75)
(8, 75)
(13, 75)
(3, 75)
(11, 75)
(12, 75)

Por último, para facilitar futuras aplicaciones, pasemos todos los nombres de las columnas a miníscula

In [85]:
for year in range(0,period):
    df_hitters_free_agents[year].rename(columns = str.lower)
    df_pitchers_free_agents[year].rename(columns = str.lower)
    df_hitters_no_free_agents[year].rename(columns = str.lower)
    df_pitchers_no_free_agents[year].rename(columns = str.lower)

### Etiquetas para los agentes libres

Crearemos un etiqueta para indicar si el pitcher o hitter es  un agente libre o no.

In [86]:
for year in range(0,period):
    # Condiciones
    condicion_hitter = [df_hitting_copy[year].Jugador.isin(df_free_agents_copy[year].Jugador)]
    condicion_pitcher = [df_pitching_copy[year].Jugador.isin(df_free_agents_copy[year].Jugador)]
    
    # Etiquetas
    etiquetas = ['Si']
    
    df_hitting_copy[year]['Agente_libre'] = np.select(condicion_hitter, etiquetas, default = 'No')
    df_pitching_copy[year]['Agente_libre'] = np.select(condicion_pitcher, etiquetas, default = 'No')
    
    df_hitting_copy[year] = df_hitting_copy[year].reindex(sorted(df_hitting_copy[year].columns), axis=1)
    df_pitching_copy[year] = df_pitching_copy[year].reindex(sorted(df_pitching_copy[year].columns), axis=1)

In [87]:
for year in range(0,period):
    df_hitting_copy[year].rename(columns = str.lower, inplace = True)
    df_pitching_copy[year].rename(columns = str.lower, inplace = True)

## Panel Data

Con el objetivo de contar con una base de datos en estructura panel, uniremos las bases de datos

In [88]:
# Inicialización del panel
df_panel_all_hitter = df_hitting_copy[0]
df_panel_all_pitcher = df_pitching_copy[0]

for year in range(1,period):
    # Hitter
    df_panel_all_hitter = pd.concat([df_panel_all_hitter, df_hitting_copy[year]])
    
    # Pitcher
    df_panel_all_pitcher = pd.concat([df_panel_all_pitcher, df_pitching_copy[year]])

Veamos las estadísticas descriptivas de los panel

In [89]:
df_panel_all_hitter[['ln_sueldo_ajustado']].describe()

       ln_sueldo_ajustado
count         3092.000000
mean            13.478253
std              1.673160
min              8.028455
25%             12.292567
50%             13.133480
75%             14.845130
max             17.440000

In [90]:
df_panel_all_pitcher.describe()

,altura,anio_de_agente_libre,anios_de_contrato,antiguedad,bateos,bateos_2,bono_por_firma,cantidad de equipos,cantidad_agentes_libres,carreras,...,whip,whip_2,ws ganadas,walks,walks_2,wins,wins_2,ln_sueldo_ajustado,ln_sueldo_base,ln_sueldo_regular
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,9.180000e+02,918.000000,918.000000,918.000000,...,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,6.236672,851.494553,1.261438,0.651416,1.640458,5.536490,6.248444e+04,2.092593,5.412854,0.920915,...,0.096743,0.106211,3.421569,0.632636,0.750253,0.069510,0.012506,13.315062,13.795509,13.806793
std,0.210933,997.957238,0.828378,0.870236,1.687748,11.365695,5.555641e+05,1.335339,3.053240,0.955071,...,0.311380,1.229473,4.861647,0.591951,1.569859,0.087651,0.029438,1.298737,0.975858,0.991934
min,5.567014,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.641083,12.161870,12.161870
25%,6.100000,0.000000,1.000000,0.000000,0.770000,0.592900,0.000000e+00,1.000000,3.000000,0.430000,...,0.020000,0.000400,0.000000,0.300000,0.090000,0.000000,0.000000,12.450126,13.137252,13.137252
50%,6.241500,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000e+00,2.000000,5.000000,0.540000,...,0.040000,0.001600,2.000000,0.435000,0.189250,0.040000,0.001600,13.122363,13.254268,13.254268
75%,6.400000,2018.000000,1.000000,1.000000,1.520000,2.310400,0.000000e+00,2.000000,7.000000,0.890000,...,0.080000,0.006400,5.000000,0.740000,0.547600,0.090000,0.008100,14.058457,14.291351,14.291351
max,6.800000,2028.000000,7.000000,7.000000,12.000000,144.000000,1.000000e+07,5.000000,18.000000,8.000000,...,5.250000,27.562500,27.000000,5.000000,25.000000,0.470000,0.220900,17.034386,17.370859,17.370859

In [91]:
df_panel_all_hitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3092 entries, 0 to 30
Data columns (total 64 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   acronimo                              3092 non-null   object
 1   agente_libre                          3092 non-null   object
 2   altura                                3092 non-null   float64
 3   anio                                  3092 non-null   object
 4   anio_de_agente_libre                  3092 non-null   int64
 5   anios_de_contrato                     3092 non-null   int64
 6   antiguedad                            3092 non-null   int64
 7   at-bats                               3092 non-null   float64
 8   at-bats_2                             3092 non-null   float64
 9   bateos                                3092 non-null   float64
 10  bateos_2                              3092 non-null   float64
 11  bateos_promedio                       3092 non-null   float64
 12  bateos_promedio_2                     3092 non-null   float64
 13  bono_por_firma                        3092 non-null   int64
 14  cantidad de equipos                   3092 non-null   int64
 15  cantidad_agentes_libres               3092 non-null   int64
 16  dobles                                3092 non-null   float64
 17  dobles_2                              3092 non-null   float64
 18  edad                                  3092 non-null   int64
 19  edad_al_firmar                        3092 non-null   int64
 20  equipo                                3092 non-null   object
 21  estado                                3092 non-null   object
 22  ganancias                             3092 non-null   int64
 23  home-runs                             3092 non-null   float64
 24  home-runs_2                           3092 non-null   float64
 25  juegos                                3092 non-null   float64
 26  juegos totales                        3092 non-null   int64
 27  juegos_iniciados                      3092 non-null   float64
 28  juegos_iniciados_2                    3092 non-null   float64
 29  jugador                               3092 non-null   object
 30  pago_efectivo                         3092 non-null   int64
 31  pennants won                          3092 non-null   int64
 32  peso                                  3092 non-null   float64
 33  playoffs                              3092 non-null   int64
 34  porcentaje_on-base-plus-slugging      3092 non-null   float64
 35  porcentaje_on-base-plus-slugging_2    3092 non-null   float64
 36  porcentaje_on-base-plus-slugging_2_2  3092 non-null   float64
 37  porcentaje_juegos                     3092 non-null   float64
 38  porcentaje_juegos_iniciados           3092 non-null   float64
 39  porcentaje_juegos_iniciados_2         3092 non-null   float64
 40  porcentaje_on-base                    3092 non-null   float64
 41  porcentaje_on-base_2                  3092 non-null   float64
 42  porcentaje_slugging                   3092 non-null   float64
 43  porcentaje_slugging_2                 3092 non-null   float64
 44  posicion                              3092 non-null   object
 45  promedio_victorias                    3092 non-null   float64
 46  runs-batted-in                        3092 non-null   float64
 47  runs-batted-in_2                      3092 non-null   float64
 48  sueldo_ajustado                       3092 non-null   int64
 49  sueldo_base                           3092 non-null   int64
 50  sueldo_porcentual                     3092 non-null   float64
 51  sueldo_regular                        3092 non-null   int64
 52  tvs                                   3092 non-null   float64
 53  tvs_2                                 3092 non-null   float64
 54  triples                               3092 non-null   float64
 55  triples_2                             3092 non-null   float64
 56  valor_contrato_promedio               3092 non-null   int64
 57  valor_contrato_total                  3092 non-null   int64
 58  valor_del_contrato                    3092 non-null   int64
 59  victorias                             3092 non-null   int64
 60  ws ganadas                            3092 non-null   int64
 61  ln_sueldo_ajustado                    3092 non-null   float64
 62  ln_sueldo_base                        3092 non-null   float64
 63  ln_sueldo_regular                     3092 non-null   float64
dtypes: float64(36), int64(21), object(7)
memory usage: 1.5+ MB

In [92]:
df_panel_all_pitcher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 0 to 84
Data columns (total 71 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   acronimo                 918 non-null    object
 1   agente_libre             918 non-null    object
 2   altura                   918 non-null    float64
 3   anio                     918 non-null    object
 4   anio_de_agente_libre     918 non-null    int64
 5   anios_de_contrato        918 non-null    int64
 6   antiguedad               918 non-null    int64
 7   bateos                   918 non-null    float64
 8   bateos_2                 918 non-null    float64
 9   bono_por_firma           918 non-null    int64
 10  cantidad de equipos      918 non-null    int64
 11  cantidad_agentes_libres  918 non-null    int64
 12  carreras                 918 non-null    float64
 13  carreras_2               918 non-null    float64
 14  carreras_ganadas         918 non-null    float64
 15  carreras_ganadas_2       918 non-null    float64
 16  comando                  918 non-null    float64
 17  comando_2                918 non-null    float64
 18  control                  918 non-null    float64
 19  control_2                918 non-null    float64
 20  dominio                  918 non-null    float64
 21  dominio_2                918 non-null    float64
 22  era                      918 non-null    float64
 23  era_2                    918 non-null    float64
 24  edad                     918 non-null    int64
 25  edad_al_firmar           918 non-null    int64
 26  equipo                   918 non-null    object
 27  estado                   918 non-null    object
 28  ganancias                918 non-null    int64
 29  inning_pitched           918 non-null    float64
 30  inning_pitched_2         918 non-null    float64
 31  juegos                   918 non-null    float64
 32  juegos totales           918 non-null    int64
 33  juegos_iniciados         918 non-null    float64
 34  juegos_iniciados_2       918 non-null    float64
 35  jugador                  918 non-null    object
 36  losses                   918 non-null    float64
 37  losses_2                 918 non-null    float64
 38  pago_efectivo            918 non-null    int64
 39  pennants won             918 non-null    int64
 40  peso                     918 non-null    float64
 41  playoffs                 918 non-null    int64
 42  porcentaje_juegos        918 non-null    float64
 43  posicion                 918 non-null    object
 44  promedio_victorias       918 non-null    float64
 45  saves                    918 non-null    float64
 46  saves_2                  918 non-null    float64
 47  strike-outs              918 non-null    float64
 48  strike-outs_2            918 non-null    float64
 49  sueldo_ajustado          918 non-null    int64
 50  sueldo_base              918 non-null    int64
 51  sueldo_porcentual        918 non-null    float64
 52  sueldo_regular           918 non-null    int64
 53  tvs                      918 non-null    float64
 54  tvs_2                    918 non-null    float64
 55  valor_contrato_promedio  918 non-null    int64
 56  valor_contrato_total     918 non-null    int64
 57  valor_del_contrato       918 non-null    int64
 58  victorias                918 non-null    int64
 59  war                      0 non-null      float64
 60  war_2                    0 non-null      float64
 61  whip                     918 non-null    float64
 62  whip_2                   918 non-null    float64
 63  ws ganadas               918 non-null    int64
 64  walks                    918 non-null    float64
 65  walks_2                  918 non-null    float64
 66  wins                     918 non-null    float64
 67  wins_2                   918 non-null    float64
 68  ln_sueldo_ajustado       918 non-null    float64
 69  ln_sueldo_base           918 non-null    float64
 70  ln_sueldo_regular        918 non-null    float64
dtypes: float64(43), int64(21), object(7)
memory usage: 516.4+ KB

Verifquemos que no haya problemas con valores *NaN* o *infinitos*

Valores *NaN*:

In [93]:
"""for name in df_panel_all_hitter.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_hitter[name])):
            if pd.isna(df_panel_all_hitter[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_hitter[name].iloc[element]))"""

"for name in df_panel_all_hitter.columns:\n    print(name)\n    if type(name) != str:\n        for element in range(0,len(df_panel_all_hitter[name])):\n            if pd.isna(df_panel_all_hitter[name].iloc[element]) == True:\n                print(str(element) +  '  ' + str(df_panel_all_hitter[name].iloc[element]))"

In [94]:
"""for name in df_panel_all_pitcher.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_pitcher[name])):
            if pd.isna(df_panel_all_pitcher[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_pitcher[name].iloc[element]))"""

"for name in df_panel_all_pitcher.columns:\n    print(name)\n    if type(name) != str:\n        for element in range(0,len(df_panel_all_pitcher[name])):\n            if pd.isna(df_panel_all_pitcher[name].iloc[element]) == True:\n                print(str(element) +  '  ' + str(df_panel_all_pitcher[name].iloc[element]))"

Valores *infinitos*

In [95]:
for name in df_panel_all_hitter.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_hitter[name])):
            if math.isinf(df_panel_all_hitter[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_hitter[name].iloc[element]))

acronimo
agente_libre
altura
anio
anio_de_agente_libre
anios_de_contrato
antiguedad
at-bats
at-bats_2
bateos
bateos_2
bateos_promedio
bateos_promedio_2
bono_por_firma
cantidad de equipos
cantidad_agentes_libres
dobles
dobles_2
edad
edad_al_firmar
equipo
estado
ganancias
home-runs
home-runs_2
juegos
juegos totales
juegos_iniciados
juegos_iniciados_2
jugador
pago_efectivo
pennants won
peso
playoffs
porcentaje_on-base-plus-slugging
porcentaje_on-base-plus-slugging_2
porcentaje_on-base-plus-slugging_2_2
porcentaje_juegos
porcentaje_juegos_iniciados
porcentaje_juegos_iniciados_2
porcentaje_on-base
porcentaje_on-base_2
porcentaje_slugging
porcentaje_slugging_2
posicion
promedio_victorias
runs-batted-in
runs-batted-in_2
sueldo_ajustado
sueldo_base
sueldo_porcentual
sueldo_regular
tvs
tvs_2
triples
triples_2
valor_contrato_promedio
valor_contrato_total
valor_del_contrato
victorias
ws ganadas
ln_sueldo_ajustado
ln_sueldo_base
ln_sueldo_regular

In [96]:
for name in df_panel_all_pitcher.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_pitcher[name])):
            if math.isinf(df_panel_all_pitcher[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_pitcher[name].iloc[element]))

acronimo
agente_libre
altura
anio
anio_de_agente_libre
anios_de_contrato
antiguedad
bateos
bateos_2
bono_por_firma
cantidad de equipos
cantidad_agentes_libres
carreras
carreras_2
carreras_ganadas
carreras_ganadas_2
comando
comando_2
control
control_2
dominio
dominio_2
era
era_2
edad
edad_al_firmar
equipo
estado
ganancias
inning_pitched
inning_pitched_2
juegos
juegos totales
juegos_iniciados
juegos_iniciados_2
jugador
losses
losses_2
pago_efectivo
pennants won
peso
playoffs
porcentaje_juegos
posicion
promedio_victorias
saves
saves_2
strike-outs
strike-outs_2
sueldo_ajustado
sueldo_base
sueldo_porcentual
sueldo_regular
tvs
tvs_2
valor_contrato_promedio
valor_contrato_total
valor_del_contrato
victorias
war
war_2
whip
whip_2
ws ganadas
walks
walks_2
wins
wins_2
ln_sueldo_ajustado
ln_sueldo_base
ln_sueldo_regular

In [97]:
df_panel_all_hitter.sort_index(axis = 1, inplace = True)
df_panel_all_pitcher.sort_index(axis = 1, inplace = True)

Exportemos los paneles

In [98]:
df_panel_all_hitter.to_csv('ETL_Data/Per_Game/Panel/Hitter/visual_panel' + '.csv',
                           index = False)
df_panel_all_pitcher.to_csv('ETL_Data/Per_Game/Panel/Pitcher/visual_panel' + '.csv',
                            index = False)