# Modelo lineal del artículo

En este modelo que es de la siguiente forma:

necesitaremos la base de datos que contruimos con toda la información relevante de los equipos!

In [1]:
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import pandas as pd
import numpy as np
import math
import os
import warnings
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 5

In [3]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
os.chdir(path)

/home/usuario/Documentos/Github/Proyectos/MLB_HN/Models/Linear_models

Leamos los archivos correspondientes

In [35]:
# Años de análisis
period = 11
csv = '.csv'
# Directorios
teams_path = 'Data/New_Data/Teams/free_agents_team_'
names_path = 'Data/Teams/team_acronym'
# Originales:
names = pd.read_csv(names_path + csv)
df_team = [None]*period
df_team_copy = [None]*period

In [36]:
for i in range(0,period):
    df_team[i] = pd.read_csv(teams_path + str(2011 + i) + csv)
    df_team_copy[i] = df_team[i].copy()

Observemos el contenido de las bases de datos

In [37]:
names.head()

  Acronimo                Equipo
0      ARI  Arizona Diamondbacks
1      ATL        Atlanta Braves
2      BAL     Baltimore Orioles
3      BOS        Boston Red Sox
4      CHC          Chicago Cubs

In [38]:
df_team_copy[9].head()

,Equipo,Cantidad_agentes_libres,Valor_contrato,Acronimo,Victorias,Juegos totales,Promedio_victorias
0,New York Yankees,2,336500000,NYY,33,60,0.550000
1,Washington Nationals,10,316750000,WSH,26,62,0.419355
2,Los Angeles Angels,3,260850000,LAA,26,60,0.433333
3,Chicago White Sox,5,151500000,CHW,35,60,0.583333
4,Cincinnati Reds,4,144825000,CIN,31,59,0.525424

## Construcción de la base de datos para el modelo

Primero, tenemos que determinar cuál es el mínimo y máximo del promedio de victorias de cada equipo a lo largo del periodo de análisis. Primero, creemos un diccionario que guarde en una lista ambos valores cuya llave asociada sea el nombre del equipo. Se tomará el promedio y no el número de victorias puesto que no todos los equipos juegan la misma cantidad de partidos en una temporada y habría fallos en el análisis en años como el 2020 por la pandemia que provocó que la cantidad de juegos por temporada fuiera mucho menor  a la usual, siendo alrededor de 60 juegos en dicha temporada.

Para crear este diccionario usaremos la base de datos de los acrónimos puesto que contiene todos los equipos que puedan haber en las bases de datos de los equipos en el periodo de análisis

In [43]:
minmax_victories = {}
length_names = len(names['Equipo'])
# CReemos las llaves con los nombres de los equipos
for i in range(0,length_names):
    minmax_victories[str(names['Equipo'].iloc[i])] = [None]*2

Como valores de comparación para las victorias usaremos cualquier base de datos que contenga la misma cantidad de filas que la base de datos *names*. Obtengamos el índice de las bases de datos que cumplan esa condición.

In [44]:
for i in range(0,period):
    if len(df_team_copy[i]['Equipo']) == length_names:
        print(i)

2
3
4
5
6
8
10

In [71]:
# Usaremos la tercera base de datos
team_name = list(minmax_victories.keys())
for i in range(length_names):
    for j in range(length_names):
        if team_name[i] == df_team_copy[2]['Equipo'].iloc[j]:
            minmax_victories[team_name[i]][0] = df_team_copy[2]['Promedio_victorias'].iloc[j]
            minmax_victories[team_name[i]][1] = df_team_copy[2]['Promedio_victorias'].iloc[j]

Ahora, recorreremos el promedio de victorias de todas las bases de datos para hallar el menor y mayor número de victorias que ha tenido cada equipo en el periodo de análisis.

In [73]:
for year in range(period):
    # Nombres de los equipos en la base de datos
    team_year_name = list(df_team_copy[year]['Equipo'])
    
    for i in range(length_names):
        # Mínimo actual
        min_victory = minmax_victories[team_name[i]][0]
        # Máximo actual:
        max_victory = minmax_victories[team_name[i]][1]
        
        for j in range(len(team_year_name)):
            
            if team_name[i] == team_year_name[j]:
                year_victory = df_team_copy[year]['Promedio_victorias'].iloc[j]
                
                # Mínimo nuevo:
                if year_victory < min_victory:
                    minmax_victories[team_name[i]][0] = year_victory
                # Máximo nuevo:
                elif year_victory > max_victory:
                    minmax_victories[team_name[i]][1] = year_victory

Los valores de la lista ahora son de la siguiente forma:

In [75]:
print(minmax_victories[team_name[1]])

[0.40625, 0.6024844720496895]

A continuación, se creará una columna que indique si la victoria de la temporada -correspondiente a la base de datos donde se situe- está más cercana del promedio más alto de victorias o del menor. 1 indicará que está más cercano a la mayor victoria, y 0 en otro caso -en caso de empate, se eligirá al 1.

In [93]:
for year in range(period):
    # Nombres de los equipos en la base de datos
    team_year_name = list(df_team_copy[year]['Equipo'])
    # COlumna dummy:
    df_team_copy[year]['Dummy'] = -1
    
    for i in range(length_names):
        # Mínimo actual
        min_victory = minmax_victories[team_name[i]][0]
        # Máximo actual:
        max_victory = minmax_victories[team_name[i]][1]
        
        for j in range(len(team_year_name)):
            
            if team_name[i] == team_year_name[j]:
                year_victory = df_team_copy[year]['Promedio_victorias'].iloc[j]
                
                # Distancia al mínimo:
                dist_min = year_victory - min_victory
                # Distancia al máximo:
                dist_max = max_victory - year_victory
                
                # Mínimo nuevo:
                if dist_min < dist_max:
                    df_team_copy[year]['Dummy'].iloc[j] = 0
                # Máximo nuevo
                else:  
                    df_team_copy[year]['Dummy'].iloc[j] = 1

In [95]:
df_team_copy[6].tail()

,Equipo,Cantidad_agentes_libres,Valor_contrato,Acronimo,Victorias,Juegos totales,Promedio_victorias,Dummy
24,Milwaukee Brewers,3,7550000,MIL,86,162,0.530864,1
25,Chicago White Sox,1,6000000,CHW,67,162,0.413580,0
26,Boston Red Sox,1,5500000,BOS,93,162,0.574074,1
27,Cincinnati Reds,2,5300000,CIN,68,162,0.419753,0
28,Detroit Tigers,1,2000000,DET,64,162,0.395062,0

Usemos la variable dummy para crear la columna que contenga el siguiente dato:

$$
\left( -1 \right)^{I_{t}^{-}}\frac{y_{t}}{\sqrt{y_H}}
$$

In [106]:
for year in range(period):
    # Nombres de los equipos en la base de datos
    team_year_name = list(df_team_copy[year]['Equipo'])
    # Columna de la nueva variable
    df_team_copy[year]['X_dummy'] = -1
    
    for i in range(length_names):        
        for j in range(len(team_year_name)):
            
            if team_name[i] == team_year_name[j]:
                # Variables auxiliares
                mean_victory = df_team_copy[year]['Promedio_victorias'].iloc[j]
                dummy = df_team_copy[year]['Dummy'].iloc[j]
                s_max_victory = np.power(minmax_victories[team_name[i]][1],0.5)
                if dummy == 0:
                    parity = 1
                else:
                    parity = -1
                
                # Variable dummy nueva
                df_team_copy[year]['X_dummy'].iloc[j] = parity*mean_victory/s_max_victory

In [107]:
df_team_copy[6].tail()

,Equipo,Cantidad_agentes_libres,Valor_contrato,Acronimo,Victorias,Juegos totales,Promedio_victorias,Dummy,X_dummy
24,Milwaukee Brewers,3,7550000,MIL,86,162,0.530864,1,-0.689613
25,Chicago White Sox,1,6000000,CHW,67,162,0.413580,0,0.541504
26,Boston Red Sox,1,5500000,BOS,93,162,0.574074,1,-0.703094
27,Cincinnati Reds,2,5300000,CIN,68,162,0.419753,0,0.542457
28,Detroit Tigers,1,2000000,DET,64,162,0.395062,0,0.521412

In [19]:
[None]*2

[None, None]

In [20]:
len(names['Equipo'])

29

In [58]:
str(names['Equipo'].iloc[4])

'Chicago Cubs'