# Players dataframes for the same period t

En este script nos dedicaremos a crear una base de datos limpia segmentada por hitters y pitchers. Se exportarán dichas bases de datos contemplando respectivamente a los jugadores que son agentes libres, a los que no son y a todos los jugadores. Las secciones dentro del script son:

- **Visualización del contenido de las bases de datos.**
- **Limpieza de la base de datos y exportación.**
- **Creación de indicador de si el jugador es agente libre.**

Importemos los modulos necesarios así como especificar la configuración deseada.

In [1]:
import pandas as pd
import numpy as np
import math
import os
import warnings
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 5

In [3]:
# Directorio de trabajo
print("Directorio de trabajo previo: " + str(os.getcwd()))
# Cambiemoslo
os.chdir('/home/usuario/Documentos/Github/Proyectos/MLB_HN/')

Directorio de trabajo previo: /home/usuario/Documentos/Github/Proyectos/MLB_HN/ETL_Scripts/First_Year_Contract

In [4]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
print("Nuevo directorio de trabajo: " + str(os.chdir(path)))

/home/usuario/Documentos/Github/Proyectos/MLB_HN
Nuevo directorio de trabajo: None

## Visualización de las bases de datos

Basta con ver el contenido de las base de datos de un año para observar qué variables contienen. Escojamos el año 2012.

A continuación, se mostrará el contenido de las distintas bases de datos sobre los *bateadores*, *pitchers*, *salarios de los agentes libres* y *salarios de los todos los jugadores*. Esto para determinar el proceso de limpieza que se llevará a cabo.

In [5]:
# Rutas de los archivos del año 2012
free_agents_2012 = 'Data/Free_Agents/free_agents_2012.csv'
hitting_2012 = 'Data/Not_All_Variables/Statistics/Hitting/hitting_2012.csv'
pitching_2012 = 'Data/Not_All_Variables/Statistics/Pitching/pitching_2012.csv'
salary_2012 = 'Data/Not_All_Variables/Salary/salary_2012.csv'
teams_etl_2012 = 'ETL_Data/Agent/Teams/free_agents_team_2012.csv'

# Importando los dataframes
df_free_agent_auxiliar_2012 = pd.read_csv(free_agents_2012)
df_hitting_auxiliar_2012 = pd.read_csv(hitting_2012)
df_pitching_auxiliar_2012 = pd.read_csv(pitching_2012)
df_salary_auxiliar_2012 = pd.read_csv(salary_2012)
df_teams_etl_2012 = pd.read_csv(teams_etl_2012)

### Agentes libres

Veamos primero el dataframe

In [6]:
df_free_agent_auxiliar_2012.head()

,Rank,Player,Year,Pos,Status,Team From,Team From To,YRS,Value,AAV
0,1,Albert Pujols,2012,DH,UFA,STL,LAA,10,"$240,000,000","$24,000,000"
1,2,Prince Fielder,2012,DH,UFA,MIL,DET,9,"$214,000,000","$23,777,778"
2,3,Jose Reyes,2012,SS,UFA,NYM,MIA,6,"$106,000,000","$17,666,667"
3,4,C.J. Wilson,2012,SP,UFA,TEX,LAA,5,"$77,500,000","$15,500,000"
4,5,Mark Buehrle,2012,SP,UFA,CHW,MIA,4,"$58,000,000","$14,500,000"

### Hitters

Veamos el dataframe

In [7]:
df_hitting_auxiliar_2012.head()

,Rank,Player,Pos,Team,GP,GP%,GS,GS%,AB,H,...,HR,RBI,AVG,OBP,SLG,OPS,WAR,TVS,Cash2023,Unnamed: 21
0,NaN,Derek Jeter,SS,NYY,159,0.982,158,0.975,683,216,...,15,58,0.316,0.362,0.429,0.791,2.16,23.61,$0,NaN
1,NaN,Miguel Cabrera,1B,DET,161,0.994,161,0.994,622,205,...,44,139,0.330,0.393,0.606,0.999,7.14,96.42,"$32,000,000",NaN
2,NaN,Robinson Cano,2B,NYY,161,0.994,159,0.982,627,196,...,33,94,0.313,0.379,0.550,0.929,8.44,98.76,$0,NaN
3,NaN,Everth Cabrera,SS,SD,230,0.710,218,0.673,796,196,...,4,48,0.246,0.324,0.324,0.648,3.56,82.66,$0,NaN
4,NaN,Adrian Beltre,3B,TEX,156,0.963,152,0.938,604,194,...,36,102,0.321,0.359,0.561,0.921,7.24,88.47,$0,NaN

In [8]:
df_hitting_auxiliar_2012.columns

Index(['Rank', 'Player', 'Pos', 'Team', 'GP', 'GP%', 'GS', 'GS%', 'AB', 'H',
       '2B', '3B', 'HR', 'RBI', 'AVG', 'OBP', 'SLG', 'OPS', 'WAR', 'TVS',
       'Cash2023', 'Unnamed: 21'],
      dtype='object')

Los términos en la base de datos no se traducirán para evitar malentendidos en la traducción.

- **Pos**: Player position.
- **Team**: Team acronym.
- **GP**: Games played.
- **GP%**: Games played %.
- **AB**: At bats.
- **H**: Hitting.
- **HR**: Home runs.
- **RBI**: Runs batted in.
- **AVG**: Batting average.
- **OPS**: Onebase plus slugging%.

Se omitirá la columna *Cash2022* puesto que no es de interés para el trabajo el valor del jugador en la actualidad puesto que hay agentes libres que ya se han retirado en años posteriores.

## Pitchers

In [9]:
df_pitching_auxiliar_2012.head()

,Rank,Player,Pos,Team,GP,GS,IP,H,R,ER,...,SO,W,L,SV,WHIP,ERA,WAR,TVS,Cash2023,Unnamed: 20
0,NaN,R.A. Dickey,SP,NYM,34,33,233.7,192,78,71,...,230,20,6,0,1.05,2.74,5.69,97.27,$0,NaN
1,NaN,Felix Hernandez,SP,SEA,33,33,232.0,209,84,79,...,223,13,9,0,1.14,3.07,5.26,85.20,$0,NaN
2,NaN,James Shields,SP,TB,33,33,227.7,209,103,89,...,223,15,10,0,1.17,3.52,2.54,79.41,$0,NaN
3,NaN,Clayton Kershaw,SP,LAD,34,33,227.7,170,70,64,...,229,14,9,0,1.02,2.53,6.43,95.71,"$20,000,000",NaN
4,NaN,Hiroki Kuroda,SP,NYY,33,33,219.7,205,86,81,...,167,16,11,0,1.16,3.32,5.27,81.85,$0,NaN

In [10]:
df_pitching_auxiliar_2012.columns

Index(['Rank', 'Player', 'Pos', 'Team', 'GP', 'GS', 'IP', 'H', 'R', 'ER', 'BB',
       'SO', 'W', 'L', 'SV', 'WHIP', 'ERA', 'WAR', 'TVS', 'Cash2023',
       'Unnamed: 20'],
      dtype='object')

#### Notación.

Veamos a qué se refieren algunos términos

- **Pos**: Player position.
- **Team**: Team acronym.
- **GP**: Games played.
- **GS**: Games started.
- **IP**: Inning pitched.
- **H**: Hits.
- **R**: Runs.
- **ER**: Earned runs.
- **BB**: Walks.
- **SO**: Strikeouts.
- **W**: Wins.
- **L**: Losses-
- **SV**: Saves.
- **WHIP**: WHIP.
- **ERA**: Earned runs average.

Por razones análogas, se descartará la columna *Cash2022*.

### Salarios
En este caso, hay muchas menos variables que en las anteriores bases de datos

In [11]:
df_salary_auxiliar_2012.head()

,Rank,Player,Year,Pos,Team,BaseSalary,SigningBonus,Payroll Salary,Adj Salary,Salary%,...,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Age,Age,Weight,Height,Unnamed: 20
0,NaN,Alex Rodriguez,2012,DH,NYY,"$29,000,000","$1,000,000","$30,000,000","$30,000,000",0.132,...,"$27,500,000",10,"$275,000,000","$321,290,700",2018,32,37,230,"0'0""",NaN
1,NaN,C.C. Sabathia,2012,SP,NYY,"$23,000,000","$1,285,714","$24,285,714","$24,285,714",0.107,...,"$23,000,000",7,"$161,000,000","$127,285,714",2016,28,31,300,"6'6""",NaN
2,NaN,Vernon Wells,2012,LF,LAA,"$21,000,000","$3,187,500","$24,187,500","$24,187,500",0.154,...,"$18,000,000",7,"$126,000,000","$102,521,000",2015,29,33,0,"0'0""",NaN
3,NaN,Johan Santana,2012,SP,NYM,"$24,000,000",$0,"$24,000,000","$24,000,000",0.228,...,"$22,916,667",6,"$137,500,000","$148,560,000",2014,28,33,155,"6'0""",NaN
4,NaN,Mark Teixeira,2012,1B,NYY,"$22,500,000","$625,000","$23,125,000","$23,125,000",0.101,...,"$22,500,000",8,"$180,000,000","$127,650,000",2017,28,32,225,"6'3""",NaN

In [12]:
df_salary_auxiliar_2012.columns

Index(['Rank', 'Player', 'Year', 'Pos', 'Team', 'BaseSalary', 'SigningBonus',
       'Payroll Salary', 'Adj Salary', 'Salary%', 'Cash', 'AAV', 'CONT YR',
       'CONT VALUE', 'Earnings', 'FA Year', 'Sign Age', 'Age', 'Weight',
       'Height', 'Unnamed: 20'],
      dtype='object')

- **BaseSalary**: A base salary is the minimum amount you can expect to earn in exchange for your time or services. This is the amount earned before benefits, bonuses, or compensation is added.
- **Payroll Salary**: Payroll is the compensation a business must pay to its employees for a set period and on a given date plus signing bonus
- **Adj Salary**: Adjusted Salary means the regular salary, wages and commissions, if any, payable to a Participant by the Company for the Participant's service, excluding any bonuses or other compensation.

### Teams ETL

Esta base de datos sobre los equipos es bajo el proceso ETL

In [13]:
df_teams_etl_2012.head()

,Equipo,Cantidad_agentes_libres,Valor_contrato_total,Acronimo,Victorias,Juegos totales,Playoffs,Pennants won,WS ganadas,Promedio_victorias
0,Los Angeles Angels,4,321150000,LAA,89,162,10,1,1,0.549383
1,Detroit Tigers,3,221000000,DET,88,162,14,11,4,0.543210
2,Miami Marlins,6,203300000,MIA,69,162,2,2,2,0.425926
3,Philadelphia Phillies,7,57650000,PHI,81,162,14,7,2,0.500000
4,Los Angeles Dodgers,9,44651311,LAD,86,162,26,25,6,0.530864

### Equipos por estado

In [14]:
states = 'Data/Teams/team_states.csv'
df_states = pd.read_csv(states)

In [15]:
df_states.head()

       Estado  Cantidad de equipos
0     Alabama                    0
1      Alaska                    0
2     Arizona                    1
3    Arkansas                    0
4  California                    5

### Acrónimos

Nos servirá como llave intermedia para unificar las bases de datos de los equipos

In [16]:
acronym = 'Data/Teams/team_acronym.csv'
df_acronym = pd.read_csv(acronym)

In [17]:
df_acronym.head()

                 Equipo Acronimo         Estado
0  Arizona Diamondbacks      ARI        Arizona
1        Atlanta Braves      ATL        Georgia
2     Baltimore Orioles      BAL       Maryland
3        Boston Red Sox      BOS  Massachusetts
4          Chicago Cubs      CHC       Illinois

Unamos esta dataframe con el de los equipos por estado

In [18]:
acronym_state = pd.merge(df_states, df_acronym, on = 'Estado')

In [19]:
acronym_state.head()

       Estado  Cantidad de equipos                Equipo Acronimo
0     Arizona                    1  Arizona Diamondbacks      ARI
1  California                    5    Los Angeles Angels      LAA
2  California                    5   Los Angeles Dodgers      LAD
3  California                    5     Oakland Athletics      OAK
4  California                    5      San Diego Padres       SD

En este caso, el nombre de las variables es claro

## Algoritmo para la creación de las bases de datos

A continuaicón, se optimizará el código para que se puedan obtener los *dataframes* anteriores para un cojuntos de datos de años secuenciales, como es nuestro caso

In [20]:
# Auxiliares:
free_agents = 'Data/Free_Agents/free_agents_'
hitting = 'Data/Not_All_Variables/Statistics/Hitting/hitting_'
pitching = 'Data/Not_All_Variables/Statistics/Pitching/pitching_'
salary = 'Data/Not_All_Variables/Salary/salary_'
teams = 'ETL_Data/Agent/Teams/free_agents_team_'
csv = '.csv'
period = 12
# Originales:
df_free_agents = [None]*period
df_hitting = [None]*period
df_pitching = [None]*period
df_salary = [None]*period
df_teams = [None]*period
# Copias:
df_free_agents_copy = [None]*period
df_hitting_copy = [None]*period
df_pitching_copy = [None]*period
df_salary_copy = [None]*period
df_teams_copy = [None]*period
# Producto final:
df_pitchers = [None]*period
df_hitters = [None]*period
df_pitchers_free_agents = [None]*period
df_hitters_free_agents = [None]*period
df_pitchers_no_free_agents = [None]*period
df_hitters_no_free_agents = [None]*period
df_panel_hitters = [None]*period
df_panel_pitchers = [None]*period

Leamos todos los archivos y creemos las copias

In [21]:
for year in range(0,period):    
    df_free_agents[year] = pd.read_csv(free_agents + str(2011 + year) + csv)
    df_hitting[year] = pd.read_csv(hitting + str(2011 + year) + csv)
    df_pitching[year] = pd.read_csv(pitching + str(2011 + year) + csv)
    df_salary[year] = pd.read_csv(salary + str(2011 + year) + csv)
    df_teams[year] = pd.read_csv(teams + str(2011 + year) + csv)
    
    df_free_agents_copy[year] = df_free_agents[year].copy()
    df_hitting_copy[year] = df_hitting[year].copy()
    df_pitching_copy[year] = df_pitching[year].copy()
    df_salary_copy[year] = df_salary[year].copy()
    df_teams_copy[year] = pd.read_csv(teams + str(2011 + year) + csv)

Tratemos las bases de datos por separado. Sin embargo, a todas les quitaremos la columna de rango y *Cash2023*.

Como no queremos que se repita la columna del año de la temporada de la base de datos, borremos la columna de *Year* de la base  de datos de los agentes libres. Como los años del contrato aparecen en la base de datos sobre los salarios, se prefiere conservar dicha columna en la base de datos de salarios puesto que esta base de datos es más general que la de los agentes libres, razón por la que se borrará de esta última base de datos. 

El equipo al que se cambia el agente libre está señalado por la columna del equipo en la base de datos de salarios y la estadísticas deportivas por lo que se borrará *Team From To* de la base de datos de los agentes libres. 

Como nos importan los salarios para este analisis, quitaremos la columna de los equipos en las bases de datos sobre las estadísticas deportivas de todos los jugadores, así como la posición que ocupan.

In [22]:
for year in range(0,period):
    # Drop columns:
    if any(name in df_free_agents_copy[year].columns for name in ['Rank','Pos','Year','YRS','Team From To']):
        df_free_agents_copy[year].drop('Rank', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Year', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Pos', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('YRS', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Team From To', axis = 1, inplace = True)
    if 'Rank' in df_salary_copy[year].columns:
        df_salary_copy[year].drop('Rank', axis = 1, inplace = True)
    if any(name in df_hitting_copy[year].columns for name in ['Rank','Year','Cash2023','Team','Pos']):
        df_hitting_copy[year].drop('Rank', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Cash2023', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Team', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Pos', axis = 1, inplace = True)
    if any(name in df_pitching_copy[year].columns for name in ['Rank','Year','Cash2023','Team','Pos']):
        df_pitching_copy[year].drop('Rank', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Cash2023', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Team', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Pos', axis = 1, inplace = True)

Debido a que aparecen columnas que inician con el  nombre *Unnamed*, tendremos que borrarlas con algún método general, el cual se muestra a continuación:

In [23]:
for year in range(0,period):
    # Base de datos de agentes libres:
    df_free_agents_copy[year].drop(df_free_agents_copy[year].columns[df_free_agents_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los salarios:
    df_salary_copy[year].drop(df_salary_copy[year].columns[df_salary_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los hitters:
    df_hitting_copy[year].drop(df_hitting_copy[year].columns[df_hitting_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los pitchers:
    df_pitching_copy[year].drop(df_pitching_copy[year].columns[df_pitching_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)

Verifiquemos que ya no se encuentran dichas columnas molestas

In [24]:
df_free_agents_copy[9].columns

Index(['Player', 'Status', 'Team From', 'Value', 'AAV'], dtype='object')

In [25]:
df_salary_copy[11].columns

Index(['Player', 'Year', 'Pos', 'Team', 'BaseSalary', 'SigningBonus',
       'Payroll Salary', 'Adj Salary', 'Salary%', 'Cash', 'AAV', 'CONT YR',
       'CONT VALUE', 'Earnings', 'FA Year', 'Sign Age', 'Age', 'Weight',
       'Height'],
      dtype='object')

In [26]:
df_hitting_copy[2].columns

Index(['Player', 'GP', 'GP%', 'GS', 'GS%', 'AB', 'H', '2B', '3B', 'HR', 'RBI',
       'AVG', 'OBP', 'SLG', 'OPS', 'WAR', 'TVS'],
      dtype='object')

In [27]:
df_pitching_copy[5].columns

Index(['Player', 'GP', 'GS', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'W', 'L', 'SV',
       'WHIP', 'ERA', 'WAR', 'TVS'],
      dtype='object')

#### Agentes libres

No se conservará el equipo al que es contratado el agente libre puesto que esta información también la contiene la base de datos que facilita más el tratamiento _ETL_.

In [28]:
for year in range(0,period):
    df_free_agents_copy[year] = df_free_agents_copy[year].rename(columns = {'Player':'Jugador',
                            'Status':'Status_agente_libre', 'Team From':'Equipo_anterior',
                            'Value':'Valor_contrato', 'AAV':'Valor_promedio_contrato'})
    
    free_agents_aux_1 = df_free_agents_copy[year]['Valor_contrato'].str.replace("$","")
    free_agents_aux_2 = free_agents_aux_1.str.replace(",","")
    free_agents_aux_3 = df_free_agents_copy[year]['Valor_promedio_contrato'].str.replace("$","")
    free_agents_aux_4 = free_agents_aux_3.str.replace(",","")
    df_free_agents_copy[year]['Valor_contrato'] = free_agents_aux_2
    df_free_agents_copy[year]['Valor_promedio_contrato'] = free_agents_aux_4
    
    df_free_agents_copy[year]['Valor_contrato'] = pd.to_numeric(df_free_agents_copy[year]['Valor_contrato'])
    df_free_agents_copy[year]['Valor_promedio_contrato'] = pd.to_numeric(df_free_agents_copy[year]['Valor_promedio_contrato'])

Observemos las dimensiones de las bases de datos como referencia

In [29]:
for year in range(0,period):
    print(df_free_agents_copy[year].shape)

(1, 5)
(108, 5)
(213, 5)
(208, 5)
(221, 5)
(241, 5)
(100, 5)
(98, 5)
(105, 5)
(118, 5)
(141, 5)
(137, 5)

También el tipo de datos que contiene cada columna

In [30]:
df_free_agents_copy[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  108 non-null    object
 1   Status_agente_libre      108 non-null    object
 2   Equipo_anterior          108 non-null    object
 3   Valor_contrato           108 non-null    int64
 4   Valor_promedio_contrato  108 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.3+ KB

#### Salarios

Como los salarios irán con las bases de datos de los _hitters_ y _pitchers_ es que se hará su proceso _ETL_ antes.

In [31]:
for year in range(0,period):
    # Cambio de nombres
    df_salary_copy[year] = df_salary_copy[year].rename(columns = {'Player':'Jugador',
                            'BaseSalary':'Sueldo_base', 'SigningBonus':'Bono_por_firma',
                            'Payroll Salary':'Sueldo_regular', 'Adj Salary':'Sueldo_ajustado',
                            'CONT YR':'Anios_de_contrato', 'CONT VALUE':'Valor_del_contrato',
                            'Earnings':'Ganancias', 'FA Year':'Anio_de_agente_libre',
                            'Sign Age':'Edad_al_firmar', 'Age':'Edad', 'Weight':'Peso',
                            'Height':'Altura', 'Year':'Anio', 'Pos':'Posicion',
                            'Salary%':'Sueldo_porcentual', 'Cash':'Pago_efectivo',
                            'AAV':'Valor_contrato_promedio', 'Team':'Acronimo'})
    
    # Tranformando al tipo de dato apropiado
    salary_aux_1 = df_salary_copy[year]['Sueldo_base'].str.replace("$","")
    salary_aux_2 = salary_aux_1.str.replace(",","")
    df_salary_copy[year]['Sueldo_base'] = salary_aux_2
    df_salary_copy[year]['Sueldo_base'] = pd.to_numeric(df_salary_copy[year]['Sueldo_base'])
    
    salary_aux_3 = df_salary_copy[year]['Sueldo_regular'].str.replace("$","")
    salary_aux_4 = salary_aux_3.str.replace(",","")
    df_salary_copy[year]['Sueldo_regular'] = salary_aux_4
    df_salary_copy[year]['Sueldo_regular'] = pd.to_numeric(df_salary_copy[year]['Sueldo_regular'])
    
    salary_aux_5 = df_salary_copy[year]['Sueldo_ajustado'].str.replace("$","")
    salary_aux_6 = salary_aux_5.str.replace(",","")
    df_salary_copy[year]['Sueldo_ajustado'] = salary_aux_6
    df_salary_copy[year]['Sueldo_ajustado'] = pd.to_numeric(df_salary_copy[year]['Sueldo_ajustado'])
    
    salary_aux_7 = df_salary_copy[year]['Valor_del_contrato'].str.replace("$","")
    salary_aux_8 = salary_aux_7.str.replace(",","")
    df_salary_copy[year]['Valor_del_contrato'] = salary_aux_8
    df_salary_copy[year]['Valor_del_contrato'] = pd.to_numeric(df_salary_copy[year]['Valor_del_contrato'])
    
    salary_aux_9 = df_salary_copy[year]['Bono_por_firma'].str.replace("$","")
    salary_aux_10 = salary_aux_9.str.replace(",","")
    df_salary_copy[year]['Bono_por_firma'] = salary_aux_10
    df_salary_copy[year]['Bono_por_firma'] = pd.to_numeric(df_salary_copy[year]['Bono_por_firma'])
    
    salary_aux_11 = df_salary_copy[year]['Ganancias'].str.replace("$","")
    salary_aux_12 = salary_aux_11.str.replace(",","")
    df_salary_copy[year]['Ganancias'] = salary_aux_12
    df_salary_copy[year]['Ganancias'] = pd.to_numeric(df_salary_copy[year]['Ganancias'])
    
    salary_aux_13 = df_salary_copy[year]['Pago_efectivo'].str.replace("$","")
    salary_aux_14 = salary_aux_13.str.replace(",","")
    df_salary_copy[year]['Pago_efectivo'] = salary_aux_14
    df_salary_copy[year]['Pago_efectivo'] = pd.to_numeric(df_salary_copy[year]['Pago_efectivo'])
    
    salary_aux_15 = df_salary_copy[year]['Valor_contrato_promedio'].str.replace("$","")
    salary_aux_16 = salary_aux_15.str.replace(",","")
    df_salary_copy[year]['Valor_contrato_promedio'] = salary_aux_16
    df_salary_copy[year]['Valor_contrato_promedio'] = pd.to_numeric(df_salary_copy[year]['Valor_contrato_promedio'])
    
    salary_aux_17 = df_salary_copy[year]['Altura'].str.replace("\"","")
    salary_aux_18 = salary_aux_17.str.replace("'","")
    df_salary_copy[year]['Altura'] = salary_aux_18
    df_salary_copy[year]['Altura'] = pd.to_numeric(df_salary_copy[year]['Altura'])/10
    # SUstitullamos los xeros
    height_mean = df_salary_copy[year]['Altura'].mean(skipna=True)
    df_salary_copy[year]['Altura'] = df_salary_copy[year].Altura.mask(df_salary_copy[year].Altura == 0, height_mean)
    
    df_salary_copy[year]['Anio_de_agente_libre'] = pd.to_numeric(df_salary_copy[year]['Anio_de_agente_libre'])
    df_salary_copy[year]['Anios_de_contrato'] = pd.to_numeric(df_salary_copy[year]['Anios_de_contrato'])
    df_salary_copy[year]['Edad'] = pd.to_numeric(df_salary_copy[year]['Edad'])

Por algunas particularidades de la base de datos, las columna que contiene la edad al firmar se tratará por separado aprovechando que la mayoría de los datos incorrectos tienen una longitud mayor a dos.

In [32]:
for year in range (0,period):
    df_salary_copy[year]['Edad_al_firmar'] = df_salary_copy[year]['Edad_al_firmar'].map(str)

    for edad in range(0,df_salary_copy[year].shape[0]):
        # String es mayor que 0:
        if len(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) == 2:
            df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(df_salary_copy[year]['Edad_al_firmar'].iloc[edad])
            
        # String es menor o igual que 0:
        elif len(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) != 2:
            # Si la columna de la edad contiene datos correctos
            if df_salary_copy[year]['Edad'].iloc[edad] > 0:
                if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                    ag_year = year + 2011 + 1
                else:
                    ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
                # Get first year of contract
                ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
                # Años desde el el año inicial
                dif_years = year + 2011 - ini_year
                # Edad al firmar:
                sign_age = df_salary_copy[year]['Edad'].iloc[edad] - dif_years
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(sign_age)
                
            # Si la columna de edad no contiene un dato coherente
            else:
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(18)    
    
        # Entero  menor a 0:
        if df_salary_copy[year]['Edad_al_firmar'].iloc[edad] < 0:
            # Si la columna de la edad contiene datos correctos
            if df_salary_copy[year]['Edad'].iloc[edad] > 0:
                if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                    ag_year = year + 2011 + 1
                else:
                    ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
                # Get first year of contract
                ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
                # Años desde el el año inicial
                dif_years = year + 2011 - ini_year
                # Edad al firmar:
                sign_age = df_salary_copy[year]['Edad'].iloc[edad] - dif_years
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(sign_age)
                
            # Si la columna de edad no contiene un dato coherente
            else:
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(18)
         
    # Transformemos los datos a enteros
    df_salary_copy[year]['Edad_al_firmar'] = pd.to_numeric(df_salary_copy[year]['Edad_al_firmar'])

Podemos verificar si se limpiaron adecuadamente las celdas de la columna de edades al firmar. Esto, al filtrar los datos que sean distintos a enteros y al observar si se pudo transformar toda la columna al tipo entero.

In [33]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
        if type(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) != np.int64:
            print(type(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]))

In [34]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
        if df_salary_copy[year]['Edad_al_firmar'].iloc[edad] < 0:
            print(df_salary_copy[year]['Edad_al_firmar'].iloc[edad])

In [35]:
#for year in range(0,period):
#    print(type(df_salary_copy[year][['Edad_al_firmar']].info()))

In [36]:
#for year in range(0,period):
#    print(year)
#    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
#        print(str(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) + ' ' + str(edad))

Por otro lado, falta corregir las entradas de las columnas de las edades que tengan valores menores a cero. Esto se hará de acuerdo al resto de columnas

In [37]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad'].shape[0]):
        if df_salary_copy[year]['Edad'].iloc[edad] < 0:
            print(year)
            print(df_salary_copy[year]['Edad'].iloc[edad])

0
-9
1
-8
2
-7

In [38]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year].shape[0]):
        # Condición para imputar:
        if df_salary_copy[year]['Edad'].iloc[edad] <= 0:
            # Si no se indica si tendrá año de agencia libre:
            if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                        ag_year = year + 2011 + 1
            # Si tendrá año de agencia libre
            else:
                ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
            # Get first year of contract
            ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
            # Años desde el el año inicial
            dif_years = year + 2011 - ini_year
            # Edad en la temporada:
            seasson_age = df_salary_copy[year]['Edad_al_firmar'].iloc[edad] + dif_years
            # Asignación
            df_salary_copy[year]['Edad'].iloc[edad] = seasson_age

Comprobemos que no hay ninguna edad negativa

In [39]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad'].shape[0]):
        if df_salary_copy[year]['Edad'].iloc[edad] < 0:
            print(year)
            print(str(df_salary_copy[year]['Edad'].iloc[edad]) + ' ' + str(edad))

Con la imputación de datos ya se puede crear la columna que contiene la antiguedad del agente libre bajo el contrato

In [40]:
for year in range(0,period):
    df_salary_copy[year]['Antiguedad'] = df_salary_copy[year]['Edad'] - df_salary_copy[year]['Edad_al_firmar']

Por último, convirtamos la columna del año a string para que se entienda como una categoría y no una variable numérica

In [41]:
for year in range(0,period):
    df_salary_copy[year]['Anio'] = df_salary_copy[year]['Anio'].map(str)

In [42]:
df_salary_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1045 non-null   object
 1   Anio                     1045 non-null   object
 2   Posicion                 1045 non-null   object
 3   Acronimo                 1045 non-null   object
 4   Sueldo_base              1045 non-null   int64
 5   Bono_por_firma           1045 non-null   int64
 6   Sueldo_regular           1045 non-null   int64
 7   Sueldo_ajustado          1045 non-null   int64
 8   Sueldo_porcentual        1045 non-null   float64
 9   Pago_efectivo            1045 non-null   int64
 10  Valor_contrato_promedio  1045 non-null   int64
 11  Anios_de_contrato        1045 non-null   int64
 12  Valor_del_contrato       1045 non-null   int64
 13  Ganancias                1045 non-null   int64
 14  Anio_de_agente_libre     1045 non-null   int64
 15  Edad_al_firmar           1045 non-null   int64
 16  Edad                     1045 non-null   int64
 17  Peso                     1045 non-null   int64
 18  Altura                   1045 non-null   float64
 19  Antiguedad               1045 non-null   int64
dtypes: float64(2), int64(14), object(4)
memory usage: 163.4+ KB

#### Hitters

In [43]:
for year in range(0,period):
    # Cambio de nombres
    df_hitting_copy[year] = df_hitting_copy[year].rename(columns = {'Player':'Jugador',
                            'GP':'Juegos', 'GP%':'Porcentaje_juegos',
                            'AB':'At-bats', 'H':'Bateos', 'GS':'Juegos_iniciados',
                            'GS%':'Porcentaje_juegos_iniciados', 'RBI':'Runs-batted-in',
                            'HR':'Home-runs', 'AVG':'Bateos_promedio',
                            '2B':'Dobles', '3B':'Triples', 'OPS':'Porcentaje_On-base-plus-slugging',
                            'SLG':'Porcentaje_slugging', 'OBP':'Porcentaje_on-base'})
    
    #df_hitters[year] = pd.merge(df_hitting_copy[year], df_salary_copy[year], on = 'Jugador')

    #df_hitters[year] = df_hitters[year].rename(columns = {'Equipo':'Acronimo'})

In [44]:
for year in range(0,period):
    print(df_hitting_copy[year].shape)

(521, 17)
(667, 17)
(734, 17)
(778, 17)
(809, 17)
(834, 17)
(810, 17)
(825, 17)
(850, 17)
(451, 17)
(753, 17)
(479, 17)

In [45]:
df_hitting_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834 entries, 0 to 833
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Jugador                           834 non-null    object
 1   Juegos                            834 non-null    int64
 2   Porcentaje_juegos                 834 non-null    float64
 3   Juegos_iniciados                  834 non-null    int64
 4   Porcentaje_juegos_iniciados       834 non-null    float64
 5   At-bats                           834 non-null    int64
 6   Bateos                            834 non-null    int64
 7   Dobles                            834 non-null    int64
 8   Triples                           834 non-null    int64
 9   Home-runs                         834 non-null    int64
 10  Runs-batted-in                    834 non-null    int64
 11  Bateos_promedio                   834 non-null    float64
 12  Porcentaje_on-base                834 non-null    float64
 13  Porcentaje_slugging               834 non-null    float64
 14  Porcentaje_On-base-plus-slugging  834 non-null    float64
 15  WAR                               832 non-null    float64
 16  TVS                               834 non-null    float64
dtypes: float64(8), int64(8), object(1)
memory usage: 110.9+ KB

In [46]:
df_hitting_copy[5].columns

Index(['Jugador', 'Juegos', 'Porcentaje_juegos', 'Juegos_iniciados',
       'Porcentaje_juegos_iniciados', 'At-bats', 'Bateos', 'Dobles', 'Triples',
       'Home-runs', 'Runs-batted-in', 'Bateos_promedio', 'Porcentaje_on-base',
       'Porcentaje_slugging', 'Porcentaje_On-base-plus-slugging', 'WAR',
       'TVS'],
      dtype='object')

#### Pitchers

In [47]:
for year in range(0,period):
    # Cambio de nombres
    df_pitching_copy[year] = df_pitching_copy[year].rename(columns = {'Player':'Jugador',
                             'GP':'Juegos', 'GS':'Juegos_iniciados', 'IP':'Inning_pitched',
                             'H':'Bateos_en_contra', 'R':'Carreras_en_contra', 'ER':'Carreras_ganadas',
                             'BB':'Walks', 'SO':'Strike-outs', 'W':'Wins', 'L':'Losses',
                             'SV':'Saves'})

    #df_pitchers[i] = pd.merge(df_pitching_copy[i], df_salary_copy[i], on = 'Jugador')
    
    #df_pitchers[i] = df_pitchers[i].rename(columns = {'Equipo':'Acronimo'})

In [48]:
for year in range(0,period):
    print(df_pitching_copy[year].shape)

(324, 16)
(425, 16)
(485, 16)
(537, 16)
(586, 16)
(592, 16)
(581, 16)
(644, 16)
(668, 16)
(542, 16)
(611, 16)
(585, 16)

In [49]:
df_pitching_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jugador             592 non-null    object
 1   Juegos              592 non-null    int64
 2   Juegos_iniciados    592 non-null    int64
 3   Inning_pitched      592 non-null    float64
 4   Bateos_en_contra    592 non-null    int64
 5   Carreras_en_contra  592 non-null    int64
 6   Carreras_ganadas    592 non-null    int64
 7   Walks               592 non-null    int64
 8   Strike-outs         592 non-null    int64
 9   Wins                592 non-null    int64
 10  Losses              592 non-null    int64
 11  Saves               592 non-null    int64
 12  WHIP                592 non-null    float64
 13  ERA                 592 non-null    float64
 14  WAR                 587 non-null    float64
 15  TVS                 592 non-null    float64
dtypes: float64(5), int64(10), object(1)
memory usage: 74.1+ KB

## Agregación de variables sugeridas por artículos

Las primeras variables que agregaremos son el cuadrado de todas las estadísticas deportivas, así como las siguientes variables:

- DOMINANCE = $Strike-outs/(9*Inning \; Pitched)$
- CONTROL = $Walks/(9*Inning \; Pitched)$
- COMMAND = $Strike-outs/Walks$

In [50]:
for year in range(0,period):
    df_pitching_copy[year]['Dominio'] = df_pitching_copy[year]['Strike-outs']/(9*df_pitching_copy[year]['Inning_pitched'])
    df_pitching_copy[year]['Control'] = df_pitching_copy[year]['Walks']/(9*df_pitching_copy[year]['Inning_pitched'])
    df_pitching_copy[year]['Comando'] = df_pitching_copy[year]['Strike-outs']/df_pitching_copy[year]['Walks']

In [51]:
for year in range(0,period):
    print(df_pitching_copy[year].shape)

(324, 19)
(425, 19)
(485, 19)
(537, 19)
(586, 19)
(592, 19)
(581, 19)
(644, 19)
(668, 19)
(542, 19)
(611, 19)
(585, 19)

In [52]:
df_pitching_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jugador             485 non-null    object
 1   Juegos              485 non-null    int64
 2   Juegos_iniciados    485 non-null    int64
 3   Inning_pitched      485 non-null    float64
 4   Bateos_en_contra    485 non-null    int64
 5   Carreras_en_contra  485 non-null    int64
 6   Carreras_ganadas    485 non-null    int64
 7   Walks               485 non-null    int64
 8   Strike-outs         485 non-null    int64
 9   Wins                485 non-null    int64
 10  Losses              485 non-null    int64
 11  Saves               485 non-null    int64
 12  WHIP                485 non-null    float64
 13  ERA                 485 non-null    float64
 14  WAR                 435 non-null    float64
 15  TVS                 485 non-null    float64
 16  Dominio             484 non-null    float64
 17  Control             485 non-null    float64
 18  Comando             482 non-null    float64
dtypes: float64(8), int64(10), object(1)
memory usage: 72.1+ KB

Debido a que hay columnas con datos tipo _Nan_ o _NULL_, optaremos por imputarlos

In [53]:
for year in range(0,period):
    mean_war = df_pitching_copy[year]['WAR'].mean()
    mean_dom = df_pitching_copy[year]['Dominio'].mean()
    mean_con = df_pitching_copy[year]['Control'].mean()
    mean_com = df_pitching_copy[year]['Comando'].mean()

Siguiendo la sugerencia de algunos artículos, obtengamos el logaritmo de los salarios

In [54]:
for year in range(0,period):
    df_salary_copy[year]['ln_Sueldo_base'] = np.log(df_salary_copy[year]['Sueldo_base'])
    df_salary_copy[year]['ln_Sueldo_ajustado'] = np.log(df_salary_copy[year]['Sueldo_ajustado'])
    df_salary_copy[year]['ln_Sueldo_regular'] = np.log(df_salary_copy[year]['Sueldo_regular'])

In [55]:
df_salary_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1011 non-null   object
 1   Anio                     1011 non-null   object
 2   Posicion                 1011 non-null   object
 3   Acronimo                 1011 non-null   object
 4   Sueldo_base              1011 non-null   int64
 5   Bono_por_firma           1011 non-null   int64
 6   Sueldo_regular           1011 non-null   int64
 7   Sueldo_ajustado          1011 non-null   int64
 8   Sueldo_porcentual        1011 non-null   float64
 9   Pago_efectivo            1011 non-null   int64
 10  Valor_contrato_promedio  1011 non-null   int64
 11  Anios_de_contrato        1011 non-null   int64
 12  Valor_del_contrato       1011 non-null   int64
 13  Ganancias                1011 non-null   int64
 14  Anio_de_agente_libre     1011 non-null   int64
 15  Edad_al_firmar           1011 non-null   int64
 16  Edad                     1011 non-null   int64
 17  Peso                     1011 non-null   int64
 18  Altura                   1011 non-null   float64
 19  Antiguedad               1011 non-null   int64
 20  ln_Sueldo_base           1011 non-null   float64
 21  ln_Sueldo_ajustado       1011 non-null   float64
 22  ln_Sueldo_regular        1011 non-null   float64
dtypes: float64(5), int64(14), object(4)
memory usage: 181.8+ KB

Con el objetivo de hacer más eficiente la creación de las variables al cuadrado, lo haremos extrayendo el índice de las columnas de interés

In [56]:
df_hitting_copy[0].columns

Index(['Jugador', 'Juegos', 'Porcentaje_juegos', 'Juegos_iniciados',
       'Porcentaje_juegos_iniciados', 'At-bats', 'Bateos', 'Dobles', 'Triples',
       'Home-runs', 'Runs-batted-in', 'Bateos_promedio', 'Porcentaje_on-base',
       'Porcentaje_slugging', 'Porcentaje_On-base-plus-slugging', 'WAR',
       'TVS'],
      dtype='object')

In [57]:
df_pitching_copy[1].columns

Index(['Jugador', 'Juegos', 'Juegos_iniciados', 'Inning_pitched',
       'Bateos_en_contra', 'Carreras_en_contra', 'Carreras_ganadas', 'Walks',
       'Strike-outs', 'Wins', 'Losses', 'Saves', 'WHIP', 'ERA', 'WAR', 'TVS',
       'Dominio', 'Control', 'Comando'],
      dtype='object')

In [58]:
def get_col_indices(df, names):
    return df.columns.get_indexer(names)

In [59]:
hitting_names = ['Juegos_iniciados', 'Porcentaje_juegos_iniciados', 'At-bats', 'Bateos',
                  'Dobles', 'Triples', 'Home-runs', 'Runs-batted-in', 'Bateos_promedio',
                  'Porcentaje_on-base', 'Porcentaje_slugging', 'TVS',
                  'Porcentaje_On-base-plus-slugging', 'WAR']	
pitching_names = ['Inning_pitched', 'Bateos_en_contra', 'Carreras_en_contra',
                  'Carreras_ganadas', 'Walks', 'Strike-outs', 'Wins', 'Losses',
                  'Saves', 'WHIP', 'ERA', 'WAR', 'TVS', 'Dominio', 'Control',
                  'Comando']

Con el objetivo de simplificar el código, verifiquemos si todos los índices en cada base de datos son los mismos

In [60]:
print('Hitters:')
for year in range(0,period):
    print(get_col_indices(df_hitting_copy[year], hitting_names))
    
print('Pitchers:')
for year in range(0,period):
    print(get_col_indices(df_pitching_copy[year], pitching_names))

Hitters:
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
Pitchers:
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

In [61]:
hitting_indexes = list(get_col_indices(df_hitting_copy[0], hitting_names))
pitching_indexes = list(get_col_indices(df_pitching_copy[0], pitching_names))

In [62]:
for year in range(0,period):
    # Hitters:
    for hitter_name in hitting_indexes:
        df_hitting_copy[year][df_hitting_copy[year].columns[hitter_name] + '_2'] = np.power(df_hitting_copy[year][df_hitting_copy[year].columns[hitter_name]], 2)
    # Pitchers:
    for pitcher_name in pitching_indexes:
        df_pitching_copy[year][df_pitching_copy[year].columns[pitcher_name] + '_2'] = np.power(df_pitching_copy[year][df_pitching_copy[year].columns[pitcher_name]], 2)

Apreciemos el resultado final

In [63]:
df_hitting_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Jugador                             734 non-null    object
 1   Juegos                              734 non-null    int64
 2   Porcentaje_juegos                   734 non-null    float64
 3   Juegos_iniciados                    734 non-null    int64
 4   Porcentaje_juegos_iniciados         734 non-null    float64
 5   At-bats                             734 non-null    int64
 6   Bateos                              734 non-null    int64
 7   Dobles                              734 non-null    int64
 8   Triples                             734 non-null    int64
 9   Home-runs                           734 non-null    int64
 10  Runs-batted-in                      734 non-null    int64
 11  Bateos_promedio                     734 non-null    float64
 12  Porcentaje_on-base                  734 non-null    float64
 13  Porcentaje_slugging                 734 non-null    float64
 14  Porcentaje_On-base-plus-slugging    734 non-null    float64
 15  WAR                                 661 non-null    float64
 16  TVS                                 734 non-null    float64
 17  Juegos_iniciados_2                  734 non-null    int64
 18  Porcentaje_juegos_iniciados_2       734 non-null    float64
 19  At-bats_2                           734 non-null    int64
 20  Bateos_2                            734 non-null    int64
 21  Dobles_2                            734 non-null    int64
 22  Triples_2                           734 non-null    int64
 23  Home-runs_2                         734 non-null    int64
 24  Runs-batted-in_2                    734 non-null    int64
 25  Bateos_promedio_2                   734 non-null    float64
 26  Porcentaje_on-base_2                734 non-null    float64
 27  Porcentaje_slugging_2               734 non-null    float64
 28  TVS_2                               734 non-null    float64
 29  Porcentaje_On-base-plus-slugging_2  734 non-null    float64
 30  WAR_2                               661 non-null    float64
dtypes: float64(15), int64(15), object(1)
memory usage: 177.9+ KB

In [64]:
df_pitching_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jugador               485 non-null    object
 1   Juegos                485 non-null    int64
 2   Juegos_iniciados      485 non-null    int64
 3   Inning_pitched        485 non-null    float64
 4   Bateos_en_contra      485 non-null    int64
 5   Carreras_en_contra    485 non-null    int64
 6   Carreras_ganadas      485 non-null    int64
 7   Walks                 485 non-null    int64
 8   Strike-outs           485 non-null    int64
 9   Wins                  485 non-null    int64
 10  Losses                485 non-null    int64
 11  Saves                 485 non-null    int64
 12  WHIP                  485 non-null    float64
 13  ERA                   485 non-null    float64
 14  WAR                   435 non-null    float64
 15  TVS                   485 non-null    float64
 16  Dominio               484 non-null    float64
 17  Control               485 non-null    float64
 18  Comando               482 non-null    float64
 19  Inning_pitched_2      485 non-null    float64
 20  Bateos_en_contra_2    485 non-null    int64
 21  Carreras_en_contra_2  485 non-null    int64
 22  Carreras_ganadas_2    485 non-null    int64
 23  Walks_2               485 non-null    int64
 24  Strike-outs_2         485 non-null    int64
 25  Wins_2                485 non-null    int64
 26  Losses_2              485 non-null    int64
 27  Saves_2               485 non-null    int64
 28  WHIP_2                485 non-null    float64
 29  ERA_2                 485 non-null    float64
 30  WAR_2                 435 non-null    float64
 31  TVS_2                 485 non-null    float64
 32  Dominio_2             484 non-null    float64
 33  Control_2             485 non-null    float64
 34  Comando_2             482 non-null    float64
dtypes: float64(16), int64(18), object(1)
memory usage: 132.7+ KB

## Unión de las bases de datos
### Datos agregados por equipo

Solo resta añadir los datos relevantes al equipo al que pertenece cada jugador considerando la base de datos de la cantidad de equipos por estado

In [65]:
df_teams_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   28 non-null     object
 1   Cantidad_agentes_libres  28 non-null     int64
 2   Valor_contrato_total     28 non-null     int64
 3   Acronimo                 28 non-null     object
 4   Victorias                28 non-null     int64
 5   Juegos totales           28 non-null     int64
 6   Playoffs                 28 non-null     int64
 7   Pennants won             28 non-null     int64
 8   WS ganadas               28 non-null     int64
 9   Promedio_victorias       28 non-null     float64
dtypes: float64(1), int64(7), object(2)
memory usage: 2.3+ KB

In [66]:
acronym_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Estado               30 non-null     object
 1   Cantidad de equipos  30 non-null     int64
 2   Equipo               30 non-null     object
 3   Acronimo             30 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

In [67]:
for year in range(0,period):
    df_teams_copy[year] = pd.merge(df_teams_copy[year], acronym_state, on = ['Equipo','Acronimo'])

In [68]:
df_teams_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   28 non-null     object
 1   Cantidad_agentes_libres  28 non-null     int64
 2   Valor_contrato_total     28 non-null     int64
 3   Acronimo                 28 non-null     object
 4   Victorias                28 non-null     int64
 5   Juegos totales           28 non-null     int64
 6   Playoffs                 28 non-null     int64
 7   Pennants won             28 non-null     int64
 8   WS ganadas               28 non-null     int64
 9   Promedio_victorias       28 non-null     float64
 10  Estado                   28 non-null     object
 11  Cantidad de equipos      28 non-null     int64
dtypes: float64(1), int64(8), object(3)
memory usage: 2.8+ KB

In [69]:
df_salary_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1036 non-null   object
 1   Anio                     1036 non-null   object
 2   Posicion                 1036 non-null   object
 3   Acronimo                 1036 non-null   object
 4   Sueldo_base              1036 non-null   int64
 5   Bono_por_firma           1036 non-null   int64
 6   Sueldo_regular           1036 non-null   int64
 7   Sueldo_ajustado          1036 non-null   int64
 8   Sueldo_porcentual        1036 non-null   float64
 9   Pago_efectivo            1036 non-null   int64
 10  Valor_contrato_promedio  1036 non-null   int64
 11  Anios_de_contrato        1036 non-null   int64
 12  Valor_del_contrato       1036 non-null   int64
 13  Ganancias                1036 non-null   int64
 14  Anio_de_agente_libre     1036 non-null   int64
 15  Edad_al_firmar           1036 non-null   int64
 16  Edad                     1036 non-null   int64
 17  Peso                     1036 non-null   int64
 18  Altura                   1036 non-null   float64
 19  Antiguedad               1036 non-null   int64
 20  ln_Sueldo_base           1036 non-null   float64
 21  ln_Sueldo_ajustado       1036 non-null   float64
 22  ln_Sueldo_regular        1036 non-null   float64
dtypes: float64(5), int64(14), object(4)
memory usage: 186.3+ KB

Ahora, unamos las bases de datos sobre los equipos a las bases de datos de los salarios

In [70]:
for year in range(0,period):
    df_salary_copy[year] = pd.merge(df_teams_copy[year], df_salary_copy[year], on = 'Acronimo')

In [71]:
df_salary_copy[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   40 non-null     object
 1   Cantidad_agentes_libres  40 non-null     int64
 2   Valor_contrato_total     40 non-null     int64
 3   Acronimo                 40 non-null     object
 4   Victorias                40 non-null     int64
 5   Juegos totales           40 non-null     int64
 6   Playoffs                 40 non-null     int64
 7   Pennants won             40 non-null     int64
 8   WS ganadas               40 non-null     int64
 9   Promedio_victorias       40 non-null     float64
 10  Estado                   40 non-null     object
 11  Cantidad de equipos      40 non-null     int64
 12  Jugador                  40 non-null     object
 13  Anio                     40 non-null     object
 14  Posicion                 40 non-null     object
 15  Sueldo_base              40 non-null     int64
 16  Bono_por_firma           40 non-null     int64
 17  Sueldo_regular           40 non-null     int64
 18  Sueldo_ajustado          40 non-null     int64
 19  Sueldo_porcentual        40 non-null     float64
 20  Pago_efectivo            40 non-null     int64
 21  Valor_contrato_promedio  40 non-null     int64
 22  Anios_de_contrato        40 non-null     int64
 23  Valor_del_contrato       40 non-null     int64
 24  Ganancias                40 non-null     int64
 25  Anio_de_agente_libre     40 non-null     int64
 26  Edad_al_firmar           40 non-null     int64
 27  Edad                     40 non-null     int64
 28  Peso                     40 non-null     int64
 29  Altura                   40 non-null     float64
 30  Antiguedad               40 non-null     int64
 31  ln_Sueldo_base           40 non-null     float64
 32  ln_Sueldo_ajustado       40 non-null     float64
 33  ln_Sueldo_regular        40 non-null     float64
dtypes: float64(6), int64(22), object(6)
memory usage: 10.9+ KB

Debido a que la mayoría de los jugadores juega tanto en la ofensiva como la defensiva es que tenemos que borrar los duplicados de la columna de la posición.

In [72]:
for year in range(0,period):
    df_hitting_copy[year] = pd.merge(df_hitting_copy[year], df_salary_copy[year], on = 'Jugador')
    df_pitching_copy[year] = pd.merge(df_pitching_copy[year], df_salary_copy[year], on = 'Jugador')

In [73]:
df_hitting_copy[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 0 to 667
Data columns (total 64 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Jugador                             668 non-null    object
 1   Juegos                              668 non-null    int64
 2   Porcentaje_juegos                   668 non-null    float64
 3   Juegos_iniciados                    668 non-null    int64
 4   Porcentaje_juegos_iniciados         668 non-null    float64
 5   At-bats                             668 non-null    int64
 6   Bateos                              668 non-null    int64
 7   Dobles                              668 non-null    int64
 8   Triples                             668 non-null    int64
 9   Home-runs                           668 non-null    int64
 10  Runs-batted-in                      668 non-null    int64
 11  Bateos_promedio                     668 non-null    float64
 12  Porcentaje_on-base                  668 non-null    float64
 13  Porcentaje_slugging                 668 non-null    float64
 14  Porcentaje_On-base-plus-slugging    668 non-null    float64
 15  WAR                                 612 non-null    float64
 16  TVS                                 668 non-null    float64
 17  Juegos_iniciados_2                  668 non-null    int64
 18  Porcentaje_juegos_iniciados_2       668 non-null    float64
 19  At-bats_2                           668 non-null    int64
 20  Bateos_2                            668 non-null    int64
 21  Dobles_2                            668 non-null    int64
 22  Triples_2                           668 non-null    int64
 23  Home-runs_2                         668 non-null    int64
 24  Runs-batted-in_2                    668 non-null    int64
 25  Bateos_promedio_2                   668 non-null    float64
 26  Porcentaje_on-base_2                668 non-null    float64
 27  Porcentaje_slugging_2               668 non-null    float64
 28  TVS_2                               668 non-null    float64
 29  Porcentaje_On-base-plus-slugging_2  668 non-null    float64
 30  WAR_2                               612 non-null    float64
 31  Equipo                              668 non-null    object
 32  Cantidad_agentes_libres             668 non-null    int64
 33  Valor_contrato_total                668 non-null    int64
 34  Acronimo                            668 non-null    object
 35  Victorias                           668 non-null    int64
 36  Juegos totales                      668 non-null    int64
 37  Playoffs                            668 non-null    int64
 38  Pennants won                        668 non-null    int64
 39  WS ganadas                          668 non-null    int64
 40  Promedio_victorias                  668 non-null    float64
 41  Estado                              668 non-null    object
 42  Cantidad de equipos                 668 non-null    int64
 43  Anio                                668 non-null    object
 44  Posicion                            668 non-null    object
 45  Sueldo_base                         668 non-null    int64
 46  Bono_por_firma                      668 non-null    int64
 47  Sueldo_regular                      668 non-null    int64
 48  Sueldo_ajustado                     668 non-null    int64
 49  Sueldo_porcentual                   668 non-null    float64
 50  Pago_efectivo                       668 non-null    int64
 51  Valor_contrato_promedio             668 non-null    int64
 52  Anios_de_contrato                   668 non-null    int64
 53  Valor_del_contrato                  668 non-null    int64
 54  Ganancias                           668 non-null    int64
 55  Anio_de_agente_libre                668 non-null    int64
 56  Edad_al_firmar                      668 non-null    int64
 57  Edad                                668 non-null    int64
 58  Peso                                668 non-null    int64
 59  Altura                              668 non-null    float64
 60  Antiguedad                          668 non-null    int64
 61  ln_Sueldo_base                      668 non-null    float64
 62  ln_Sueldo_ajustado                  668 non-null    float64
 63  ln_Sueldo_regular                   668 non-null    float64
dtypes: float64(21), int64(37), object(6)
memory usage: 339.2+ KB

In [74]:
df_pitching_copy[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 497
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  498 non-null    object
 1   Juegos                   498 non-null    int64
 2   Juegos_iniciados         498 non-null    int64
 3   Inning_pitched           498 non-null    float64
 4   Bateos_en_contra         498 non-null    int64
 5   Carreras_en_contra       498 non-null    int64
 6   Carreras_ganadas         498 non-null    int64
 7   Walks                    498 non-null    int64
 8   Strike-outs              498 non-null    int64
 9   Wins                     498 non-null    int64
 10  Losses                   498 non-null    int64
 11  Saves                    498 non-null    int64
 12  WHIP                     498 non-null    float64
 13  ERA                      498 non-null    float64
 14  WAR                      455 non-null    float64
 15  TVS                      498 non-null    float64
 16  Dominio                  497 non-null    float64
 17  Control                  498 non-null    float64
 18  Comando                  492 non-null    float64
 19  Inning_pitched_2         498 non-null    float64
 20  Bateos_en_contra_2       498 non-null    int64
 21  Carreras_en_contra_2     498 non-null    int64
 22  Carreras_ganadas_2       498 non-null    int64
 23  Walks_2                  498 non-null    int64
 24  Strike-outs_2            498 non-null    int64
 25  Wins_2                   498 non-null    int64
 26  Losses_2                 498 non-null    int64
 27  Saves_2                  498 non-null    int64
 28  WHIP_2                   498 non-null    float64
 29  ERA_2                    498 non-null    float64
 30  WAR_2                    455 non-null    float64
 31  TVS_2                    498 non-null    float64
 32  Dominio_2                497 non-null    float64
 33  Control_2                498 non-null    float64
 34  Comando_2                492 non-null    float64
 35  Equipo                   498 non-null    object
 36  Cantidad_agentes_libres  498 non-null    int64
 37  Valor_contrato_total     498 non-null    int64
 38  Acronimo                 498 non-null    object
 39  Victorias                498 non-null    int64
 40  Juegos totales           498 non-null    int64
 41  Playoffs                 498 non-null    int64
 42  Pennants won             498 non-null    int64
 43  WS ganadas               498 non-null    int64
 44  Promedio_victorias       498 non-null    float64
 45  Estado                   498 non-null    object
 46  Cantidad de equipos      498 non-null    int64
 47  Anio                     498 non-null    object
 48  Posicion                 498 non-null    object
 49  Sueldo_base              498 non-null    int64
 50  Bono_por_firma           498 non-null    int64
 51  Sueldo_regular           498 non-null    int64
 52  Sueldo_ajustado          498 non-null    int64
 53  Sueldo_porcentual        498 non-null    float64
 54  Pago_efectivo            498 non-null    int64
 55  Valor_contrato_promedio  498 non-null    int64
 56  Anios_de_contrato        498 non-null    int64
 57  Valor_del_contrato       498 non-null    int64
 58  Ganancias                498 non-null    int64
 59  Anio_de_agente_libre     498 non-null    int64
 60  Edad_al_firmar           498 non-null    int64
 61  Edad                     498 non-null    int64
 62  Peso                     498 non-null    int64
 63  Altura                   498 non-null    float64
 64  Antiguedad               498 non-null    int64
 65  ln_Sueldo_base           498 non-null    float64
 66  ln_Sueldo_ajustado       498 non-null    float64
 67  ln_Sueldo_regular        498 non-null    float64
dtypes: float64(22), int64(40), object(6)
memory usage: 268.5+ KB

Para facilitar la observación de las trnasformaciones de manera más eficiente, ordenemos alfabéticamente la base de datos de acuerdo al nombre de las columnas.

In [77]:
for year in range(0,period):
    # Ordenando alfabéticamente
    df_salary_copy[year].sort_index(axis = 1, inplace = True)
    df_hitting_copy[year].sort_index(axis = 1, inplace = True)
    df_pitching_copy[year].sort_index(axis = 1, inplace = True)
    df_free_agents_copy[year].sort_index(axis = 1, inplace = True)
    
    # Reiniciando los índices
    df_salary_copy[year].reset_index(drop = True, inplace = True)
    df_hitting_copy[year].reset_index(drop = True, inplace = True)
    df_pitching_copy[year].reset_index(drop = True, inplace = True)
    df_free_agents_copy[year].reset_index(drop = True, inplace = True)

## Segmentación por Agentes libres

Separaremos los pitchers y hitters en dos grupos:

- Agentes libres.
- No agentes libres.

In [78]:
for year in range(0,period):
    # Filtrando los agentes libres
    df_hitters_free_agents[year] = pd.merge(df_free_agents_copy[year],
                                            df_hitting_copy[year], on = 'Jugador')
    df_pitchers_free_agents[year] = pd.merge(df_free_agents_copy[year],
                                             df_pitching_copy[year], on = 'Jugador')
    # FIltrando los que no son agentes libres
    df_hitters_no_free_agents[year] = df_hitting_copy[year][~df_hitting_copy[year].Jugador.isin(df_hitters_free_agents[year].Jugador)]
    df_pitchers_no_free_agents[year] = df_pitching_copy[year][~df_pitching_copy[year].Jugador.isin(df_pitchers_free_agents[year].Jugador)]
    
    # Reiniciando el índice
    df_hitters_free_agents[year] = df_hitters_free_agents[year].reindex(sorted(df_hitters_free_agents[year].columns), axis=1)
    df_pitchers_free_agents[year] = df_pitchers_free_agents[year].reindex(sorted(df_pitchers_free_agents[year].columns), axis=1)
    df_hitters_no_free_agents[year] = df_hitters_no_free_agents[year].reindex(sorted(df_hitters_no_free_agents[year].columns), axis=1)
    df_pitchers_no_free_agents[year] = df_pitchers_no_free_agents[year].reindex(sorted(df_pitchers_no_free_agents[year].columns), axis=1)

Veamos los contenidos de las nuevas bases de datos

In [80]:
print("FA - Hitters:")
df_hitters_free_agents[year].info()
print("\n FA - Pitchers:")
df_pitchers_free_agents[year].info()
print("\n No FA - Hitters:")
df_hitters_no_free_agents[year].info()
print("\n No FA - Hitters:")
df_pitchers_no_free_agents[year].info()

FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 68 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Acronimo                            35 non-null     object
 1   Altura                              35 non-null     float64
 2   Anio                                35 non-null     object
 3   Anio_de_agente_libre                35 non-null     int64
 4   Anios_de_contrato                   35 non-null     int64
 5   Antiguedad                          35 non-null     int64
 6   At-bats                             35 non-null     int64
 7   At-bats_2                           35 non-null     int64
 8   Bateos                              35 non-null     int64
 9   Bateos_2                            35 non-null     int64
 10  Bateos_promedio                     35 non-null     float64
 11  Bateos_promedio_2                   35 non-null     float64
 12  Bono_por_firma                      35 non-null     int64
 13  Cantidad de equipos                 35 non-null     int64
 14  Cantidad_agentes_libres             35 non-null     int64
 15  Dobles                              35 non-null     int64
 16  Dobles_2                            35 non-null     int64
 17  Edad                                35 non-null     int64
 18  Edad_al_firmar                      35 non-null     int64
 19  Equipo                              35 non-null     object
 20  Equipo_anterior                     35 non-null     object
 21  Estado                              35 non-null     object
 22  Ganancias                           35 non-null     int64
 23  Home-runs                           35 non-null     int64
 24  Home-runs_2                         35 non-null     int64
 25  Juegos                              35 non-null     int64
 26  Juegos totales                      35 non-null     int64
 27  Juegos_iniciados                    35 non-null     int64
 28  Juegos_iniciados_2                  35 non-null     int64
 29  Jugador                             35 non-null     object
 30  Pago_efectivo                       35 non-null     int64
 31  Pennants won                        35 non-null     int64
 32  Peso                                35 non-null     int64
 33  Playoffs                            35 non-null     int64
 34  Porcentaje_On-base-plus-slugging    35 non-null     float64
 35  Porcentaje_On-base-plus-slugging_2  35 non-null     float64
 36  Porcentaje_juegos                   35 non-null     float64
 37  Porcentaje_juegos_iniciados         35 non-null     float64
 38  Porcentaje_juegos_iniciados_2       35 non-null     float64
 39  Porcentaje_on-base                  35 non-null     float64
 40  Porcentaje_on-base_2                35 non-null     float64
 41  Porcentaje_slugging                 35 non-null     float64
 42  Porcentaje_slugging_2               35 non-null     float64
 43  Posicion                            35 non-null     object
 44  Promedio_victorias                  35 non-null     float64
 45  Runs-batted-in                      35 non-null     int64
 46  Runs-batted-in_2                    35 non-null     int64
 47  Status_agente_libre                 35 non-null     object
 48  Sueldo_ajustado                     35 non-null     int64
 49  Sueldo_base                         35 non-null     int64
 50  Sueldo_porcentual                   35 non-null     float64
 51  Sueldo_regular                      35 non-null     int64
 52  TVS                                 35 non-null     float64
 53  TVS_2                               35 non-null     float64
 54  Triples                             35 non-null     int64
 55  Triples_2                           35 non-null     int64
 56  Valor_contrato                      35 non-null     int64
 57  Valor_contrato_promedio             35 non-null     int64
 58  Valor_contrato_total                35 non-null     int64
 59  Valor_del_contrato                  35 non-null     int64
 60  Valor_promedio_contrato             35 non-null     int64
 61  Victorias                           35 non-null     int64
 62  WAR                                 35 non-null     float64
 63  WAR_2                               35 non-null     float64
 64  WS ganadas                          35 non-null     int64
 65  ln_Sueldo_ajustado                  35 non-null     float64
 66  ln_Sueldo_base                      35 non-null     float64
 67  ln_Sueldo_regular                   35 non-null     float64
dtypes: float64(21), int64(39), object(8)
memory usage: 18.9+ KB

 FA - Pitchers:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 73
Data columns (total 72 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 74 non-null     object
 1   Altura                   74 non-null     float64
 2   Anio                     74 non-null     object
 3   Anio_de_agente_libre     74 non-null     int64
 4   Anios_de_contrato        74 non-null     int64
 5   Antiguedad               74 non-null     int64
 6   Bateos_en_contra         74 non-null     int64
 7   Bateos_en_contra_2       74 non-null     int64
 8   Bono_por_firma           74 non-null     int64
 9   Cantidad de equipos      74 non-null     int64
 10  Cantidad_agentes_libres  74 non-null     int64
 11  Carreras_en_contra       74 non-null     int64
 12  Carreras_en_contra_2     74 non-null     int64
 13  Carreras_ganadas         74 non-null     int64
 14  Carreras_ganadas_2       74 non-null     int64
 15  Comando                  74 non-null     float64
 16  Comando_2                74 non-null     float64
 17  Control                  74 non-null     float64
 18  Control_2                74 non-null     float64
 19  Dominio                  74 non-null     float64
 20  Dominio_2                74 non-null     float64
 21  ERA                      74 non-null     float64
 22  ERA_2                    74 non-null     float64
 23  Edad                     74 non-null     int64
 24  Edad_al_firmar           74 non-null     int64
 25  Equipo                   74 non-null     object
 26  Equipo_anterior          74 non-null     object
 27  Estado                   74 non-null     object
 28  Ganancias                74 non-null     int64
 29  Inning_pitched           74 non-null     float64
 30  Inning_pitched_2         74 non-null     float64
 31  Juegos                   74 non-null     int64
 32  Juegos totales           74 non-null     int64
 33  Juegos_iniciados         74 non-null     int64
 34  Jugador                  74 non-null     object
 35  Losses                   74 non-null     int64
 36  Losses_2                 74 non-null     int64
 37  Pago_efectivo            74 non-null     int64
 38  Pennants won             74 non-null     int64
 39  Peso                     74 non-null     int64
 40  Playoffs                 74 non-null     int64
 41  Posicion                 74 non-null     object
 42  Promedio_victorias       74 non-null     float64
 43  Saves                    74 non-null     int64
 44  Saves_2                  74 non-null     int64
 45  Status_agente_libre      74 non-null     object
 46  Strike-outs              74 non-null     int64
 47  Strike-outs_2            74 non-null     int64
 48  Sueldo_ajustado          74 non-null     int64
 49  Sueldo_base              74 non-null     int64
 50  Sueldo_porcentual        74 non-null     float64
 51  Sueldo_regular           74 non-null     int64
 52  TVS                      74 non-null     float64
 53  TVS_2                    74 non-null     float64
 54  Valor_contrato           74 non-null     int64
 55  Valor_contrato_promedio  74 non-null     int64
 56  Valor_contrato_total     74 non-null     int64
 57  Valor_del_contrato       74 non-null     int64
 58  Valor_promedio_contrato  74 non-null     int64
 59  Victorias                74 non-null     int64
 60  WAR                      74 non-null     float64
 61  WAR_2                    74 non-null     float64
 62  WHIP                     74 non-null     float64
 63  WHIP_2                   74 non-null     float64
 64  WS ganadas               74 non-null     int64
 65  Walks                    74 non-null     int64
 66  Walks_2                  74 non-null     int64
 67  Wins                     74 non-null     int64
 68  Wins_2                   74 non-null     int64
 69  ln_Sueldo_ajustado       74 non-null     float64
 70  ln_Sueldo_base           74 non-null     float64
 71  ln_Sueldo_regular        74 non-null     float64
dtypes: float64(22), int64(42), object(8)
memory usage: 42.2+ KB

 No FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 1 to 396
Data columns (total 64 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Acronimo                            362 non-null    object
 1   Altura                              362 non-null    float64
 2   Anio                                362 non-null    object
 3   Anio_de_agente_libre                362 non-null    int64
 4   Anios_de_contrato                   362 non-null    int64
 5   Antiguedad                          362 non-null    int64
 6   At-bats                             362 non-null    int64
 7   At-bats_2                           362 non-null    int64
 8   Bateos                              362 non-null    int64
 9   Bateos_2                            362 non-null    int64
 10  Bateos_promedio                     362 non-null    float64
 11  Bateos_promedio_2                   362 non-null    float64
 12  Bono_por_firma                      362 non-null    int64
 13  Cantidad de equipos                 362 non-null    int64
 14  Cantidad_agentes_libres             362 non-null    int64
 15  Dobles                              362 non-null    int64
 16  Dobles_2                            362 non-null    int64
 17  Edad                                362 non-null    int64
 18  Edad_al_firmar                      362 non-null    int64
 19  Equipo                              362 non-null    object
 20  Estado                              362 non-null    object
 21  Ganancias                           362 non-null    int64
 22  Home-runs                           362 non-null    int64
 23  Home-runs_2                         362 non-null    int64
 24  Juegos                              362 non-null    int64
 25  Juegos totales                      362 non-null    int64
 26  Juegos_iniciados                    362 non-null    int64
 27  Juegos_iniciados_2                  362 non-null    int64
 28  Jugador                             362 non-null    object
 29  Pago_efectivo                       362 non-null    int64
 30  Pennants won                        362 non-null    int64
 31  Peso                                362 non-null    int64
 32  Playoffs                            362 non-null    int64
 33  Porcentaje_On-base-plus-slugging    362 non-null    float64
 34  Porcentaje_On-base-plus-slugging_2  362 non-null    float64
 35  Porcentaje_juegos                   362 non-null    float64
 36  Porcentaje_juegos_iniciados         362 non-null    float64
 37  Porcentaje_juegos_iniciados_2       362 non-null    float64
 38  Porcentaje_on-base                  362 non-null    float64
 39  Porcentaje_on-base_2                362 non-null    float64
 40  Porcentaje_slugging                 362 non-null    float64
 41  Porcentaje_slugging_2               362 non-null    float64
 42  Posicion                            362 non-null    object
 43  Promedio_victorias                  362 non-null    float64
 44  Runs-batted-in                      362 non-null    int64
 45  Runs-batted-in_2                    362 non-null    int64
 46  Sueldo_ajustado                     362 non-null    int64
 47  Sueldo_base                         362 non-null    int64
 48  Sueldo_porcentual                   362 non-null    float64
 49  Sueldo_regular                      362 non-null    int64
 50  TVS                                 362 non-null    float64
 51  TVS_2                               362 non-null    float64
 52  Triples                             362 non-null    int64
 53  Triples_2                           362 non-null    int64
 54  Valor_contrato_promedio             362 non-null    int64
 55  Valor_contrato_total                362 non-null    int64
 56  Valor_del_contrato                  362 non-null    int64
 57  Victorias                           362 non-null    int64
 58  WAR                                 362 non-null    float64
 59  WAR_2                               362 non-null    float64
 60  WS ganadas                          362 non-null    int64
 61  ln_Sueldo_ajustado                  362 non-null    float64
 62  ln_Sueldo_base                      362 non-null    float64
 63  ln_Sueldo_regular                   362 non-null    float64
dtypes: float64(21), int64(37), object(6)
memory usage: 183.8+ KB

 No FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 472 entries, 0 to 545
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 472 non-null    object
 1   Altura                   472 non-null    float64
 2   Anio                     472 non-null    object
 3   Anio_de_agente_libre     472 non-null    int64
 4   Anios_de_contrato        472 non-null    int64
 5   Antiguedad               472 non-null    int64
 6   Bateos_en_contra         472 non-null    int64
 7   Bateos_en_contra_2       472 non-null    int64
 8   Bono_por_firma           472 non-null    int64
 9   Cantidad de equipos      472 non-null    int64
 10  Cantidad_agentes_libres  472 non-null    int64
 11  Carreras_en_contra       472 non-null    int64
 12  Carreras_en_contra_2     472 non-null    int64
 13  Carreras_ganadas         472 non-null    int64
 14  Carreras_ganadas_2       472 non-null    int64
 15  Comando                  456 non-null    float64
 16  Comando_2                456 non-null    float64
 17  Control                  472 non-null    float64
 18  Control_2                472 non-null    float64
 19  Dominio                  472 non-null    float64
 20  Dominio_2                472 non-null    float64
 21  ERA                      472 non-null    float64
 22  ERA_2                    472 non-null    float64
 23  Edad                     472 non-null    int64
 24  Edad_al_firmar           472 non-null    int64
 25  Equipo                   472 non-null    object
 26  Estado                   472 non-null    object
 27  Ganancias                472 non-null    int64
 28  Inning_pitched           472 non-null    float64
 29  Inning_pitched_2         472 non-null    float64
 30  Juegos                   472 non-null    int64
 31  Juegos totales           472 non-null    int64
 32  Juegos_iniciados         472 non-null    int64
 33  Jugador                  472 non-null    object
 34  Losses                   472 non-null    int64
 35  Losses_2                 472 non-null    int64
 36  Pago_efectivo            472 non-null    int64
 37  Pennants won             472 non-null    int64
 38  Peso                     472 non-null    int64
 39  Playoffs                 472 non-null    int64
 40  Posicion                 472 non-null    object
 41  Promedio_victorias       472 non-null    float64
 42  Saves                    472 non-null    int64
 43  Saves_2                  472 non-null    int64
 44  Strike-outs              472 non-null    int64
 45  Strike-outs_2            472 non-null    int64
 46  Sueldo_ajustado          472 non-null    int64
 47  Sueldo_base              472 non-null    int64
 48  Sueldo_porcentual        472 non-null    float64
 49  Sueldo_regular           472 non-null    int64
 50  TVS                      472 non-null    float64
 51  TVS_2                    472 non-null    float64
 52  Valor_contrato_promedio  472 non-null    int64
 53  Valor_contrato_total     472 non-null    int64
 54  Valor_del_contrato       472 non-null    int64
 55  Victorias                472 non-null    int64
 56  WAR                      470 non-null    float64
 57  WAR_2                    470 non-null    float64
 58  WHIP                     472 non-null    float64
 59  WHIP_2                   472 non-null    float64
 60  WS ganadas               472 non-null    int64
 61  Walks                    472 non-null    int64
 62  Walks_2                  472 non-null    int64
 63  Wins                     472 non-null    int64
 64  Wins_2                   472 non-null    int64
 65  ln_Sueldo_ajustado       472 non-null    float64
 66  ln_Sueldo_base           472 non-null    float64
 67  ln_Sueldo_regular        472 non-null    float64
dtypes: float64(22), int64(40), object(6)
memory usage: 254.4+ KB

In [81]:
for year in range(0,period):    
    # Exportemos los dataframes por separado
    df_hitters_free_agents[year].to_csv('ETL_Data/Agent/First_Year_Contract/Period_t/Free_Agent/Hitters/free_agents_batters_' + str(2011 + year) + '.csv', index = False)
    df_pitchers_free_agents[year].to_csv('ETL_Data/Agent/First_Year_Contract/Period_t/Free_Agent/Pitchers/free_agents_pitchers_' + str(2011 + year) + '.csv', index = False)
    df_hitters_no_free_agents[year].to_csv('ETL_Data/Agent/First_Year_Contract/Period_t/No_Free_Agent/Hitters/no_free_agents_batters_' + str(2011 + year) + '.csv', index = False)
    df_pitchers_no_free_agents[year].to_csv('ETL_Data/Agent/First_Year_Contract/Period_t/No_Free_Agent/Pitchers/no_free_agents_pitchers_' + str(2011 + year) + '.csv', index = False)

### Etiquetas para los agentes libres

Crearemos un etiqueta para indicar si el pitcher o hitter es  un agente libre o no.

In [ ]:
for i in range(0,period):
    # Condiciones
    condicion_hitter = [df_hitters[i].Jugador.isin(df_hitters_free_agents[i].Jugador)]
    condicion_pitcher = [df_pitchers[i].Jugador.isin(df_pitchers_free_agents[i].Jugador)]
    
    # Etiquetas
    etiquetas = ['Si']
    
    df_hitters[i]['Agente libre'] = np.select(condicion_hitter, etiquetas, default = 'No')
    df_pitchers[i]['Agente libre'] = np.select(condicion_pitcher, etiquetas, default = 'No')
    
    df_hitters[i] = df_hitters[i].reindex(sorted(df_hitters[i].columns), axis=1)
    df_pitchers[i] = df_pitchers[i].reindex(sorted(df_pitchers[i].columns), axis=1)
    
    
    # Transformación
    df_hitters[i]['Anio'] = df_hitters[i]['Anio'] + 2010
    df_hitters[i]['Anio'] = df_hitters[i]['Anio'].map(str)
    df_pitchers[i]['Anio'] = df_pitchers[i]['Anio'] + 2010
    df_pitchers[i]['Anio'] = df_pitchers[i]['Anio'].map(str)
    
    # Exportemos los dataframes
    df_hitters[i].to_csv('ETL_Data/Agent/First_Year_Contract/Period_t/Hitters/All_Hitters/hitters_' + str(2011 + i) + '.csv', index = False)
    df_pitchers[i].to_csv('ETL_Data/Agent/First_Year_Contract/Period_t/Pitchers/All_Pitchers/pitchers_' + str(2011 + i) + '.csv', index = False)

In [ ]:
df_hitters[10].head()

In [ ]:
df_pitchers[9].head()

In [ ]:
df_hitters[0].describe()

In [ ]:
df_pitchers[0].describe()