# Players dataframes

En este script nos dedicaremos a crear una base de datos limpia segmentada por hitters y fielders. Se divide en las siguientes secciones:

- **Visualización del contenido de las bases de datos.**
- **Limpieza de la base de datos y exportación.**
- **Construcción de variables para estimaciones.**
- **Unión de las bases de datos para nuevas bases transversales.**
- **Segmentación de bases datos de acuerdo a la agencia libre.**
- **Realización del panel data de acuerdo a las especificaciones.**
- **Generación de las variables para el modelo dinámico.**

Importemos los modulos necesarios así como especificar la configuración deseada.

In [1]:
import pandas as pd
import numpy as np
import math
import os
import warnings
import statsmodels.api as sm
from matplotlib.colors import ListedColormap
from termcolor import colored
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')

In [3]:
# Directorio de trabajo
print("Directorio de trabajo previo: " + str(os.getcwd()))
# Cambiemoslo
os.chdir('/home/usuario/Documentos/Github/Proyectos/MLB_HN/')

Directorio de trabajo previo: /home/usuario/Documentos/Github/Proyectos/MLB_HN/ETL_Scripts/Hand_Made_Scripts/First_Year_Contract

In [4]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
print("Nuevo directorio de trabajo: " + str(os.chdir(path)))

/home/usuario/Documentos/Github/Proyectos/MLB_HN
Nuevo directorio de trabajo: None

## Visualización de las bases de datos

### Equipos por estado

In [5]:
states = 'Data/Teams/team_states.csv'
df_states = pd.read_csv(states)

In [6]:
df_states.head()

       Estado  Cantidad de equipos
0     Alabama                    0
1      Alaska                    0
2     Arizona                    1
3    Arkansas                    0
4  California                    5

### Acrónimos

Nos servirá como llave intermedia para unificar las bases de datos de los equipos

In [7]:
acronym = 'Data/Teams/team_acronym.csv'
df_acronym = pd.read_csv(acronym)

In [8]:
df_acronym.head()

                 Equipo Acronimo         Estado
0  Arizona Diamondbacks      ARI        Arizona
1        Atlanta Braves      ATL        Georgia
2     Baltimore Orioles      BAL       Maryland
3        Boston Red Sox      BOS  Massachusetts
4          Chicago Cubs      CHC       Illinois

Unamos esta dataframe con el de los equipos por estado

In [9]:
acronym_state = pd.merge(df_states, df_acronym, on = 'Estado')

In [10]:
acronym_state.head()

       Estado  Cantidad de equipos                Equipo Acronimo
0     Arizona                    1  Arizona Diamondbacks      ARI
1  California                    5    Los Angeles Angels      LAA
2  California                    5   Los Angeles Dodgers      LAD
3  California                    5     Oakland Athletics      OAK
4  California                    5      San Diego Padres       SD

En este caso, el nombre de las variables es claro

## Algoritmo para la creación de las bases de datos

A continuaicón, se optimizará el código para que se puedan obtener los *dataframes* anteriores para un cojuntos de datos de años secuenciales, como es nuestro caso

In [11]:
# Auxiliares:
free_agents = 'Data/Free_Agents/free_agents_'
hitting = 'Data/Statistics/Cumulative/Hitting/hitting_'
pitching = 'Data/Statistics/Cumulative/Pitching/pitching_'
salary = 'Data/Salary/salary_'
teams = 'ETL_Data/Transversal/Teams/free_agents_team_'
csv = '.csv'
period = 12
# Originales:
df_free_agents = [None]*period
df_hitting = [None]*period
df_pitching = [None]*period
df_salary = [None]*period
df_teams = [None]*period
# Copias:
df_free_agents_copy = [None]*period
df_hitting_copy = [None]*period
df_pitching_copy = [None]*period
df_salary_copy = [None]*period
df_teams_copy = [None]*period
# Producto final:
df_pitchers = [None]*period
df_hitters = [None]*period
df_pitchers_free_agents = [None]*period
df_hitters_free_agents = [None]*period
df_pitchers_no_free_agents = [None]*period
df_hitters_no_free_agents = [None]*period
df_panel_hitters = [None]*period
df_panel_pitchers = [None]*period

Leamos todos los archivos y creemos las copias

In [12]:
for year in range(0,period):    
    df_free_agents[year] = pd.read_csv(free_agents + str(2011 + year) + csv)
    df_hitting[year] = pd.read_csv(hitting + str(2011 + year) + csv)
    df_pitching[year] = pd.read_csv(pitching + str(2011 + year) + csv)
    df_salary[year] = pd.read_csv(salary + str(2011 + year) + csv)
    df_teams[year] = pd.read_csv(teams + str(2011 + year) + csv)
    
    df_free_agents_copy[year] = df_free_agents[year].copy()
    df_hitting_copy[year] = df_hitting[year].copy()
    df_pitching_copy[year] = df_pitching[year].copy()
    df_salary_copy[year] = df_salary[year].copy()
    df_teams_copy[year] = pd.read_csv(teams + str(2011 + year) + csv)

Tratemos las bases de datos por separado. Sin embargo, a todas les quitaremos la columna de rango y *Cash2023*.

Como no queremos que se repita la columna del año de la temporada de la base de datos, borremos la columna de *Year* de la base  de datos de los agentes libres. Como los años del contrato aparecen en la base de datos sobre los salarios, se prefiere conservar dicha columna en la base de datos de salarios puesto que esta base de datos es más general que la de los agentes libres, razón por la que se borrará de esta última base de datos. 

El equipo al que se cambia el agente libre está señalado por la columna del equipo en la base de datos de salarios y la estadísticas deportivas por lo que se borrará *Team From To* de la base de datos de los agentes libres. 

Como nos importan los salarios para este analisis, quitaremos la columna de los equipos en las bases de datos sobre las estadísticas deportivas de todos los jugadores, así como la posición que ocupan.

In [13]:
for year in range(0,period):
    # Drop columns:
    if any(name in df_free_agents_copy[year].columns for name in ['Rank','Pos','Year','Team From To']):
        df_free_agents_copy[year].drop('Rank', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Year', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Pos', axis = 1, inplace = True)
        df_free_agents_copy[year].drop('Team From To', axis = 1, inplace = True)
    if 'Rank' in df_salary_copy[year].columns:
        df_salary_copy[year].drop('Rank', axis = 1, inplace = True)
    if any(name in df_hitting_copy[year].columns for name in ['Rank','Year','Cash2023','Team','Pos']):
        df_hitting_copy[year].drop('Rank', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Cash2023', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Team', axis = 1, inplace = True)
        df_hitting_copy[year].drop('Pos', axis = 1, inplace = True)
    if any(name in df_pitching_copy[year].columns for name in ['Rank','Year','Cash2023','Team','Pos']):
        df_pitching_copy[year].drop('Rank', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Cash2023', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Team', axis = 1, inplace = True)
        df_pitching_copy[year].drop('Pos', axis = 1, inplace = True)

Debido a que aparecen columnas que inician con el  nombre *Unnamed*, tendremos que borrarlas con algún método general, el cual se muestra a continuación:

In [14]:
for year in range(0,period):
    # Base de datos de agentes libres:
    df_free_agents_copy[year].drop(df_free_agents_copy[year].columns[df_free_agents_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los salarios:
    df_salary_copy[year].drop(df_salary_copy[year].columns[df_salary_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los hitters:
    df_hitting_copy[year].drop(df_hitting_copy[year].columns[df_hitting_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
    
    # Base de datos de los pitchers:
    df_pitching_copy[year].drop(df_pitching_copy[year].columns[df_pitching_copy[year].columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)

Verifiquemos que ya no se encuentran dichas columnas molestas

In [15]:
df_free_agents_copy[9].columns

Index(['Player', 'Status', 'Team From', 'YRS', 'Value', 'AAV'], dtype='object')

In [16]:
df_salary_copy[11].columns

Index(['Player', 'Year', 'Pos', 'Team', 'BaseSalary', 'SigningBonus',
       'Payroll Salary', 'Adj Salary', 'Salary%', 'Cash', 'AAV', 'CONT YR',
       'CONT VALUE', 'Earnings', 'FA Year', 'Sign Age', 'Age', 'Weight',
       'Height'],
      dtype='object')

In [17]:
df_hitting_copy[2].columns

Index(['Player', 'GP', 'GP%', 'GS', 'GS%', 'AB', 'H', '2B', '3B', 'HR', 'RBI',
       'AVG', 'OBP', 'SLG', 'OPS', 'WAR', 'TVS'],
      dtype='object')

In [18]:
df_pitching_copy[5].columns

Index(['Player', 'GP', 'GS', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'W', 'L', 'SV',
       'WHIP', 'ERA', 'WAR', 'TVS'],
      dtype='object')

#### Agentes libres

No se conservará el equipo al que es contratado el agente libre puesto que esta información también la contiene la base de datos que facilita más el tratamiento _ETL_.

In [19]:
for year in range(0,period):
    df_free_agents_copy[year] = df_free_agents_copy[year].rename(columns = {'Player':'Jugador',
                                'Status':'Status_agente_libre', 'Team From':'Equipo_anterior',
                                'Value':'Valor_contrato', 'AAV':'Valor_promedio_contrato',
                                'YRS':'Anios_de_contrato'})
    
    free_agents_aux_1 = df_free_agents_copy[year]['Valor_contrato'].str.replace("$","")
    free_agents_aux_2 = free_agents_aux_1.str.replace(",","")
    free_agents_aux_3 = df_free_agents_copy[year]['Valor_promedio_contrato'].str.replace("$","")
    free_agents_aux_4 = free_agents_aux_3.str.replace(",","")
    df_free_agents_copy[year]['Valor_contrato'] = free_agents_aux_2
    df_free_agents_copy[year]['Valor_promedio_contrato'] = free_agents_aux_4
    
    df_free_agents_copy[year]['Valor_contrato'] = pd.to_numeric(df_free_agents_copy[year]['Valor_contrato'])
    df_free_agents_copy[year]['Valor_promedio_contrato'] = pd.to_numeric(df_free_agents_copy[year]['Valor_promedio_contrato'])

Observemos las dimensiones de las bases de datos como referencia

In [20]:
for year in range(0,period):
    print(df_free_agents_copy[year].shape)

(1, 6)
(108, 6)
(213, 6)
(208, 6)
(221, 6)
(241, 6)
(100, 6)
(98, 6)
(105, 6)
(118, 6)
(141, 6)
(137, 6)

También el tipo de datos que contiene cada columna

In [21]:
df_free_agents_copy[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  100 non-null    object
 1   Status_agente_libre      100 non-null    object
 2   Equipo_anterior          100 non-null    object
 3   Anios_de_contrato        100 non-null    int64
 4   Valor_contrato           100 non-null    int64
 5   Valor_promedio_contrato  100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

#### Salarios

Como los salarios irán con las bases de datos de los _hitters_ y _pitchers_ es que se hará su proceso _ETL_ antes.

In [22]:
for year in range(0,period):
    # Cambio de nombres
    df_salary_copy[year] = df_salary_copy[year].rename(columns = {'Player':'Jugador',
                            'BaseSalary':'Sueldo_base', 'SigningBonus':'Bono_por_firma',
                            'Payroll Salary':'Sueldo_regular', 'Adj Salary':'Sueldo_ajustado',
                            'CONT YR':'Anios_de_contrato', 'CONT VALUE':'Valor_del_contrato',
                            'Earnings':'Ganancias', 'FA Year':'Anio_de_agente_libre',
                            'Sign Age':'Edad_al_firmar', 'Age':'Edad', 'Weight':'Peso',
                            'Height':'Altura', 'Year':'Anio', 'Pos':'Posicion',
                            'Salary%':'Sueldo_porcentual', 'Cash':'Pago_efectivo',
                            'AAV':'Valor_contrato_promedio', 'Team':'Acronimo'})
    
    # Tranformando al tipo de dato apropiado
    salary_aux_1 = df_salary_copy[year]['Sueldo_base'].str.replace("$","")
    salary_aux_2 = salary_aux_1.str.replace(",","")
    df_salary_copy[year]['Sueldo_base'] = salary_aux_2
    df_salary_copy[year]['Sueldo_base'] = pd.to_numeric(df_salary_copy[year]['Sueldo_base'])
    
    salary_aux_3 = df_salary_copy[year]['Sueldo_regular'].str.replace("$","")
    salary_aux_4 = salary_aux_3.str.replace(",","")
    df_salary_copy[year]['Sueldo_regular'] = salary_aux_4
    df_salary_copy[year]['Sueldo_regular'] = pd.to_numeric(df_salary_copy[year]['Sueldo_regular'])
    
    salary_aux_5 = df_salary_copy[year]['Sueldo_ajustado'].str.replace("$","")
    salary_aux_6 = salary_aux_5.str.replace(",","")
    df_salary_copy[year]['Sueldo_ajustado'] = salary_aux_6
    df_salary_copy[year]['Sueldo_ajustado'] = pd.to_numeric(df_salary_copy[year]['Sueldo_ajustado'])
    
    salary_aux_7 = df_salary_copy[year]['Valor_del_contrato'].str.replace("$","")
    salary_aux_8 = salary_aux_7.str.replace(",","")
    df_salary_copy[year]['Valor_del_contrato'] = salary_aux_8
    df_salary_copy[year]['Valor_del_contrato'] = pd.to_numeric(df_salary_copy[year]['Valor_del_contrato'])
    
    salary_aux_9 = df_salary_copy[year]['Bono_por_firma'].str.replace("$","")
    salary_aux_10 = salary_aux_9.str.replace(",","")
    df_salary_copy[year]['Bono_por_firma'] = salary_aux_10
    df_salary_copy[year]['Bono_por_firma'] = pd.to_numeric(df_salary_copy[year]['Bono_por_firma'])
    
    salary_aux_11 = df_salary_copy[year]['Ganancias'].str.replace("$","")
    salary_aux_12 = salary_aux_11.str.replace(",","")
    df_salary_copy[year]['Ganancias'] = salary_aux_12
    df_salary_copy[year]['Ganancias'] = pd.to_numeric(df_salary_copy[year]['Ganancias'])
    
    salary_aux_13 = df_salary_copy[year]['Pago_efectivo'].str.replace("$","")
    salary_aux_14 = salary_aux_13.str.replace(",","")
    df_salary_copy[year]['Pago_efectivo'] = salary_aux_14
    df_salary_copy[year]['Pago_efectivo'] = pd.to_numeric(df_salary_copy[year]['Pago_efectivo'])
    
    salary_aux_15 = df_salary_copy[year]['Valor_contrato_promedio'].str.replace("$","")
    salary_aux_16 = salary_aux_15.str.replace(",","")
    df_salary_copy[year]['Valor_contrato_promedio'] = salary_aux_16
    df_salary_copy[year]['Valor_contrato_promedio'] = pd.to_numeric(df_salary_copy[year]['Valor_contrato_promedio'])
    
    salary_aux_17 = df_salary_copy[year]['Altura'].str.replace("\"","")
    salary_aux_18 = salary_aux_17.str.replace("'","")
    df_salary_copy[year]['Altura'] = salary_aux_18
    df_salary_copy[year]['Altura'] = pd.to_numeric(df_salary_copy[year]['Altura'])/10
    # SUstitullamos los xeros
    height_mean = df_salary_copy[year]['Altura'].mean(skipna=True)
    df_salary_copy[year]['Altura'] = df_salary_copy[year].Altura.mask(df_salary_copy[year].Altura == 0, height_mean)
    
    df_salary_copy[year]['Anio_de_agente_libre'] = pd.to_numeric(df_salary_copy[year]['Anio_de_agente_libre'])
    df_salary_copy[year]['Anios_de_contrato'] = pd.to_numeric(df_salary_copy[year]['Anios_de_contrato'])
    df_salary_copy[year]['Edad'] = pd.to_numeric(df_salary_copy[year]['Edad'])

Por algunas particularidades de la base de datos, las columna que contiene la edad al firmar se tratará por separado aprovechando que la mayoría de los datos incorrectos tienen una longitud mayor a dos.

In [23]:
for year in range (0,period):
    df_salary_copy[year]['Edad_al_firmar'] = df_salary_copy[year]['Edad_al_firmar'].map(str)

    for edad in range(0,df_salary_copy[year].shape[0]):
        # String es mayor que 0:
        if len(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) == 2:
            df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(df_salary_copy[year]['Edad_al_firmar'].iloc[edad])
            
        # String es menor o igual que 0:
        elif len(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) != 2:
            # Si la columna de la edad contiene datos correctos
            if df_salary_copy[year]['Edad'].iloc[edad] > 0:
                if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                    ag_year = year + 2011 + 1
                else:
                    ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
                # Get first year of contract
                ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
                # Años desde el el año inicial
                dif_years = year + 2011 - ini_year
                # Edad al firmar:
                sign_age = df_salary_copy[year]['Edad'].iloc[edad] - dif_years
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(sign_age)
                
            # Si la columna de edad no contiene un dato coherente
            else:
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(18)    
    
        # Entero  menor a 0:
        if df_salary_copy[year]['Edad_al_firmar'].iloc[edad] < 0:
            # Si la columna de la edad contiene datos correctos
            if df_salary_copy[year]['Edad'].iloc[edad] > 0:
                if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                    ag_year = year + 2011 + 1
                else:
                    ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
                # Get first year of contract
                ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
                # Años desde el el año inicial
                dif_years = year + 2011 - ini_year
                # Edad al firmar:
                sign_age = df_salary_copy[year]['Edad'].iloc[edad] - dif_years
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(sign_age)
                
            # Si la columna de edad no contiene un dato coherente
            else:
                # Cambio de dato:
                df_salary_copy[year].iloc[edad, df_salary_copy[year].columns.get_loc('Edad_al_firmar')] = pd.to_numeric(18)
         
    # Transformemos los datos a enteros
    df_salary_copy[year]['Edad_al_firmar'] = pd.to_numeric(df_salary_copy[year]['Edad_al_firmar'])

Podemos verificar si se limpiaron adecuadamente las celdas de la columna de edades al firmar. Esto, al filtrar los datos que sean distintos a enteros y al observar si se pudo transformar toda la columna al tipo entero.

In [24]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
        if type(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) != np.int64:
            print(type(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]))

In [25]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
        if df_salary_copy[year]['Edad_al_firmar'].iloc[edad] < 0:
            print(df_salary_copy[year]['Edad_al_firmar'].iloc[edad])

In [26]:
#for year in range(0,period):
#    print(type(df_salary_copy[year][['Edad_al_firmar']].info()))

In [27]:
#for year in range(0,period):
#    print(year)
#    for edad in range(0,df_salary_copy[year]['Edad_al_firmar'].shape[0]):
#        print(str(df_salary_copy[year]['Edad_al_firmar'].iloc[edad]) + ' ' + str(edad))

Por otro lado, falta corregir las entradas de las columnas de las edades que tengan valores menores a cero. Esto se hará de acuerdo al resto de columnas

In [28]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad'].shape[0]):
        if df_salary_copy[year]['Edad'].iloc[edad] < 0:
            print(year)
            print(df_salary_copy[year]['Edad'].iloc[edad])

0
-9
1
-9
2
-7

In [29]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year].shape[0]):
        # Condición para imputar:
        if df_salary_copy[year]['Edad'].iloc[edad] <= 0:
            # Si no se indica si tendrá año de agencia libre:
            if df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad] == 0:
                        ag_year = year + 2011 + 1
            # Si tendrá año de agencia libre
            else:
                ag_year = df_salary_copy[year]['Anio_de_agente_libre'].iloc[edad]
            # Get first year of contract
            ini_year = ag_year - df_salary_copy[year]['Anios_de_contrato'].iloc[edad]
            # Años desde el el año inicial
            dif_years = year + 2011 - ini_year
            # Edad en la temporada:
            seasson_age = df_salary_copy[year]['Edad_al_firmar'].iloc[edad] + dif_years
            # Asignación
            df_salary_copy[year]['Edad'].iloc[edad] = seasson_age

Comprobemos que no hay ninguna edad negativa

In [30]:
for year in range(0,period):
    for edad in range(0,df_salary_copy[year]['Edad'].shape[0]):
        if df_salary_copy[year]['Edad'].iloc[edad] < 0:
            print(year)
            print(str(df_salary_copy[year]['Edad'].iloc[edad]) + ' ' + str(edad))

Con la imputación de datos ya se puede crear la columna que contiene la antiguedad del agente libre bajo el contrato

In [31]:
for year in range(0,period):
    df_salary_copy[year]['Antiguedad'] = df_salary_copy[year]['Edad'] - df_salary_copy[year]['Edad_al_firmar']

Por último, convirtamos la columna del año a string para que se entienda como una categoría y no una variable numérica

In [32]:
for year in range(0,period):
    df_salary_copy[year]['Anio'] = df_salary_copy[year]['Anio'].map(str)

In [33]:
df_salary_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1045 non-null   object
 1   Anio                     1045 non-null   object
 2   Posicion                 1045 non-null   object
 3   Acronimo                 1045 non-null   object
 4   Sueldo_base              1045 non-null   int64
 5   Bono_por_firma           1045 non-null   int64
 6   Sueldo_regular           1045 non-null   int64
 7   Sueldo_ajustado          1045 non-null   int64
 8   Sueldo_porcentual        1045 non-null   float64
 9   Pago_efectivo            1045 non-null   int64
 10  Valor_contrato_promedio  1045 non-null   int64
 11  Anios_de_contrato        1045 non-null   int64
 12  Valor_del_contrato       1045 non-null   int64
 13  Ganancias                1045 non-null   int64
 14  Anio_de_agente_libre     1045 non-null   int64
 15  Edad_al_firmar           1045 non-null   int64
 16  Edad                     1045 non-null   int64
 17  Peso                     1045 non-null   int64
 18  Altura                   1045 non-null   float64
 19  Antiguedad               1045 non-null   int64
dtypes: float64(2), int64(14), object(4)
memory usage: 163.4+ KB

#### Hitters

In [34]:
for year in range(0,period):
    # Cambio de nombres
    df_hitting_copy[year] = df_hitting_copy[year].rename(columns = {'Player':'Jugador',
                            'GP':'Juegos', 'GP%':'Porcentaje_juegos',
                            'AB':'At_bats', 'H':'Bateos', 'GS':'Juegos_iniciados',
                            'GS%':'Porcentaje_juegos_iniciados', 'RBI':'Runs_batted_in',
                            'HR':'Home_runs', 'AVG':'Bateos_promedio',
                            '2B':'Dobles', '3B':'Triples', 'OPS':'Porcentaje_On_base_plus_slugging',
                            'SLG':'Porcentaje_slugging', 'OBP':'Porcentaje_on_base'})

In [35]:
for year in range(0,period):
    print(df_hitting_copy[year].shape)

(521, 17)
(669, 17)
(734, 17)
(778, 17)
(809, 17)
(834, 17)
(810, 17)
(825, 17)
(850, 17)
(451, 17)
(753, 17)
(496, 17)

In [36]:
df_hitting_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834 entries, 0 to 833
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Jugador                           834 non-null    object
 1   Juegos                            834 non-null    int64
 2   Porcentaje_juegos                 834 non-null    float64
 3   Juegos_iniciados                  834 non-null    int64
 4   Porcentaje_juegos_iniciados       834 non-null    float64
 5   At_bats                           834 non-null    int64
 6   Bateos                            834 non-null    int64
 7   Dobles                            834 non-null    int64
 8   Triples                           834 non-null    int64
 9   Home_runs                         834 non-null    int64
 10  Runs_batted_in                    834 non-null    int64
 11  Bateos_promedio                   834 non-null    float64
 12  Porcentaje_on_base                834 non-null    float64
 13  Porcentaje_slugging               834 non-null    float64
 14  Porcentaje_On_base_plus_slugging  834 non-null    float64
 15  WAR                               832 non-null    float64
 16  TVS                               834 non-null    float64
dtypes: float64(8), int64(8), object(1)
memory usage: 110.9+ KB

In [37]:
df_hitting_copy[5].columns

Index(['Jugador', 'Juegos', 'Porcentaje_juegos', 'Juegos_iniciados',
       'Porcentaje_juegos_iniciados', 'At_bats', 'Bateos', 'Dobles', 'Triples',
       'Home_runs', 'Runs_batted_in', 'Bateos_promedio', 'Porcentaje_on_base',
       'Porcentaje_slugging', 'Porcentaje_On_base_plus_slugging', 'WAR',
       'TVS'],
      dtype='object')

#### Pitchers

In [38]:
for year in range(0,period):
    # Cambio de nombres
    df_pitching_copy[year] = df_pitching_copy[year].rename(columns = {'Player':'Jugador',
                             'GP':'Juegos', 'GS':'Juegos_iniciados', 'IP':'Inning_pitched',
                             'H':'Bateos', 'R':'Carreras', 'ER':'Carreras_ganadas',
                             'BB':'Walks', 'SO':'Strike_outs', 'W':'Wins', 'L':'Losses',
                             'SV':'Saves'})

In [39]:
for year in range(0,period):
    print(df_pitching_copy[year].shape)

(324, 16)
(427, 16)
(485, 16)
(537, 16)
(586, 16)
(592, 16)
(581, 16)
(644, 16)
(668, 16)
(542, 16)
(611, 16)
(598, 16)

In [40]:
df_pitching_copy[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Jugador           592 non-null    object
 1   Juegos            592 non-null    int64
 2   Juegos_iniciados  592 non-null    int64
 3   Inning_pitched    592 non-null    float64
 4   Bateos            592 non-null    int64
 5   Carreras          592 non-null    int64
 6   Carreras_ganadas  592 non-null    int64
 7   Walks             592 non-null    int64
 8   Strike_outs       592 non-null    int64
 9   Wins              592 non-null    int64
 10  Losses            592 non-null    int64
 11  Saves             592 non-null    int64
 12  WHIP              592 non-null    float64
 13  ERA               592 non-null    float64
 14  WAR               587 non-null    float64
 15  TVS               592 non-null    float64
dtypes: float64(5), int64(10), object(1)
memory usage: 74.1+ KB

## Agregación de variables sugeridas por artículos

Las primeras variables que agregaremos son el cuadrado de todas las estadísticas deportivas, así como las siguientes variables:

- DOMINANCE = $Strike-outs/(Inning \; Pitched)$
- CONTROL = $Walks/(Inning \; Pitched)$
- COMMAND = $Strike-outs/Walks$

In [41]:
for year in range(0,period):
    df_pitching_copy[year]['Dominio'] = df_pitching_copy[year]['Strike_outs']/(df_pitching_copy[year]['Inning_pitched'])
    df_pitching_copy[year]['Control'] = df_pitching_copy[year]['Walks']/(df_pitching_copy[year]['Inning_pitched'])
    df_pitching_copy[year]['Comando'] = df_pitching_copy[year]['Strike_outs']/df_pitching_copy[year]['Walks']

In [42]:
for year in range(0,period):
    print(df_pitching_copy[year].shape)

(324, 19)
(427, 19)
(485, 19)
(537, 19)
(586, 19)
(592, 19)
(581, 19)
(644, 19)
(668, 19)
(542, 19)
(611, 19)
(598, 19)

In [43]:
df_pitching_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Jugador           485 non-null    object
 1   Juegos            485 non-null    int64
 2   Juegos_iniciados  485 non-null    int64
 3   Inning_pitched    485 non-null    float64
 4   Bateos            485 non-null    int64
 5   Carreras          485 non-null    int64
 6   Carreras_ganadas  485 non-null    int64
 7   Walks             485 non-null    int64
 8   Strike_outs       485 non-null    int64
 9   Wins              485 non-null    int64
 10  Losses            485 non-null    int64
 11  Saves             485 non-null    int64
 12  WHIP              485 non-null    float64
 13  ERA               485 non-null    float64
 14  WAR               435 non-null    float64
 15  TVS               485 non-null    float64
 16  Dominio           484 non-null    float64
 17  Control           485 non-null    float64
 18  Comando           482 non-null    float64
dtypes: float64(8), int64(10), object(1)
memory usage: 72.1+ KB

Podemos verificar qué entradas poseen valores infinitos en la base de datos

In [44]:
"""
for year in range(0,period):
    print(str(2011 + year))
    for name in df_pitching_copy[year].columns:
        print(name)
        if type(name) != str:
            for element in range(0,len(df_pitching_copy[year][name])):
                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:
                    print(str(element) +  '  ' + str(df_pitching_copy[year][name].iloc[element]))
    print("")
"""

'\nfor year in range(0,period):\n    print(str(2011 + year))\n    for name in df_pitching_copy[year].columns:\n        print(name)\n        if type(name) != str:\n            for element in range(0,len(df_pitching_copy[year][name])):\n                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:\n                    print(str(element) +  \'  \' + str(df_pitching_copy[year][name].iloc[element]))\n    print("")\n'

Siguiendo la sugerencia de algunos artículos, obtengamos el logaritmo de los salarios

In [45]:
for year in range(0,period):
    df_salary_copy[year]['ln_Sueldo_base'] = np.log(df_salary_copy[year]['Sueldo_base'])
    df_salary_copy[year]['ln_Sueldo_ajustado'] = np.log(df_salary_copy[year]['Sueldo_ajustado'])
    df_salary_copy[year]['ln_Sueldo_regular'] = np.log(df_salary_copy[year]['Sueldo_regular'])

In [46]:
df_salary_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1013 non-null   object
 1   Anio                     1013 non-null   object
 2   Posicion                 1013 non-null   object
 3   Acronimo                 1013 non-null   object
 4   Sueldo_base              1013 non-null   int64
 5   Bono_por_firma           1013 non-null   int64
 6   Sueldo_regular           1013 non-null   int64
 7   Sueldo_ajustado          1013 non-null   int64
 8   Sueldo_porcentual        1013 non-null   float64
 9   Pago_efectivo            1013 non-null   int64
 10  Valor_contrato_promedio  1013 non-null   int64
 11  Anios_de_contrato        1013 non-null   int64
 12  Valor_del_contrato       1013 non-null   int64
 13  Ganancias                1013 non-null   int64
 14  Anio_de_agente_libre     1013 non-null   int64
 15  Edad_al_firmar           1013 non-null   int64
 16  Edad                     1013 non-null   int64
 17  Peso                     1013 non-null   int64
 18  Altura                   1013 non-null   float64
 19  Antiguedad               1013 non-null   int64
 20  ln_Sueldo_base           1013 non-null   float64
 21  ln_Sueldo_ajustado       1013 non-null   float64
 22  ln_Sueldo_regular        1013 non-null   float64
dtypes: float64(5), int64(14), object(4)
memory usage: 182.1+ KB

Debido a que hay columnas con datos tipo _Nan_ o _NULL_, optaremos por imputarlos.

Mientras que los valores infinitos generados por las nuevas variables se sustituirán dependediendo del caso:

- 0/0: 0
- num/0: Máximo de la columna correspondientefijarán

In [47]:
for year in range(0,period):
    # Salaries
    mean_hgt = df_salary_copy[year].loc[df_salary_copy[year]['Altura'] > 4.9].Altura.mean()
    mean_wgh = df_salary_copy[year].loc[df_salary_copy[year]['Peso'] > 0].Peso.mean()
    df_salary_copy[year]['Altura'].fillna(value = mean_hgt, inplace = True)
    df_salary_copy[year]['Altura'].mask(df_salary_copy[year]['Altura'] <= 4.9, mean_hgt, inplace = True)
    df_salary_copy[year]['Peso'].fillna(value = mean_wgh, inplace = True)
    df_salary_copy[year]['Peso'].mask(df_salary_copy[year]['Peso'] <= 0, mean_wgh, inplace = True)
    
    # Pitchers
    mean_war = df_pitching_copy[year].loc[df_pitching_copy[year]['WAR'] > 0].WAR.mean()
    mean_dom = df_pitching_copy[year].loc[df_pitching_copy[year]['Dominio'] > 0].Dominio.mean()
    mean_con = df_pitching_copy[year].loc[df_pitching_copy[year]['Control'] > 0].Control.mean()
    mean_com = df_pitching_copy[year].loc[df_pitching_copy[year]['Comando'] > 0].Comando.mean()
    df_pitching_copy[year]['WAR'].fillna(value = mean_war, inplace = True)
    df_pitching_copy[year]['WAR'].mask(df_pitching_copy[year]['WAR'] <= 0, mean_war, inplace = True)
    df_pitching_copy[year]['Dominio'].fillna(value = mean_dom, inplace = True)
    df_pitching_copy[year]['Dominio'].mask(df_pitching_copy[year]['Dominio'] <= 0, mean_dom, inplace = True)
    df_pitching_copy[year]['Control'].fillna(value = mean_con, inplace = True)
    df_pitching_copy[year]['Control'].mask(df_pitching_copy[year]['Control'] <= 0, mean_con, inplace = True)
    df_pitching_copy[year]['Comando'].fillna(value = mean_com, inplace = True)
    df_pitching_copy[year]['Comando'].mask(df_pitching_copy[year]['Comando'] <= 0, mean_com, inplace = True)
    
    # Hitters
    mean_war = df_hitting_copy[year].loc[df_hitting_copy[year]['WAR'] > 0].WAR.mean()
    df_hitting_copy[year]['WAR'].fillna(value = mean_war, inplace = True)
    df_hitting_copy[year]['WAR'].mask(df_hitting_copy[year]['WAR'] <= 0, mean_war, inplace = True)

In [48]:
for year in range(0,period):   
    # Condiciones
    con_dom_1 = df_pitching_copy[year]['Strike_outs'] == 0
    con_con_1 = df_pitching_copy[year]['Walks'] == 0
    con_com_1 = df_pitching_copy[year]['Strike_outs'] == 0
                 
    # Imputación caso 0/0
    df_pitching_copy[year].loc[con_dom_1, "Dominio"] = 0
    df_pitching_copy[year].loc[con_con_1, "Control"] = 0
    df_pitching_copy[year].loc[con_com_1, "Comando"] = 0

In [49]:
for year in range(0,period):   
    # Máximos
    max_dom = df_pitching_copy[year]['Strike_outs'].max()/9
    max_con = df_pitching_copy[year]['Walks'].max()/9
    max_com = df_pitching_copy[year]['Strike_outs'].max()
    
    # Cambianfdo infinitos a NaNs
    df_pitching_copy[year]["Dominio"].replace([np.inf, -np.inf], np.nan, inplace = True)
    df_pitching_copy[year]["Control"].replace([np.inf, -np.inf], np.nan, inplace = True)
    df_pitching_copy[year]["Comando"].replace([np.inf, -np.inf], np.nan, inplace = True)
    
    # Imputación
    df_pitching_copy[year]['Dominio'].fillna(value = max_dom, inplace = True)
    df_pitching_copy[year]['Control'].fillna(value = max_con, inplace = True)
    df_pitching_copy[year]['Comando'].fillna(value = max_com, inplace = True)

Verifiquemos que ya no haya problemas con valores infinitos

In [50]:
"""
for year in range(0,period):
    print(str(2011 + year))
    for name in df_pitching_copy[year].columns:
        print(name)
        if type(name) != str:
            for element in range(0,len(df_pitching_copy[year][name])):
                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:
                    print(str(element) +  '  ' + str(df_pitching_copy[year][name].iloc[element]))
    print("")
"""

'\nfor year in range(0,period):\n    print(str(2011 + year))\n    for name in df_pitching_copy[year].columns:\n        print(name)\n        if type(name) != str:\n            for element in range(0,len(df_pitching_copy[year][name])):\n                if math.isinf(df_pitching_copy[year][name].iloc[element]) == True:\n                    print(str(element) +  \'  \' + str(df_pitching_copy[year][name].iloc[element]))\n    print("")\n'

Así mismo, contemos los valores *NaN* que queden presentes

In [51]:
for year in range(0,period):
    print('Año: ' + str(2011 + year))
    print('Hitters:')
    df_hitting_copy[year].isna().sum()
    print('Pitchers:')
    df_pitching_copy[year].isna().sum()
    print('Free agents:')
    df_free_agents_copy[year].isna().sum()
    print('Salaries:')
    df_salary_copy[year].isna().sum()
    print("")

Año: 2011
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2012
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2013
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2014
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2015
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2016
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2017
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2018
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2019
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2020
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2021
Hitters:
Pitchers:
Free agents:
Salaries:

Año: 2022
Hitters:
Pitchers:
Free agents:
Salaries:

Ahora, repitamos este proceso para la base de datos de los salarios.

In [52]:
salary_names = ['ln_Sueldo_ajustado', 'ln_Sueldo_base', 'ln_Sueldo_regular']

In [53]:
for name in salary_names:
    print(name)
    
    for year in range(0,period):
        print(str(2011 + year))
        for element in range(0,len(df_salary_copy[year][name])):
            if df_salary_copy[year][name].iloc[element] <= 0:
                print(str(element) +  '  ' + str(df_salary_copy[year][name].iloc[element]))
        print("")

ln_Sueldo_ajustado
2011

2012

2013

2014

2015

2016

2017

2018
72  -inf
188  -inf

2019

2020

2021
6  -inf
55  -inf
166  -inf
274  -inf

2022
193  -inf

ln_Sueldo_base
2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

2022

ln_Sueldo_regular
2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

2022

Al inspecsionar los errores nos damos cuenta que solo se desconocen los salarios ajustados y los fijaron a $0$. Usaremos el logaritmo base 10 del salario regular para sustituir dicho valor.

In [54]:
for year in range(0,period):
    df_salary_copy[year]['ln_Sueldo_ajustado'].mask(df_salary_copy[year]['ln_Sueldo_ajustado'] < 0,
                                                    df_salary_copy[year]['ln_Sueldo_regular'],
                                                    inplace = True)

In [55]:
for year in range(0,period):
    print(str(2011 + year))
    for element in range(0,len(df_salary_copy[year]['ln_Sueldo_ajustado'])):
        if df_salary_copy[year]['ln_Sueldo_ajustado'].iloc[element] <= 0:
            print(str(element) +  '  ' + str(df_salary_copy[year]['ln_Sueldo_ajustado'].iloc[element]))
    print("")

2011

2012

2013

2014

2015

2016

2017

2018

2019

2020

2021

2022

In [56]:
for year in range(0,period):
    print("Ajustado: " + str(df_salary_copy[year]['ln_Sueldo_ajustado'].mean())
          + 'n'
          + 'Regular: ' + str(df_salary_copy[year]['ln_Sueldo_regular'].mean()))

Ajustado: 13.785784770849762nRegular: 13.888874386883515
Ajustado: 13.81181498978195nRegular: 13.90039782504837
Ajustado: 13.54819591748778nRegular: 13.978975725734408
Ajustado: 13.66411021920866nRegular: 14.080738990191257
Ajustado: 13.49415866539551nRegular: 13.99344595993313
Ajustado: 13.478992231977141nRegular: 14.0261405412466
Ajustado: 13.575363447521962nRegular: 14.079742661574734
Ajustado: 13.562311948859815nRegular: 14.080756222584538
Ajustado: 13.521364643693584nRegular: 14.066559580453122
Ajustado: 13.029458522392627nRegular: 14.216780831796356
Ajustado: 13.70981799580226nRegular: 14.198804602895482
Ajustado: 13.924314685157658nRegular: 14.351734783233747

En efecto, ya no hay valores _NaN_ o _infinitos_.

Con el objetivo de hacer más eficiente la creación de las variables al cuadrado, lo haremos extrayendo el índice de las columnas de interés

In [57]:
df_hitting_copy[0].columns

Index(['Jugador', 'Juegos', 'Porcentaje_juegos', 'Juegos_iniciados',
       'Porcentaje_juegos_iniciados', 'At_bats', 'Bateos', 'Dobles', 'Triples',
       'Home_runs', 'Runs_batted_in', 'Bateos_promedio', 'Porcentaje_on_base',
       'Porcentaje_slugging', 'Porcentaje_On_base_plus_slugging', 'WAR',
       'TVS'],
      dtype='object')

In [58]:
df_pitching_copy[1].columns

Index(['Jugador', 'Juegos', 'Juegos_iniciados', 'Inning_pitched', 'Bateos',
       'Carreras', 'Carreras_ganadas', 'Walks', 'Strike_outs', 'Wins',
       'Losses', 'Saves', 'WHIP', 'ERA', 'WAR', 'TVS', 'Dominio', 'Control',
       'Comando'],
      dtype='object')

In [59]:
def get_col_indices(df, names):
    return df.columns.get_indexer(names)

In [60]:
hitting_names = ['Juegos_iniciados', 'Porcentaje_juegos_iniciados', 'At_bats', 'Bateos',
                  'Dobles', 'Triples', 'Home_runs', 'Runs_batted_in', 'Bateos_promedio',
                  'Porcentaje_on_base', 'Porcentaje_slugging', 'TVS',
                  'Porcentaje_On_base_plus_slugging', 'WAR']	
pitching_names = ['Inning_pitched', 'Bateos', 'Carreras',
                  'Carreras_ganadas', 'Walks', 'Strike_outs', 'Wins', 'Losses',
                  'Saves', 'WHIP', 'ERA', 'WAR', 'TVS', 'Dominio', 'Control',
                  'Comando']

Con el objetivo de simplificar el código, verifiquemos si todos los índices en cada base de datos son los mismos

In [61]:
print('Hitters:')
for year in range(0,period):
    print(get_col_indices(df_hitting_copy[year], hitting_names))
    
print('Pitchers:')
for year in range(0,period):
    print(get_col_indices(df_pitching_copy[year], pitching_names))

Hitters:
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
[ 3  4  5  6  7  8  9 10 11 12 13 16 14 15]
Pitchers:
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

In [62]:
hitting_indexes = list(get_col_indices(df_hitting_copy[0], hitting_names))
pitching_indexes = list(get_col_indices(df_pitching_copy[0], pitching_names))

In [63]:
for year in range(0,period):
    # Hitters:
    for hitter_name in hitting_indexes:
        df_hitting_copy[year][df_hitting_copy[year].columns[hitter_name] + '_2'] = np.power(df_hitting_copy[year][df_hitting_copy[year].columns[hitter_name]], 2)
    # Pitchers:
    for pitcher_name in pitching_indexes:
        df_pitching_copy[year][df_pitching_copy[year].columns[pitcher_name] + '_2'] = np.power(df_pitching_copy[year][df_pitching_copy[year].columns[pitcher_name]], 2)

Apreciemos el resultado final

In [64]:
df_hitting_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Jugador                             734 non-null    object
 1   Juegos                              734 non-null    int64
 2   Porcentaje_juegos                   734 non-null    float64
 3   Juegos_iniciados                    734 non-null    int64
 4   Porcentaje_juegos_iniciados         734 non-null    float64
 5   At_bats                             734 non-null    int64
 6   Bateos                              734 non-null    int64
 7   Dobles                              734 non-null    int64
 8   Triples                             734 non-null    int64
 9   Home_runs                           734 non-null    int64
 10  Runs_batted_in                      734 non-null    int64
 11  Bateos_promedio                     734 non-null    float64
 12  Porcentaje_on_base                  734 non-null    float64
 13  Porcentaje_slugging                 734 non-null    float64
 14  Porcentaje_On_base_plus_slugging    734 non-null    float64
 15  WAR                                 734 non-null    float64
 16  TVS                                 734 non-null    float64
 17  Juegos_iniciados_2                  734 non-null    int64
 18  Porcentaje_juegos_iniciados_2       734 non-null    float64
 19  At_bats_2                           734 non-null    int64
 20  Bateos_2                            734 non-null    int64
 21  Dobles_2                            734 non-null    int64
 22  Triples_2                           734 non-null    int64
 23  Home_runs_2                         734 non-null    int64
 24  Runs_batted_in_2                    734 non-null    int64
 25  Bateos_promedio_2                   734 non-null    float64
 26  Porcentaje_on_base_2                734 non-null    float64
 27  Porcentaje_slugging_2               734 non-null    float64
 28  TVS_2                               734 non-null    float64
 29  Porcentaje_On_base_plus_slugging_2  734 non-null    float64
 30  WAR_2                               734 non-null    float64
dtypes: float64(15), int64(15), object(1)
memory usage: 177.9+ KB

In [65]:
df_pitching_copy[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jugador             485 non-null    object
 1   Juegos              485 non-null    int64
 2   Juegos_iniciados    485 non-null    int64
 3   Inning_pitched      485 non-null    float64
 4   Bateos              485 non-null    int64
 5   Carreras            485 non-null    int64
 6   Carreras_ganadas    485 non-null    int64
 7   Walks               485 non-null    int64
 8   Strike_outs         485 non-null    int64
 9   Wins                485 non-null    int64
 10  Losses              485 non-null    int64
 11  Saves               485 non-null    int64
 12  WHIP                485 non-null    float64
 13  ERA                 485 non-null    float64
 14  WAR                 485 non-null    float64
 15  TVS                 485 non-null    float64
 16  Dominio             485 non-null    float64
 17  Control             485 non-null    float64
 18  Comando             485 non-null    float64
 19  Inning_pitched_2    485 non-null    float64
 20  Bateos_2            485 non-null    int64
 21  Carreras_2          485 non-null    int64
 22  Carreras_ganadas_2  485 non-null    int64
 23  Walks_2             485 non-null    int64
 24  Strike_outs_2       485 non-null    int64
 25  Wins_2              485 non-null    int64
 26  Losses_2            485 non-null    int64
 27  Saves_2             485 non-null    int64
 28  WHIP_2              485 non-null    float64
 29  ERA_2               485 non-null    float64
 30  WAR_2               485 non-null    float64
 31  TVS_2               485 non-null    float64
 32  Dominio_2           485 non-null    float64
 33  Control_2           485 non-null    float64
 34  Comando_2           485 non-null    float64
dtypes: float64(16), int64(18), object(1)
memory usage: 132.7+ KB

## Unión de las bases de datos
### Datos agregados por equipo

Solo resta añadir los datos relevantes al equipo al que pertenece cada jugador considerando la base de datos de la cantidad de equipos por estado

In [66]:
df_teams_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   28 non-null     object
 1   Cantidad_agentes_libres  28 non-null     int64
 2   Valor_contrato_total     28 non-null     int64
 3   Acronimo                 28 non-null     object
 4   Victorias                28 non-null     int64
 5   Juegos totales           28 non-null     int64
 6   Playoffs                 28 non-null     int64
 7   Pennants won             28 non-null     int64
 8   WS ganadas               28 non-null     int64
 9   Promedio_victorias       28 non-null     float64
dtypes: float64(1), int64(7), object(2)
memory usage: 2.3+ KB

In [67]:
acronym_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Estado               30 non-null     object
 1   Cantidad de equipos  30 non-null     int64
 2   Equipo               30 non-null     object
 3   Acronimo             30 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

In [68]:
for year in range(0,period):
    df_teams_copy[year] = pd.merge(df_teams_copy[year], acronym_state, on = ['Equipo','Acronimo'])

In [69]:
df_teams_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   28 non-null     object
 1   Cantidad_agentes_libres  28 non-null     int64
 2   Valor_contrato_total     28 non-null     int64
 3   Acronimo                 28 non-null     object
 4   Victorias                28 non-null     int64
 5   Juegos totales           28 non-null     int64
 6   Playoffs                 28 non-null     int64
 7   Pennants won             28 non-null     int64
 8   WS ganadas               28 non-null     int64
 9   Promedio_victorias       28 non-null     float64
 10  Estado                   28 non-null     object
 11  Cantidad de equipos      28 non-null     int64
dtypes: float64(1), int64(8), object(3)
memory usage: 2.8+ KB

In [70]:
df_salary_copy[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  1036 non-null   object
 1   Anio                     1036 non-null   object
 2   Posicion                 1036 non-null   object
 3   Acronimo                 1036 non-null   object
 4   Sueldo_base              1036 non-null   int64
 5   Bono_por_firma           1036 non-null   int64
 6   Sueldo_regular           1036 non-null   int64
 7   Sueldo_ajustado          1036 non-null   int64
 8   Sueldo_porcentual        1036 non-null   float64
 9   Pago_efectivo            1036 non-null   int64
 10  Valor_contrato_promedio  1036 non-null   int64
 11  Anios_de_contrato        1036 non-null   int64
 12  Valor_del_contrato       1036 non-null   int64
 13  Ganancias                1036 non-null   int64
 14  Anio_de_agente_libre     1036 non-null   int64
 15  Edad_al_firmar           1036 non-null   int64
 16  Edad                     1036 non-null   int64
 17  Peso                     1036 non-null   float64
 18  Altura                   1036 non-null   float64
 19  Antiguedad               1036 non-null   int64
 20  ln_Sueldo_base           1036 non-null   float64
 21  ln_Sueldo_ajustado       1036 non-null   float64
 22  ln_Sueldo_regular        1036 non-null   float64
dtypes: float64(6), int64(13), object(4)
memory usage: 186.3+ KB

Ahora, unamos las bases de datos sobre los equipos a las bases de datos de los salarios

In [71]:
for year in range(0,period):
    df_salary_copy[year] = pd.merge(df_teams_copy[year], df_salary_copy[year], on = 'Acronimo')

In [72]:
df_salary_copy[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Equipo                   40 non-null     object
 1   Cantidad_agentes_libres  40 non-null     int64
 2   Valor_contrato_total     40 non-null     int64
 3   Acronimo                 40 non-null     object
 4   Victorias                40 non-null     int64
 5   Juegos totales           40 non-null     int64
 6   Playoffs                 40 non-null     int64
 7   Pennants won             40 non-null     int64
 8   WS ganadas               40 non-null     int64
 9   Promedio_victorias       40 non-null     float64
 10  Estado                   40 non-null     object
 11  Cantidad de equipos      40 non-null     int64
 12  Jugador                  40 non-null     object
 13  Anio                     40 non-null     object
 14  Posicion                 40 non-null     object
 15  Sueldo_base              40 non-null     int64
 16  Bono_por_firma           40 non-null     int64
 17  Sueldo_regular           40 non-null     int64
 18  Sueldo_ajustado          40 non-null     int64
 19  Sueldo_porcentual        40 non-null     float64
 20  Pago_efectivo            40 non-null     int64
 21  Valor_contrato_promedio  40 non-null     int64
 22  Anios_de_contrato        40 non-null     int64
 23  Valor_del_contrato       40 non-null     int64
 24  Ganancias                40 non-null     int64
 25  Anio_de_agente_libre     40 non-null     int64
 26  Edad_al_firmar           40 non-null     int64
 27  Edad                     40 non-null     int64
 28  Peso                     40 non-null     float64
 29  Altura                   40 non-null     float64
 30  Antiguedad               40 non-null     int64
 31  ln_Sueldo_base           40 non-null     float64
 32  ln_Sueldo_ajustado       40 non-null     float64
 33  ln_Sueldo_regular        40 non-null     float64
dtypes: float64(7), int64(21), object(6)
memory usage: 10.9+ KB

Debido a que la mayoría de los jugadores juega tanto en la ofensiva como la defensiva es que tenemos que borrar los duplicados de la columna de la posición.

In [73]:
for year in range(0,period):
    df_hitting_copy[year] = pd.merge(df_hitting_copy[year], df_salary_copy[year], on = 'Jugador')
    df_pitching_copy[year] = pd.merge(df_pitching_copy[year], df_salary_copy[year], on = 'Jugador')

In [74]:
for year in range(0,period):
    df_pitching_copy[year]['Porcentaje_juegos'] = df_pitching_copy[year]['Juegos']/df_pitching_copy[year]['Juegos totales']

In [75]:
df_hitting_copy[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 667 entries, 0 to 666
Data columns (total 64 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Jugador                             667 non-null    object
 1   Juegos                              667 non-null    int64
 2   Porcentaje_juegos                   667 non-null    float64
 3   Juegos_iniciados                    667 non-null    int64
 4   Porcentaje_juegos_iniciados         667 non-null    float64
 5   At_bats                             667 non-null    int64
 6   Bateos                              667 non-null    int64
 7   Dobles                              667 non-null    int64
 8   Triples                             667 non-null    int64
 9   Home_runs                           667 non-null    int64
 10  Runs_batted_in                      667 non-null    int64
 11  Bateos_promedio                     667 non-null    float64
 12  Porcentaje_on_base                  667 non-null    float64
 13  Porcentaje_slugging                 667 non-null    float64
 14  Porcentaje_On_base_plus_slugging    667 non-null    float64
 15  WAR                                 667 non-null    float64
 16  TVS                                 667 non-null    float64
 17  Juegos_iniciados_2                  667 non-null    int64
 18  Porcentaje_juegos_iniciados_2       667 non-null    float64
 19  At_bats_2                           667 non-null    int64
 20  Bateos_2                            667 non-null    int64
 21  Dobles_2                            667 non-null    int64
 22  Triples_2                           667 non-null    int64
 23  Home_runs_2                         667 non-null    int64
 24  Runs_batted_in_2                    667 non-null    int64
 25  Bateos_promedio_2                   667 non-null    float64
 26  Porcentaje_on_base_2                667 non-null    float64
 27  Porcentaje_slugging_2               667 non-null    float64
 28  TVS_2                               667 non-null    float64
 29  Porcentaje_On_base_plus_slugging_2  667 non-null    float64
 30  WAR_2                               667 non-null    float64
 31  Equipo                              667 non-null    object
 32  Cantidad_agentes_libres             667 non-null    int64
 33  Valor_contrato_total                667 non-null    int64
 34  Acronimo                            667 non-null    object
 35  Victorias                           667 non-null    int64
 36  Juegos totales                      667 non-null    int64
 37  Playoffs                            667 non-null    int64
 38  Pennants won                        667 non-null    int64
 39  WS ganadas                          667 non-null    int64
 40  Promedio_victorias                  667 non-null    float64
 41  Estado                              667 non-null    object
 42  Cantidad de equipos                 667 non-null    int64
 43  Anio                                667 non-null    object
 44  Posicion                            667 non-null    object
 45  Sueldo_base                         667 non-null    int64
 46  Bono_por_firma                      667 non-null    int64
 47  Sueldo_regular                      667 non-null    int64
 48  Sueldo_ajustado                     667 non-null    int64
 49  Sueldo_porcentual                   667 non-null    float64
 50  Pago_efectivo                       667 non-null    int64
 51  Valor_contrato_promedio             667 non-null    int64
 52  Anios_de_contrato                   667 non-null    int64
 53  Valor_del_contrato                  667 non-null    int64
 54  Ganancias                           667 non-null    int64
 55  Anio_de_agente_libre                667 non-null    int64
 56  Edad_al_firmar                      667 non-null    int64
 57  Edad                                667 non-null    int64
 58  Peso                                667 non-null    float64
 59  Altura                              667 non-null    float64
 60  Antiguedad                          667 non-null    int64
 61  ln_Sueldo_base                      667 non-null    float64
 62  ln_Sueldo_ajustado                  667 non-null    float64
 63  ln_Sueldo_regular                   667 non-null    float64
dtypes: float64(22), int64(36), object(6)
memory usage: 338.7+ KB

In [76]:
df_pitching_copy[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 0 to 496
Data columns (total 69 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Jugador                  497 non-null    object
 1   Juegos                   497 non-null    int64
 2   Juegos_iniciados         497 non-null    int64
 3   Inning_pitched           497 non-null    float64
 4   Bateos                   497 non-null    int64
 5   Carreras                 497 non-null    int64
 6   Carreras_ganadas         497 non-null    int64
 7   Walks                    497 non-null    int64
 8   Strike_outs              497 non-null    int64
 9   Wins                     497 non-null    int64
 10  Losses                   497 non-null    int64
 11  Saves                    497 non-null    int64
 12  WHIP                     497 non-null    float64
 13  ERA                      497 non-null    float64
 14  WAR                      497 non-null    float64
 15  TVS                      497 non-null    float64
 16  Dominio                  497 non-null    float64
 17  Control                  497 non-null    float64
 18  Comando                  497 non-null    float64
 19  Inning_pitched_2         497 non-null    float64
 20  Bateos_2                 497 non-null    int64
 21  Carreras_2               497 non-null    int64
 22  Carreras_ganadas_2       497 non-null    int64
 23  Walks_2                  497 non-null    int64
 24  Strike_outs_2            497 non-null    int64
 25  Wins_2                   497 non-null    int64
 26  Losses_2                 497 non-null    int64
 27  Saves_2                  497 non-null    int64
 28  WHIP_2                   497 non-null    float64
 29  ERA_2                    497 non-null    float64
 30  WAR_2                    497 non-null    float64
 31  TVS_2                    497 non-null    float64
 32  Dominio_2                497 non-null    float64
 33  Control_2                497 non-null    float64
 34  Comando_2                497 non-null    float64
 35  Equipo                   497 non-null    object
 36  Cantidad_agentes_libres  497 non-null    int64
 37  Valor_contrato_total     497 non-null    int64
 38  Acronimo                 497 non-null    object
 39  Victorias                497 non-null    int64
 40  Juegos totales           497 non-null    int64
 41  Playoffs                 497 non-null    int64
 42  Pennants won             497 non-null    int64
 43  WS ganadas               497 non-null    int64
 44  Promedio_victorias       497 non-null    float64
 45  Estado                   497 non-null    object
 46  Cantidad de equipos      497 non-null    int64
 47  Anio                     497 non-null    object
 48  Posicion                 497 non-null    object
 49  Sueldo_base              497 non-null    int64
 50  Bono_por_firma           497 non-null    int64
 51  Sueldo_regular           497 non-null    int64
 52  Sueldo_ajustado          497 non-null    int64
 53  Sueldo_porcentual        497 non-null    float64
 54  Pago_efectivo            497 non-null    int64
 55  Valor_contrato_promedio  497 non-null    int64
 56  Anios_de_contrato        497 non-null    int64
 57  Valor_del_contrato       497 non-null    int64
 58  Ganancias                497 non-null    int64
 59  Anio_de_agente_libre     497 non-null    int64
 60  Edad_al_firmar           497 non-null    int64
 61  Edad                     497 non-null    int64
 62  Peso                     497 non-null    float64
 63  Altura                   497 non-null    float64
 64  Antiguedad               497 non-null    int64
 65  ln_Sueldo_base           497 non-null    float64
 66  ln_Sueldo_ajustado       497 non-null    float64
 67  ln_Sueldo_regular        497 non-null    float64
 68  Porcentaje_juegos        497 non-null    float64
dtypes: float64(24), int64(39), object(6)
memory usage: 271.8+ KB

Para facilitar la observación de las trnasformaciones de manera más eficiente, ordenemos alfabéticamente la base de datos de acuerdo al nombre de las columnas.

In [77]:
for year in range(0,period):
    # Ordenando alfabéticamente
    df_salary_copy[year].sort_index(axis = 1, inplace = True)
    df_hitting_copy[year].sort_index(axis = 1, inplace = True)
    df_pitching_copy[year].sort_index(axis = 1, inplace = True)
    df_free_agents_copy[year].sort_index(axis = 1, inplace = True)
    
    # Reiniciando los índices
    df_salary_copy[year].reset_index(drop = True, inplace = True)
    df_hitting_copy[year].reset_index(drop = True, inplace = True)
    df_pitching_copy[year].reset_index(drop = True, inplace = True)
    df_free_agents_copy[year].reset_index(drop = True, inplace = True)

## Segmentación por Agentes libres

Separaremos los pitchers y hitters en dos grupos:

- Agentes libres.
- No agentes libres.

In [78]:
for year in range(0,period):
    # Filtrando los agentes libres
    df_hitters_free_agents[year] = pd.merge(df_free_agents_copy[year],
                                            df_hitting_copy[year], on = 'Jugador')
    df_pitchers_free_agents[year] = pd.merge(df_free_agents_copy[year],
                                             df_pitching_copy[year], on = 'Jugador')
    # FIltrando los que no son agentes libres
    df_hitters_no_free_agents[year] = df_hitting_copy[year][~df_hitting_copy[year].Jugador.isin(df_hitters_free_agents[year].Jugador)]
    df_pitchers_no_free_agents[year] = df_pitching_copy[year][~df_pitching_copy[year].Jugador.isin(df_pitchers_free_agents[year].Jugador)]
    
    # Reiniciando el índice
    df_hitters_free_agents[year] = df_hitters_free_agents[year].reindex(sorted(df_hitters_free_agents[year].columns), axis=1)
    df_pitchers_free_agents[year] = df_pitchers_free_agents[year].reindex(sorted(df_pitchers_free_agents[year].columns), axis=1)
    df_hitters_no_free_agents[year] = df_hitters_no_free_agents[year].reindex(sorted(df_hitters_no_free_agents[year].columns), axis=1)
    df_pitchers_no_free_agents[year] = df_pitchers_no_free_agents[year].reindex(sorted(df_pitchers_no_free_agents[year].columns), axis=1)

Veamos los contenidos de las nuevas bases de datos

In [79]:
print("FA - Hitters:")
df_hitters_free_agents[9].info()
print("\n FA - Pitchers:")
df_pitchers_free_agents[9].info()
print("\n No FA - Hitters:")
df_hitters_no_free_agents[9].info()
print("\n No FA - Hitters:")
df_pitchers_no_free_agents[9].info()

FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 69 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Acronimo                            39 non-null     object
 1   Altura                              39 non-null     float64
 2   Anio                                39 non-null     object
 3   Anio_de_agente_libre                39 non-null     int64
 4   Anios_de_contrato_x                 39 non-null     int64
 5   Anios_de_contrato_y                 39 non-null     int64
 6   Antiguedad                          39 non-null     int64
 7   At_bats                             39 non-null     int64
 8   At_bats_2                           39 non-null     int64
 9   Bateos                              39 non-null     int64
 10  Bateos_2                            39 non-null     int64
 11  Bateos_promedio                     39 non-null     float64
 12  Bateos_promedio_2                   39 non-null     float64
 13  Bono_por_firma                      39 non-null     int64
 14  Cantidad de equipos                 39 non-null     int64
 15  Cantidad_agentes_libres             39 non-null     int64
 16  Dobles                              39 non-null     int64
 17  Dobles_2                            39 non-null     int64
 18  Edad                                39 non-null     int64
 19  Edad_al_firmar                      39 non-null     int64
 20  Equipo                              39 non-null     object
 21  Equipo_anterior                     39 non-null     object
 22  Estado                              39 non-null     object
 23  Ganancias                           39 non-null     int64
 24  Home_runs                           39 non-null     int64
 25  Home_runs_2                         39 non-null     int64
 26  Juegos                              39 non-null     int64
 27  Juegos totales                      39 non-null     int64
 28  Juegos_iniciados                    39 non-null     int64
 29  Juegos_iniciados_2                  39 non-null     int64
 30  Jugador                             39 non-null     object
 31  Pago_efectivo                       39 non-null     int64
 32  Pennants won                        39 non-null     int64
 33  Peso                                39 non-null     int64
 34  Playoffs                            39 non-null     int64
 35  Porcentaje_On_base_plus_slugging    39 non-null     float64
 36  Porcentaje_On_base_plus_slugging_2  39 non-null     float64
 37  Porcentaje_juegos                   39 non-null     float64
 38  Porcentaje_juegos_iniciados         39 non-null     float64
 39  Porcentaje_juegos_iniciados_2       39 non-null     float64
 40  Porcentaje_on_base                  39 non-null     float64
 41  Porcentaje_on_base_2                39 non-null     float64
 42  Porcentaje_slugging                 39 non-null     float64
 43  Porcentaje_slugging_2               39 non-null     float64
 44  Posicion                            39 non-null     object
 45  Promedio_victorias                  39 non-null     float64
 46  Runs_batted_in                      39 non-null     int64
 47  Runs_batted_in_2                    39 non-null     int64
 48  Status_agente_libre                 39 non-null     object
 49  Sueldo_ajustado                     39 non-null     int64
 50  Sueldo_base                         39 non-null     int64
 51  Sueldo_porcentual                   39 non-null     float64
 52  Sueldo_regular                      39 non-null     int64
 53  TVS                                 39 non-null     float64
 54  TVS_2                               39 non-null     float64
 55  Triples                             39 non-null     int64
 56  Triples_2                           39 non-null     int64
 57  Valor_contrato                      39 non-null     int64
 58  Valor_contrato_promedio             39 non-null     int64
 59  Valor_contrato_total                39 non-null     int64
 60  Valor_del_contrato                  39 non-null     int64
 61  Valor_promedio_contrato             39 non-null     int64
 62  Victorias                           39 non-null     int64
 63  WAR                                 39 non-null     float64
 64  WAR_2                               39 non-null     float64
 65  WS ganadas                          39 non-null     int64
 66  ln_Sueldo_ajustado                  39 non-null     float64
 67  ln_Sueldo_base                      39 non-null     float64
 68  ln_Sueldo_regular                   39 non-null     float64
dtypes: float64(21), int64(40), object(8)
memory usage: 21.3+ KB

 FA - Pitchers:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 74 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 53 non-null     object
 1   Altura                   53 non-null     float64
 2   Anio                     53 non-null     object
 3   Anio_de_agente_libre     53 non-null     int64
 4   Anios_de_contrato_x      53 non-null     int64
 5   Anios_de_contrato_y      53 non-null     int64
 6   Antiguedad               53 non-null     int64
 7   Bateos                   53 non-null     int64
 8   Bateos_2                 53 non-null     int64
 9   Bono_por_firma           53 non-null     int64
 10  Cantidad de equipos      53 non-null     int64
 11  Cantidad_agentes_libres  53 non-null     int64
 12  Carreras                 53 non-null     int64
 13  Carreras_2               53 non-null     int64
 14  Carreras_ganadas         53 non-null     int64
 15  Carreras_ganadas_2       53 non-null     int64
 16  Comando                  53 non-null     float64
 17  Comando_2                53 non-null     float64
 18  Control                  53 non-null     float64
 19  Control_2                53 non-null     float64
 20  Dominio                  53 non-null     float64
 21  Dominio_2                53 non-null     float64
 22  ERA                      53 non-null     float64
 23  ERA_2                    53 non-null     float64
 24  Edad                     53 non-null     int64
 25  Edad_al_firmar           53 non-null     int64
 26  Equipo                   53 non-null     object
 27  Equipo_anterior          53 non-null     object
 28  Estado                   53 non-null     object
 29  Ganancias                53 non-null     int64
 30  Inning_pitched           53 non-null     float64
 31  Inning_pitched_2         53 non-null     float64
 32  Juegos                   53 non-null     int64
 33  Juegos totales           53 non-null     int64
 34  Juegos_iniciados         53 non-null     int64
 35  Jugador                  53 non-null     object
 36  Losses                   53 non-null     int64
 37  Losses_2                 53 non-null     int64
 38  Pago_efectivo            53 non-null     int64
 39  Pennants won             53 non-null     int64
 40  Peso                     53 non-null     int64
 41  Playoffs                 53 non-null     int64
 42  Porcentaje_juegos        53 non-null     float64
 43  Posicion                 53 non-null     object
 44  Promedio_victorias       53 non-null     float64
 45  Saves                    53 non-null     int64
 46  Saves_2                  53 non-null     int64
 47  Status_agente_libre      53 non-null     object
 48  Strike_outs              53 non-null     int64
 49  Strike_outs_2            53 non-null     int64
 50  Sueldo_ajustado          53 non-null     int64
 51  Sueldo_base              53 non-null     int64
 52  Sueldo_porcentual        53 non-null     float64
 53  Sueldo_regular           53 non-null     int64
 54  TVS                      53 non-null     float64
 55  TVS_2                    53 non-null     float64
 56  Valor_contrato           53 non-null     int64
 57  Valor_contrato_promedio  53 non-null     int64
 58  Valor_contrato_total     53 non-null     int64
 59  Valor_del_contrato       53 non-null     int64
 60  Valor_promedio_contrato  53 non-null     int64
 61  Victorias                53 non-null     int64
 62  WAR                      53 non-null     float64
 63  WAR_2                    53 non-null     float64
 64  WHIP                     53 non-null     float64
 65  WHIP_2                   53 non-null     float64
 66  WS ganadas               53 non-null     int64
 67  Walks                    53 non-null     int64
 68  Walks_2                  53 non-null     int64
 69  Wins                     53 non-null     int64
 70  Wins_2                   53 non-null     int64
 71  ln_Sueldo_ajustado       53 non-null     float64
 72  ln_Sueldo_base           53 non-null     float64
 73  ln_Sueldo_regular        53 non-null     float64
dtypes: float64(23), int64(43), object(8)
memory usage: 31.1+ KB

 No FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 336
Data columns (total 64 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Acronimo                            298 non-null    object
 1   Altura                              298 non-null    float64
 2   Anio                                298 non-null    object
 3   Anio_de_agente_libre                298 non-null    int64
 4   Anios_de_contrato                   298 non-null    int64
 5   Antiguedad                          298 non-null    int64
 6   At_bats                             298 non-null    int64
 7   At_bats_2                           298 non-null    int64
 8   Bateos                              298 non-null    int64
 9   Bateos_2                            298 non-null    int64
 10  Bateos_promedio                     298 non-null    float64
 11  Bateos_promedio_2                   298 non-null    float64
 12  Bono_por_firma                      298 non-null    int64
 13  Cantidad de equipos                 298 non-null    int64
 14  Cantidad_agentes_libres             298 non-null    int64
 15  Dobles                              298 non-null    int64
 16  Dobles_2                            298 non-null    int64
 17  Edad                                298 non-null    int64
 18  Edad_al_firmar                      298 non-null    int64
 19  Equipo                              298 non-null    object
 20  Estado                              298 non-null    object
 21  Ganancias                           298 non-null    int64
 22  Home_runs                           298 non-null    int64
 23  Home_runs_2                         298 non-null    int64
 24  Juegos                              298 non-null    int64
 25  Juegos totales                      298 non-null    int64
 26  Juegos_iniciados                    298 non-null    int64
 27  Juegos_iniciados_2                  298 non-null    int64
 28  Jugador                             298 non-null    object
 29  Pago_efectivo                       298 non-null    int64
 30  Pennants won                        298 non-null    int64
 31  Peso                                298 non-null    int64
 32  Playoffs                            298 non-null    int64
 33  Porcentaje_On_base_plus_slugging    298 non-null    float64
 34  Porcentaje_On_base_plus_slugging_2  298 non-null    float64
 35  Porcentaje_juegos                   298 non-null    float64
 36  Porcentaje_juegos_iniciados         298 non-null    float64
 37  Porcentaje_juegos_iniciados_2       298 non-null    float64
 38  Porcentaje_on_base                  298 non-null    float64
 39  Porcentaje_on_base_2                298 non-null    float64
 40  Porcentaje_slugging                 298 non-null    float64
 41  Porcentaje_slugging_2               298 non-null    float64
 42  Posicion                            298 non-null    object
 43  Promedio_victorias                  298 non-null    float64
 44  Runs_batted_in                      298 non-null    int64
 45  Runs_batted_in_2                    298 non-null    int64
 46  Sueldo_ajustado                     298 non-null    int64
 47  Sueldo_base                         298 non-null    int64
 48  Sueldo_porcentual                   298 non-null    float64
 49  Sueldo_regular                      298 non-null    int64
 50  TVS                                 298 non-null    float64
 51  TVS_2                               298 non-null    float64
 52  Triples                             298 non-null    int64
 53  Triples_2                           298 non-null    int64
 54  Valor_contrato_promedio             298 non-null    int64
 55  Valor_contrato_total                298 non-null    int64
 56  Valor_del_contrato                  298 non-null    int64
 57  Victorias                           298 non-null    int64
 58  WAR                                 298 non-null    float64
 59  WAR_2                               298 non-null    float64
 60  WS ganadas                          298 non-null    int64
 61  ln_Sueldo_ajustado                  298 non-null    float64
 62  ln_Sueldo_base                      298 non-null    float64
 63  ln_Sueldo_regular                   298 non-null    float64
dtypes: float64(21), int64(37), object(6)
memory usage: 151.3+ KB

 No FA - Hitters:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 470
Data columns (total 69 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 418 non-null    object
 1   Altura                   418 non-null    float64
 2   Anio                     418 non-null    object
 3   Anio_de_agente_libre     418 non-null    int64
 4   Anios_de_contrato        418 non-null    int64
 5   Antiguedad               418 non-null    int64
 6   Bateos                   418 non-null    int64
 7   Bateos_2                 418 non-null    int64
 8   Bono_por_firma           418 non-null    int64
 9   Cantidad de equipos      418 non-null    int64
 10  Cantidad_agentes_libres  418 non-null    int64
 11  Carreras                 418 non-null    int64
 12  Carreras_2               418 non-null    int64
 13  Carreras_ganadas         418 non-null    int64
 14  Carreras_ganadas_2       418 non-null    int64
 15  Comando                  418 non-null    float64
 16  Comando_2                418 non-null    float64
 17  Control                  418 non-null    float64
 18  Control_2                418 non-null    float64
 19  Dominio                  418 non-null    float64
 20  Dominio_2                418 non-null    float64
 21  ERA                      418 non-null    float64
 22  ERA_2                    418 non-null    float64
 23  Edad                     418 non-null    int64
 24  Edad_al_firmar           418 non-null    int64
 25  Equipo                   418 non-null    object
 26  Estado                   418 non-null    object
 27  Ganancias                418 non-null    int64
 28  Inning_pitched           418 non-null    float64
 29  Inning_pitched_2         418 non-null    float64
 30  Juegos                   418 non-null    int64
 31  Juegos totales           418 non-null    int64
 32  Juegos_iniciados         418 non-null    int64
 33  Jugador                  418 non-null    object
 34  Losses                   418 non-null    int64
 35  Losses_2                 418 non-null    int64
 36  Pago_efectivo            418 non-null    int64
 37  Pennants won             418 non-null    int64
 38  Peso                     418 non-null    int64
 39  Playoffs                 418 non-null    int64
 40  Porcentaje_juegos        418 non-null    float64
 41  Posicion                 418 non-null    object
 42  Promedio_victorias       418 non-null    float64
 43  Saves                    418 non-null    int64
 44  Saves_2                  418 non-null    int64
 45  Strike_outs              418 non-null    int64
 46  Strike_outs_2            418 non-null    int64
 47  Sueldo_ajustado          418 non-null    int64
 48  Sueldo_base              418 non-null    int64
 49  Sueldo_porcentual        418 non-null    float64
 50  Sueldo_regular           418 non-null    int64
 51  TVS                      418 non-null    float64
 52  TVS_2                    418 non-null    float64
 53  Valor_contrato_promedio  418 non-null    int64
 54  Valor_contrato_total     418 non-null    int64
 55  Valor_del_contrato       418 non-null    int64
 56  Victorias                418 non-null    int64
 57  WAR                      418 non-null    float64
 58  WAR_2                    418 non-null    float64
 59  WHIP                     418 non-null    float64
 60  WHIP_2                   418 non-null    float64
 61  WS ganadas               418 non-null    int64
 62  Walks                    418 non-null    int64
 63  Walks_2                  418 non-null    int64
 64  Wins                     418 non-null    int64
 65  Wins_2                   418 non-null    int64
 66  ln_Sueldo_ajustado       418 non-null    float64
 67  ln_Sueldo_base           418 non-null    float64
 68  ln_Sueldo_regular        418 non-null    float64
dtypes: float64(23), int64(40), object(6)
memory usage: 228.6+ KB

In [80]:
print("FA - Hitters:")
for year in range(0,period):
    print(df_hitters_free_agents[year].shape)
print("\n FA - Pitchers:")
for year in range(0,period):
    print(df_pitchers_free_agents[year].shape)

FA - Hitters:
(0, 69)
(64, 69)
(70, 69)
(75, 69)
(69, 69)
(93, 69)
(53, 69)
(51, 69)
(58, 69)
(39, 69)
(63, 69)
(35, 69)

 FA - Pitchers:
(0, 74)
(32, 74)
(48, 74)
(63, 74)
(68, 74)
(70, 74)
(34, 74)
(49, 74)
(44, 74)
(53, 74)
(60, 74)
(73, 74)

Por último, para facilitar futuras aplicaciones, pasemos todos los nombres de las columnas a miníscula

In [81]:
for year in range(0,period):
    df_hitters_free_agents[year].rename(columns = str.lower)
    df_pitchers_free_agents[year].rename(columns = str.lower)
    df_hitters_no_free_agents[year].rename(columns = str.lower)
    df_pitchers_no_free_agents[year].rename(columns = str.lower)

In [82]:
start_year = 2011
end_year = 2022
general_trans_path = 'ETL_Data/Transversal/Cumulative/'

In [83]:
for year in range(0,period):    
    # Exportemos los dataframes por separado
    df_hitters_free_agents[year].to_csv(general_trans_path + '/Hitters/Free_Agent/hitters_' + str(start_year + year) + '.csv',
                                        index = False)
    df_pitchers_free_agents[year].to_csv(general_trans_path + '/Fielders/Free_Agent/fielders_' + str(start_year + year) + '.csv',
                                         index = False)
    df_hitters_no_free_agents[year].to_csv(general_trans_path + '/Hitters/No_Free_Agent/hitters_' + str(start_year + year) + '.csv',
                                           index = False)
    df_pitchers_no_free_agents[year].to_csv(general_trans_path + '/Fielders/No_Free_Agent/fielders_' + str(start_year + year) + '.csv',
                                            index = False)

### Etiquetas para los agentes libres

Crearemos un etiqueta para indicar si el pitcher o hitter es  un agente libre o no.

In [84]:
for year in range(0,period):
    # Condiciones
    condicion_hitter = [df_hitting_copy[year].Jugador.isin(df_free_agents_copy[year].Jugador)]
    condicion_pitcher = [df_pitching_copy[year].Jugador.isin(df_free_agents_copy[year].Jugador)]
    
    # Etiquetas
    etiquetas = ['Si']
    
    df_hitting_copy[year]['Agente_libre'] = np.select(condicion_hitter, etiquetas, default = 'No')
    df_pitching_copy[year]['Agente_libre'] = np.select(condicion_pitcher, etiquetas, default = 'No')
    
    df_hitting_copy[year] = df_hitting_copy[year].reindex(sorted(df_hitting_copy[year].columns), axis=1)
    df_pitching_copy[year] = df_pitching_copy[year].reindex(sorted(df_pitching_copy[year].columns), axis=1)

In [85]:
for year in range(0,period):
    df_hitting_copy[year].rename(columns = str.lower)
    df_pitching_copy[year].rename(columns = str.lower)

In [86]:
for year in range(0,period):
    # Exportemos los dataframes
    df_hitting_copy[year].to_csv(general_trans_path + '/Hitters/All/hitters_' + str(start_year + year) + '.csv',
                                        index = False)
    df_pitching_copy[year].to_csv(general_trans_path + '/Fielders/All/hitters_' + str(start_year + year) + '.csv',
                                        index = False)

## Panel Data

Con el objetivo de contar con una base de datos en estructura panel, uniremos las bases de datos

In [87]:
# Inicialización del panel
df_panel_all_hitter = df_hitting_copy[0]
df_panel_all_pitcher = df_pitching_copy[0]

for year in range(1,period):
    # Hitter
    df_panel_all_hitter = pd.concat([df_panel_all_hitter, df_hitting_copy[year]])
    
    # Pitcher
    df_panel_all_pitcher = pd.concat([df_panel_all_pitcher, df_pitching_copy[year]])

Veamos las estadísticas descriptivas de los panel

In [88]:
df_panel_all_hitter[['ln_Sueldo_ajustado']].describe()

       ln_Sueldo_ajustado
count         7216.000000
mean            13.779109
std              1.649882
min              8.028455
25%             12.692701
50%             13.226723
75%             15.189226
max             17.440000

In [89]:
df_panel_all_pitcher.describe()

,Altura,Anio_de_agente_libre,Anios_de_contrato,Antiguedad,Bateos,Bateos_2,Bono_por_firma,Cantidad de equipos,Cantidad_agentes_libres,Carreras,...,WHIP,WHIP_2,WS ganadas,Walks,Walks_2,Wins,Wins_2,ln_Sueldo_ajustado,ln_Sueldo_base,ln_Sueldo_regular
count,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6.021000e+03,6021.000000,6021.000000,6021.000000,...,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000,6021.000000
mean,6.257905,843.087361,1.471849,0.722637,62.560040,7013.836240,7.734083e+04,2.125727,5.332503,31.831922,...,1.399450,2.444852,3.855838,22.499419,837.511211,3.806344,31.838233,13.502931,13.997466,14.012041
std,0.211507,996.339635,1.206466,0.954166,55.682965,10946.906759,4.995385e+05,1.372477,3.008082,27.776594,...,0.697475,8.707338,5.302430,18.202813,1250.556954,4.165676,61.482440,1.527574,1.149257,1.166916
min,5.567014,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000e+00,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.927685,9.835744,9.546813
25%,6.100000,0.000000,1.000000,0.000000,21.000000,441.000000,0.000000e+00,1.000000,3.000000,11.000000,...,1.150000,1.322500,1.000000,9.000000,81.000000,1.000000,1.000000,12.460362,13.180632,13.182517
50%,6.300000,0.000000,1.000000,1.000000,46.000000,2116.000000,0.000000e+00,2.000000,5.000000,23.000000,...,1.310000,1.716100,2.000000,18.000000,324.000000,2.000000,4.000000,13.161584,13.262125,13.262125
75%,6.400000,2020.000000,1.000000,1.000000,83.000000,6889.000000,0.000000e+00,2.000000,7.000000,44.000000,...,1.500000,2.250000,5.000000,32.000000,1024.000000,5.000000,25.000000,14.626441,14.827111,14.871563
max,6.900000,2029.000000,9.000000,8.000000,314.000000,98596.000000,1.000000e+07,5.000000,18.000000,162.000000,...,21.000000,441.000000,27.000000,106.000000,11236.000000,22.000000,484.000000,17.584433,17.584433,17.584433

In [90]:
df_panel_all_hitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7216 entries, 0 to 410
Data columns (total 65 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Acronimo                            7216 non-null   object
 1   Agente_libre                        7216 non-null   object
 2   Altura                              7216 non-null   float64
 3   Anio                                7216 non-null   object
 4   Anio_de_agente_libre                7216 non-null   int64
 5   Anios_de_contrato                   7216 non-null   int64
 6   Antiguedad                          7216 non-null   int64
 7   At_bats                             7216 non-null   int64
 8   At_bats_2                           7216 non-null   int64
 9   Bateos                              7216 non-null   int64
 10  Bateos_2                            7216 non-null   int64
 11  Bateos_promedio                     7216 non-null   float64
 12  Bateos_promedio_2                   7216 non-null   float64
 13  Bono_por_firma                      7216 non-null   int64
 14  Cantidad de equipos                 7216 non-null   int64
 15  Cantidad_agentes_libres             7216 non-null   int64
 16  Dobles                              7216 non-null   int64
 17  Dobles_2                            7216 non-null   int64
 18  Edad                                7216 non-null   int64
 19  Edad_al_firmar                      7216 non-null   int64
 20  Equipo                              7216 non-null   object
 21  Estado                              7216 non-null   object
 22  Ganancias                           7216 non-null   int64
 23  Home_runs                           7216 non-null   int64
 24  Home_runs_2                         7216 non-null   int64
 25  Juegos                              7216 non-null   int64
 26  Juegos totales                      7216 non-null   int64
 27  Juegos_iniciados                    7216 non-null   int64
 28  Juegos_iniciados_2                  7216 non-null   int64
 29  Jugador                             7216 non-null   object
 30  Pago_efectivo                       7216 non-null   int64
 31  Pennants won                        7216 non-null   int64
 32  Peso                                7216 non-null   float64
 33  Playoffs                            7216 non-null   int64
 34  Porcentaje_On_base_plus_slugging    7216 non-null   float64
 35  Porcentaje_On_base_plus_slugging_2  7216 non-null   float64
 36  Porcentaje_juegos                   7216 non-null   float64
 37  Porcentaje_juegos_iniciados         7216 non-null   float64
 38  Porcentaje_juegos_iniciados_2       7216 non-null   float64
 39  Porcentaje_on_base                  7216 non-null   float64
 40  Porcentaje_on_base_2                7216 non-null   float64
 41  Porcentaje_slugging                 7216 non-null   float64
 42  Porcentaje_slugging_2               7216 non-null   float64
 43  Posicion                            7216 non-null   object
 44  Promedio_victorias                  7216 non-null   float64
 45  Runs_batted_in                      7216 non-null   int64
 46  Runs_batted_in_2                    7216 non-null   int64
 47  Sueldo_ajustado                     7216 non-null   int64
 48  Sueldo_base                         7216 non-null   int64
 49  Sueldo_porcentual                   7216 non-null   float64
 50  Sueldo_regular                      7216 non-null   int64
 51  TVS                                 7216 non-null   float64
 52  TVS_2                               7216 non-null   float64
 53  Triples                             7216 non-null   int64
 54  Triples_2                           7216 non-null   int64
 55  Valor_contrato_promedio             7216 non-null   int64
 56  Valor_contrato_total                7216 non-null   int64
 57  Valor_del_contrato                  7216 non-null   int64
 58  Victorias                           7216 non-null   int64
 59  WAR                                 7216 non-null   float64
 60  WAR_2                               7216 non-null   float64
 61  WS ganadas                          7216 non-null   int64
 62  ln_Sueldo_ajustado                  7216 non-null   float64
 63  ln_Sueldo_base                      7216 non-null   float64
 64  ln_Sueldo_regular                   7216 non-null   float64
dtypes: float64(22), int64(36), object(7)
memory usage: 3.6+ MB

In [91]:
df_panel_all_pitcher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6021 entries, 0 to 557
Data columns (total 70 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 6021 non-null   object
 1   Agente_libre             6021 non-null   object
 2   Altura                   6021 non-null   float64
 3   Anio                     6021 non-null   object
 4   Anio_de_agente_libre     6021 non-null   int64
 5   Anios_de_contrato        6021 non-null   int64
 6   Antiguedad               6021 non-null   int64
 7   Bateos                   6021 non-null   int64
 8   Bateos_2                 6021 non-null   int64
 9   Bono_por_firma           6021 non-null   int64
 10  Cantidad de equipos      6021 non-null   int64
 11  Cantidad_agentes_libres  6021 non-null   int64
 12  Carreras                 6021 non-null   int64
 13  Carreras_2               6021 non-null   int64
 14  Carreras_ganadas         6021 non-null   int64
 15  Carreras_ganadas_2       6021 non-null   int64
 16  Comando                  6021 non-null   float64
 17  Comando_2                6021 non-null   float64
 18  Control                  6021 non-null   float64
 19  Control_2                6021 non-null   float64
 20  Dominio                  6021 non-null   float64
 21  Dominio_2                6021 non-null   float64
 22  ERA                      6021 non-null   float64
 23  ERA_2                    6021 non-null   float64
 24  Edad                     6021 non-null   int64
 25  Edad_al_firmar           6021 non-null   int64
 26  Equipo                   6021 non-null   object
 27  Estado                   6021 non-null   object
 28  Ganancias                6021 non-null   int64
 29  Inning_pitched           6021 non-null   float64
 30  Inning_pitched_2         6021 non-null   float64
 31  Juegos                   6021 non-null   int64
 32  Juegos totales           6021 non-null   int64
 33  Juegos_iniciados         6021 non-null   int64
 34  Jugador                  6021 non-null   object
 35  Losses                   6021 non-null   int64
 36  Losses_2                 6021 non-null   int64
 37  Pago_efectivo            6021 non-null   int64
 38  Pennants won             6021 non-null   int64
 39  Peso                     6021 non-null   float64
 40  Playoffs                 6021 non-null   int64
 41  Porcentaje_juegos        6021 non-null   float64
 42  Posicion                 6021 non-null   object
 43  Promedio_victorias       6021 non-null   float64
 44  Saves                    6021 non-null   int64
 45  Saves_2                  6021 non-null   int64
 46  Strike_outs              6021 non-null   int64
 47  Strike_outs_2            6021 non-null   int64
 48  Sueldo_ajustado          6021 non-null   int64
 49  Sueldo_base              6021 non-null   int64
 50  Sueldo_porcentual        6021 non-null   float64
 51  Sueldo_regular           6021 non-null   int64
 52  TVS                      6021 non-null   float64
 53  TVS_2                    6021 non-null   float64
 54  Valor_contrato_promedio  6021 non-null   int64
 55  Valor_contrato_total     6021 non-null   int64
 56  Valor_del_contrato       6021 non-null   int64
 57  Victorias                6021 non-null   int64
 58  WAR                      6021 non-null   float64
 59  WAR_2                    6021 non-null   float64
 60  WHIP                     6021 non-null   float64
 61  WHIP_2                   6021 non-null   float64
 62  WS ganadas               6021 non-null   int64
 63  Walks                    6021 non-null   int64
 64  Walks_2                  6021 non-null   int64
 65  Wins                     6021 non-null   int64
 66  Wins_2                   6021 non-null   int64
 67  ln_Sueldo_ajustado       6021 non-null   float64
 68  ln_Sueldo_base           6021 non-null   float64
 69  ln_Sueldo_regular        6021 non-null   float64
dtypes: float64(24), int64(39), object(7)
memory usage: 3.3+ MB

Verifquemos que no haya problemas con valores *NaN* o *infinitos*

Valores *NaN*:

In [92]:
"""for name in df_panel_all_hitter.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_hitter[name])):
            if pd.isna(df_panel_all_hitter[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_hitter[name].iloc[element]))"""

"for name in df_panel_all_hitter.columns:\n    print(name)\n    if type(name) != str:\n        for element in range(0,len(df_panel_all_hitter[name])):\n            if pd.isna(df_panel_all_hitter[name].iloc[element]) == True:\n                print(str(element) +  '  ' + str(df_panel_all_hitter[name].iloc[element]))"

In [93]:
"""for name in df_panel_all_pitcher.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_pitcher[name])):
            if pd.isna(df_panel_all_pitcher[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_pitcher[name].iloc[element]))"""

"for name in df_panel_all_pitcher.columns:\n    print(name)\n    if type(name) != str:\n        for element in range(0,len(df_panel_all_pitcher[name])):\n            if pd.isna(df_panel_all_pitcher[name].iloc[element]) == True:\n                print(str(element) +  '  ' + str(df_panel_all_pitcher[name].iloc[element]))"

Valores *infinitos*

In [94]:
for name in df_panel_all_hitter.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_hitter[name])):
            if math.isinf(df_panel_all_hitter[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_hitter[name].iloc[element]))

Acronimo
Agente_libre
Altura
Anio
Anio_de_agente_libre
Anios_de_contrato
Antiguedad
At_bats
At_bats_2
Bateos
Bateos_2
Bateos_promedio
Bateos_promedio_2
Bono_por_firma
Cantidad de equipos
Cantidad_agentes_libres
Dobles
Dobles_2
Edad
Edad_al_firmar
Equipo
Estado
Ganancias
Home_runs
Home_runs_2
Juegos
Juegos totales
Juegos_iniciados
Juegos_iniciados_2
Jugador
Pago_efectivo
Pennants won
Peso
Playoffs
Porcentaje_On_base_plus_slugging
Porcentaje_On_base_plus_slugging_2
Porcentaje_juegos
Porcentaje_juegos_iniciados
Porcentaje_juegos_iniciados_2
Porcentaje_on_base
Porcentaje_on_base_2
Porcentaje_slugging
Porcentaje_slugging_2
Posicion
Promedio_victorias
Runs_batted_in
Runs_batted_in_2
Sueldo_ajustado
Sueldo_base
Sueldo_porcentual
Sueldo_regular
TVS
TVS_2
Triples
Triples_2
Valor_contrato_promedio
Valor_contrato_total
Valor_del_contrato
Victorias
WAR
WAR_2
WS ganadas
ln_Sueldo_ajustado
ln_Sueldo_base
ln_Sueldo_regular

In [95]:
for name in df_panel_all_pitcher.columns:
    print(name)
    if type(name) != str:
        for element in range(0,len(df_panel_all_pitcher[name])):
            if math.isinf(df_panel_all_pitcher[name].iloc[element]) == True:
                print(str(element) +  '  ' + str(df_panel_all_pitcher[name].iloc[element]))

Acronimo
Agente_libre
Altura
Anio
Anio_de_agente_libre
Anios_de_contrato
Antiguedad
Bateos
Bateos_2
Bono_por_firma
Cantidad de equipos
Cantidad_agentes_libres
Carreras
Carreras_2
Carreras_ganadas
Carreras_ganadas_2
Comando
Comando_2
Control
Control_2
Dominio
Dominio_2
ERA
ERA_2
Edad
Edad_al_firmar
Equipo
Estado
Ganancias
Inning_pitched
Inning_pitched_2
Juegos
Juegos totales
Juegos_iniciados
Jugador
Losses
Losses_2
Pago_efectivo
Pennants won
Peso
Playoffs
Porcentaje_juegos
Posicion
Promedio_victorias
Saves
Saves_2
Strike_outs
Strike_outs_2
Sueldo_ajustado
Sueldo_base
Sueldo_porcentual
Sueldo_regular
TVS
TVS_2
Valor_contrato_promedio
Valor_contrato_total
Valor_del_contrato
Victorias
WAR
WAR_2
WHIP
WHIP_2
WS ganadas
Walks
Walks_2
Wins
Wins_2
ln_Sueldo_ajustado
ln_Sueldo_base
ln_Sueldo_regular

In [96]:
df_panel_all_hitter.sort_index(axis = 1,
                               inplace = True)
df_panel_all_pitcher.sort_index(axis = 1,
                                inplace = True)

Exportemos los paneles

In [97]:
general_panel_path = 'ETL_Data/Panel/Cumulative/Visualizations/'

In [98]:
df_panel_all_hitter.to_csv(general_panel_path + 'hitters_' + '.csv',
                           index = False)
df_panel_all_pitcher.to_csv(general_panel_path + 'fielders_' + '.csv',
                            index = False)

Repetiremos el procedimiento, pero únicamente para quienes son agentes libres

In [99]:
# Inicialización del panel
df_panel_fa_hitter = df_hitters_free_agents[0]
df_panel_fa_pitcher = df_pitchers_free_agents[0]

for year in range(1,period):
    # Hitter
    df_panel_fa_hitter = pd.concat([df_panel_fa_hitter, df_hitters_free_agents[year]])
    
    # Pitcher
    df_panel_fa_pitcher = pd.concat([df_panel_fa_pitcher, df_pitchers_free_agents[year]])

In [100]:
df_panel_fa_hitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670 entries, 0 to 34
Data columns (total 69 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Acronimo                            670 non-null    object
 1   Altura                              670 non-null    float64
 2   Anio                                670 non-null    object
 3   Anio_de_agente_libre                670 non-null    int64
 4   Anios_de_contrato_x                 670 non-null    int64
 5   Anios_de_contrato_y                 670 non-null    int64
 6   Antiguedad                          670 non-null    int64
 7   At_bats                             670 non-null    int64
 8   At_bats_2                           670 non-null    int64
 9   Bateos                              670 non-null    int64
 10  Bateos_2                            670 non-null    int64
 11  Bateos_promedio                     670 non-null    float64
 12  Bateos_promedio_2                   670 non-null    float64
 13  Bono_por_firma                      670 non-null    int64
 14  Cantidad de equipos                 670 non-null    int64
 15  Cantidad_agentes_libres             670 non-null    int64
 16  Dobles                              670 non-null    int64
 17  Dobles_2                            670 non-null    int64
 18  Edad                                670 non-null    int64
 19  Edad_al_firmar                      670 non-null    int64
 20  Equipo                              670 non-null    object
 21  Equipo_anterior                     670 non-null    object
 22  Estado                              670 non-null    object
 23  Ganancias                           670 non-null    int64
 24  Home_runs                           670 non-null    int64
 25  Home_runs_2                         670 non-null    int64
 26  Juegos                              670 non-null    int64
 27  Juegos totales                      670 non-null    int64
 28  Juegos_iniciados                    670 non-null    int64
 29  Juegos_iniciados_2                  670 non-null    int64
 30  Jugador                             670 non-null    object
 31  Pago_efectivo                       670 non-null    int64
 32  Pennants won                        670 non-null    int64
 33  Peso                                670 non-null    float64
 34  Playoffs                            670 non-null    int64
 35  Porcentaje_On_base_plus_slugging    670 non-null    float64
 36  Porcentaje_On_base_plus_slugging_2  670 non-null    float64
 37  Porcentaje_juegos                   670 non-null    float64
 38  Porcentaje_juegos_iniciados         670 non-null    float64
 39  Porcentaje_juegos_iniciados_2       670 non-null    float64
 40  Porcentaje_on_base                  670 non-null    float64
 41  Porcentaje_on_base_2                670 non-null    float64
 42  Porcentaje_slugging                 670 non-null    float64
 43  Porcentaje_slugging_2               670 non-null    float64
 44  Posicion                            670 non-null    object
 45  Promedio_victorias                  670 non-null    float64
 46  Runs_batted_in                      670 non-null    int64
 47  Runs_batted_in_2                    670 non-null    int64
 48  Status_agente_libre                 670 non-null    object
 49  Sueldo_ajustado                     670 non-null    int64
 50  Sueldo_base                         670 non-null    int64
 51  Sueldo_porcentual                   670 non-null    float64
 52  Sueldo_regular                      670 non-null    int64
 53  TVS                                 670 non-null    float64
 54  TVS_2                               670 non-null    float64
 55  Triples                             670 non-null    int64
 56  Triples_2                           670 non-null    int64
 57  Valor_contrato                      670 non-null    int64
 58  Valor_contrato_promedio             670 non-null    int64
 59  Valor_contrato_total                670 non-null    int64
 60  Valor_del_contrato                  670 non-null    int64
 61  Valor_promedio_contrato             670 non-null    int64
 62  Victorias                           670 non-null    int64
 63  WAR                                 670 non-null    float64
 64  WAR_2                               670 non-null    float64
 65  WS ganadas                          670 non-null    int64
 66  ln_Sueldo_ajustado                  670 non-null    float64
 67  ln_Sueldo_base                      670 non-null    float64
 68  ln_Sueldo_regular                   670 non-null    float64
dtypes: float64(22), int64(39), object(8)
memory usage: 366.4+ KB

In [101]:
df_panel_fa_pitcher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 594 entries, 0 to 72
Data columns (total 74 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Acronimo                 594 non-null    object
 1   Altura                   594 non-null    float64
 2   Anio                     594 non-null    object
 3   Anio_de_agente_libre     594 non-null    int64
 4   Anios_de_contrato_x      594 non-null    int64
 5   Anios_de_contrato_y      594 non-null    int64
 6   Antiguedad               594 non-null    int64
 7   Bateos                   594 non-null    int64
 8   Bateos_2                 594 non-null    int64
 9   Bono_por_firma           594 non-null    int64
 10  Cantidad de equipos      594 non-null    int64
 11  Cantidad_agentes_libres  594 non-null    int64
 12  Carreras                 594 non-null    int64
 13  Carreras_2               594 non-null    int64
 14  Carreras_ganadas         594 non-null    int64
 15  Carreras_ganadas_2       594 non-null    int64
 16  Comando                  594 non-null    float64
 17  Comando_2                594 non-null    float64
 18  Control                  594 non-null    float64
 19  Control_2                594 non-null    float64
 20  Dominio                  594 non-null    float64
 21  Dominio_2                594 non-null    float64
 22  ERA                      594 non-null    float64
 23  ERA_2                    594 non-null    float64
 24  Edad                     594 non-null    int64
 25  Edad_al_firmar           594 non-null    int64
 26  Equipo                   594 non-null    object
 27  Equipo_anterior          594 non-null    object
 28  Estado                   594 non-null    object
 29  Ganancias                594 non-null    int64
 30  Inning_pitched           594 non-null    float64
 31  Inning_pitched_2         594 non-null    float64
 32  Juegos                   594 non-null    int64
 33  Juegos totales           594 non-null    int64
 34  Juegos_iniciados         594 non-null    int64
 35  Jugador                  594 non-null    object
 36  Losses                   594 non-null    int64
 37  Losses_2                 594 non-null    int64
 38  Pago_efectivo            594 non-null    int64
 39  Pennants won             594 non-null    int64
 40  Peso                     594 non-null    float64
 41  Playoffs                 594 non-null    int64
 42  Porcentaje_juegos        594 non-null    float64
 43  Posicion                 594 non-null    object
 44  Promedio_victorias       594 non-null    float64
 45  Saves                    594 non-null    int64
 46  Saves_2                  594 non-null    int64
 47  Status_agente_libre      594 non-null    object
 48  Strike_outs              594 non-null    int64
 49  Strike_outs_2            594 non-null    int64
 50  Sueldo_ajustado          594 non-null    int64
 51  Sueldo_base              594 non-null    int64
 52  Sueldo_porcentual        594 non-null    float64
 53  Sueldo_regular           594 non-null    int64
 54  TVS                      594 non-null    float64
 55  TVS_2                    594 non-null    float64
 56  Valor_contrato           594 non-null    int64
 57  Valor_contrato_promedio  594 non-null    int64
 58  Valor_contrato_total     594 non-null    int64
 59  Valor_del_contrato       594 non-null    int64
 60  Valor_promedio_contrato  594 non-null    int64
 61  Victorias                594 non-null    int64
 62  WAR                      594 non-null    float64
 63  WAR_2                    594 non-null    float64
 64  WHIP                     594 non-null    float64
 65  WHIP_2                   594 non-null    float64
 66  WS ganadas               594 non-null    int64
 67  Walks                    594 non-null    int64
 68  Walks_2                  594 non-null    int64
 69  Wins                     594 non-null    int64
 70  Wins_2                   594 non-null    int64
 71  ln_Sueldo_ajustado       594 non-null    float64
 72  ln_Sueldo_base           594 non-null    float64
 73  ln_Sueldo_regular        594 non-null    float64
dtypes: float64(24), int64(42), object(8)
memory usage: 348.0+ KB

In [102]:
df_panel_fa_hitter.sort_index(axis = 1, inplace = True)
df_panel_fa_pitcher.sort_index(axis = 1, inplace = True)

# Variables del Modelo Empírico

In [103]:
empiric_panel_hitter = df_panel_fa_hitter.copy()
empiric_panel_pitcher = df_panel_fa_pitcher.copy()

Veamos algunas estadísticas e información que contienen las bases de datos

In [104]:
print(empiric_panel_hitter.shape)

(670, 69)

In [105]:
print(empiric_panel_pitcher.shape)

(594, 74)

Las posiciones que hay en cada base de datos

In [106]:
empiric_panel_hitter['Posicion'].unique()

array(['DH', '3B', 'SP', 'LF', 'SS', 'RP', '2B', '1B', 'C', 'RF', 'CF',
       'RP/CL', 'OF'], dtype=object)

In [107]:
empiric_panel_pitcher['Posicion'].unique()

array(['SP', 'RP', 'RP/CL', 'RF', '1B', 'C', 'DH', 'LF', 'CF', '2B', '3B',
       'SS'], dtype=object)

Ordenemos las bases de datos  por nombre y año

In [108]:
# Hitter
empiric_panel_hitter = empiric_panel_hitter.sort_values(by = ['Jugador','Anio'], ascending=True)
empiric_panel_hitter.reset_index(drop = True, inplace = True)

# Pitcher
empiric_panel_pitcher = empiric_panel_pitcher.sort_values(by = ['Jugador','Anio'], ascending=True)
empiric_panel_pitcher.reset_index(drop = True, inplace = True)

In [109]:
empiric_panel_hitter[['Jugador','Anio']].head()

           Jugador  Anio
0     A.J. Burnett  2014
1     A.J. Burnett  2015
2       A.J. Ellis  2017
3     A.J. Griffin  2016
4  A.J. Pierzynski  2013

In [110]:
empiric_panel_pitcher[['Jugador','Anio']].head()

        Jugador  Anio
0  A.J. Burnett  2014
1  A.J. Burnett  2015
2  A.J. Griffin  2016
3  Aaron Harang  2012
4  Aaron Harang  2015

In [111]:
"""hitter_names = empiric_panel_hitter.columns
for index in range(0,len(hitter_names)):
    print("Name: " + str(hitter_names[index]))
    print("index: " + str(index))"""

'hitter_names = empiric_panel_hitter.columns\nfor index in range(0,len(hitter_names)):\n    print("Name: " + str(hitter_names[index]))\n    print("index: " + str(index))'

Obtengamos los índices de las columnas de interes

In [112]:
hitter_regular_stats = ['At_bats_2', 'At_bats',
                        'Bateos_2', 'Bateos',
                        'Bateos_promedio_2', 'Bateos_promedio',
                        'Dobles_2', 'Dobles',
                        'Home_runs_2', 'Home_runs',
                        'Juegos_iniciados_2', 'Juegos_iniciados', 
                        'Porcentaje_On_base_plus_slugging_2', 'Porcentaje_On_base_plus_slugging',
                        'Porcentaje_on_base_2', 'Porcentaje_on_base',
                        'Porcentaje_slugging_2', 'Porcentaje_slugging',
                        'Runs_batted_in_2', 'Runs_batted_in',
                        'Triples_2', 'Triples',
                        'WAR_2', 'WAR']
hitter_regular_stats = sorted(hitter_regular_stats)

In [113]:
# Hitter
for stat in range(0,len(hitter_regular_stats)):
    # Variables auxiliares
    stat_name = hitter_regular_stats[stat]
    max_stat_name = stat_name + '_H'
    min_stat_name = stat_name + '_L'
    
    # Máximos por equipo
    max_stat = pd.DataFrame({"Acronimo":empiric_panel_hitter.groupby(by = "Acronimo")[stat_name].max().index,
                             max_stat_name: empiric_panel_hitter.groupby(by = "Acronimo")[stat_name].max().values})
    # Mínimos por equipo
    min_stat = pd.DataFrame({"Acronimo":empiric_panel_hitter.groupby(by = "Acronimo")[stat_name].min().index,
                             min_stat_name: empiric_panel_hitter.groupby(by = "Acronimo")[stat_name].min().values})
    empiric_panel_hitter = empiric_panel_hitter.merge(max_stat, on = "Acronimo",
                                                      how = "left")
    empiric_panel_hitter = empiric_panel_hitter.merge(min_stat, on = "Acronimo",
                                                      how = "left")

In [114]:
"""hitter_names = empiric_panel_hitter.columns
for index in range(0,len(hitter_names)):
    print("Name: " + str(hitter_names[index]))
    print("index: " + str(index))"""

'hitter_names = empiric_panel_hitter.columns\nfor index in range(0,len(hitter_names)):\n    print("Name: " + str(hitter_names[index]))\n    print("index: " + str(index))'

In [115]:
start = empiric_panel_hitter.columns.get_loc('At_bats_2_H')
end = empiric_panel_hitter.columns.get_loc('WAR_L') + 1
empiric_panel_hitter.iloc[:,start:end]

,At_bats_2_H,At_bats_2_L,Bateos_H,Bateos_L,Bateos_2_H,Bateos_2_L,Bateos_promedio_H,Bateos_promedio_L,Bateos_promedio_2_H,Bateos_promedio_2_L,...,Runs_batted_in_H,Runs_batted_in_L,Runs_batted_in_2_H,Runs_batted_in_2_L,Triples_H,Triples_L,Triples_2_H,Triples_2_L,WAR_H,WAR_L
0,349281,1,156,0,24336,0,0.284,0.00,0.080656,0.0000,...,94,0,8836,0,4,0,16,0,3.49,0.32
1,283024,81,155,1,24025,1,0.291,0.02,0.084681,0.0004,...,88,0,7744,0,5,0,25,0,3.86,0.37
2,412164,1,184,0,33856,0,0.287,0.00,0.082369,0.0000,...,57,0,3249,0,12,0,144,0,4.22,0.22
3,431649,1,178,0,31684,0,0.500,0.00,0.250000,0.0000,...,86,0,7396,0,5,0,25,0,7.73,0.55
4,431649,1,178,0,31684,0,0.500,0.00,0.250000,0.0000,...,86,0,7396,0,5,0,25,0,7.73,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,178084,1,116,0,13456,0,1.000,0.00,1.000000,0.0000,...,80,0,6400,0,2,0,4,0,2.26,0.02
666,328329,1,171,0,29241,0,0.667,0.00,0.444889,0.0000,...,105,0,11025,0,3,0,9,0,6.86,0.13
667,368449,9,173,0,29929,0,0.333,0.00,0.110889,0.0000,...,105,0,11025,0,5,0,25,0,4.81,0.04
668,374544,1,199,0,39601,0,0.500,0.00,0.250000,0.0000,...,100,0,10000,0,4,0,16,0,5.77,0.05
669,235225,1,126,0,15876,0,0.317,0.00,0.100489,0.0000,...,67,0,4489,0,2,0,4,0,2.79,0.01

Repitamos el mismo proceso para los lanzadores

In [116]:
"""pitcher_names = empiric_panel_pitcher.columns
for index in range(0,len(pitcher_names)):
    print("Name: " + str(pitcher_names[index]))
    print("index: " + str(index))"""

'pitcher_names = empiric_panel_pitcher.columns\nfor index in range(0,len(pitcher_names)):\n    print("Name: " + str(pitcher_names[index]))\n    print("index: " + str(index))'

Repitamos el mismo proceso para los filderos

In [117]:
pitcher_regular_stats = ['Bateos_2', 'Bateos',
                        'Carreras_2', 'Carreras',
                        'Carreras_ganadas_2', 'Carreras_ganadas',
                        'Comando_2', 'Comando',
                        'Control_2', 'Control',
                        'Dominio_2', 'Dominio', 
                        'ERA_2', 'ERA',
                        'Inning_pitched_2', 'Inning_pitched',
                        'Losses_2', 'Losses',
                        'Saves_2', 'Saves',
                        'Strike_outs_2', 'Strike_outs',
                        'WAR_2', 'WAR',
                        'WHIP_2', 'WHIP',
                        'Walks_2', 'Walks',
                        'Wins_2', 'Wins']
pitcher_regular_stats = sorted(pitcher_regular_stats)

In [118]:
# Pitcheer
for stat in range(0,len(pitcher_regular_stats)):
    # Variables auxiliares
    stat_name = pitcher_regular_stats[stat]
    max_stat_name = stat_name + '_H'
    min_stat_name = stat_name + '_L'
    
    # Máximos por equipo
    max_stat = pd.DataFrame({"Acronimo":empiric_panel_pitcher.groupby(by = "Acronimo")[stat_name].max().index,
                             max_stat_name: empiric_panel_pitcher.groupby(by = "Acronimo")[stat_name].max().values})
    # Mínimos por equipo
    min_stat = pd.DataFrame({"Acronimo":empiric_panel_pitcher.groupby(by = "Acronimo")[stat_name].min().index,
                             min_stat_name: empiric_panel_pitcher.groupby(by = "Acronimo")[stat_name].min().values})
    empiric_panel_pitcher = empiric_panel_pitcher.merge(max_stat, on = "Acronimo",
                                                        how = "left")
    empiric_panel_pitcher = empiric_panel_pitcher.merge(min_stat, on = "Acronimo",
                                                        how = "left")

In [119]:
"""pitcher_names = empiric_panel_pitcher.columns
for index in range(0,len(pitcher_names)):
    print("Name: " + str(pitcher_names[index]))
    print("index: " + str(index))"""

'pitcher_names = empiric_panel_pitcher.columns\nfor index in range(0,len(pitcher_names)):\n    print("Name: " + str(pitcher_names[index]))\n    print("index: " + str(index))'

In [120]:
start = empiric_panel_pitcher.columns.get_loc('Bateos_2_H')
end = empiric_panel_pitcher.columns.get_loc('Wins_L') + 1
empiric_panel_pitcher.iloc[:,start:end]

,Bateos_2_H,Bateos_2_L,Carreras_H,Carreras_L,Carreras_2_H,Carreras_2_L,Carreras_ganadas_H,Carreras_ganadas_L,Carreras_ganadas_2_H,Carreras_ganadas_2_L,...,WHIP_H,WHIP_L,WHIP_2_H,WHIP_2_L,Walks_H,Walks_L,Walks_2_H,Walks_2_L,Wins_H,Wins_L
0,42025,361,122,9,14884,81,109,7,11881,49,...,1.65,1.06,2.7225,1.1236,96,5,9216,25,10,0
1,41209,1600,96,15,9216,225,86,15,7396,225,...,1.51,1.06,2.2801,1.1236,71,10,5041,100,13,0
2,44521,1,114,0,12996,0,106,0,11236,0,...,1.63,0.91,2.6569,0.8281,91,0,8281,0,17,0
3,42025,64,101,1,10201,1,83,1,6889,1,...,1.96,0.75,3.8416,0.5625,85,3,7225,9,16,0
4,42025,361,122,9,14884,81,109,7,11881,49,...,1.65,1.06,2.7225,1.1236,96,5,9216,25,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,42025,49,91,2,8281,4,88,2,7744,4,...,2.44,0.86,5.9536,0.7396,76,6,5776,36,16,0
590,42025,64,101,1,10201,1,83,1,6889,1,...,1.96,0.75,3.8416,0.5625,85,3,7225,9,16,0
591,25921,0,80,0,6400,0,77,0,5929,0,...,1.80,0.00,3.2400,0.0000,52,0,2704,0,13,0
592,55696,9,109,1,11881,1,106,1,11236,1,...,3.00,0.69,9.0000,0.4761,74,0,5476,0,15,0
593,42025,361,122,9,14884,81,109,7,11881,49,...,1.65,1.06,2.7225,1.1236,96,5,9216,25,10,0

In [121]:
empiric_panel_hitter.shape

(670, 117)

In [122]:
empiric_panel_pitcher.shape

(594, 134)

Lo que se hará ahora es agregar todos los años (12) para cada agente en la base de datos y rellenar los *NaN* faltantes con 0 ya que representan la ausencia de desempeño en este caso.

In [123]:
# Hitter
empiric_panel_hitter = empiric_panel_hitter["Anio"].drop_duplicates().to_frame().merge(empiric_panel_hitter["Jugador"].drop_duplicates(),
                                                                                         how = "cross").merge(empiric_panel_hitter,
                                                                                                              how = "left")
empiric_panel_hitter.reset_index(drop = True, inplace = True)

# Pitcher
empiric_panel_pitcher = empiric_panel_pitcher["Anio"].drop_duplicates().to_frame().merge(empiric_panel_pitcher["Jugador"].drop_duplicates(),
                                                                                           how = "cross").merge(empiric_panel_pitcher,
                                                                                                                how = "left")
empiric_panel_pitcher.reset_index(drop = True, inplace = True)

Veamos las dimensiones

In [124]:
empiric_panel_hitter.shape

(5050, 117)

In [125]:
empiric_panel_pitcher.shape

(4269, 134)

### Filtrando jugadores con más de dos años de observaciones en nuestro panel

In [126]:
# Hitters:
# count number of observations for each player
counts_hitters = empiric_panel_hitter.groupby('Jugador').size()
# filter players with more than one year of observations
filtered_hitters = counts_hitters[counts_hitters > 2].index.tolist()

# Fielders:
# count number of observations for each player
counts_filders = empiric_panel_pitcher.groupby('Jugador').size()
# filter players with more than one year of observations
filtered_fielders = counts_filders[counts_filders > 2].index.tolist()

In [127]:
# Filter observations according to the previous list
# Hitter
empiric_panel_hitter = empiric_panel_hitter[empiric_panel_hitter['Jugador'].isin(filtered_hitters)]
empiric_panel_hitter.reset_index(drop = True,
                                 inplace = True)

# Pitcher
empiric_panel_pitcher = empiric_panel_pitcher[empiric_panel_pitcher['Jugador'].isin(filtered_fielders)]
empiric_panel_pitcher.reset_index(drop = True,
                                  inplace = True)

In [128]:
empiric_panel_hitter

,Anio,Jugador,Acronimo,Altura,Anio_de_agente_libre,Anios_de_contrato_x,Anios_de_contrato_y,Antiguedad,At_bats,At_bats_2,...,Runs_batted_in_2_H,Runs_batted_in_2_L,Triples_H,Triples_L,Triples_2_H,Triples_2_L,WAR_H,WAR_L,WAR_2_H,WAR_2_L
0,2014,A.J. Burnett,PHI,6.500000,2015.0,1.0,2.0,1.0,60.0,3600.0,...,8836.0,0.0,4.0,0.0,16.0,0.0,3.49,0.32,12.1801,0.1024
1,2014,A.J. Ellis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,A.J. Griffin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,A.J. Pierzynski,STL,6.300000,0.0,1.0,1.0,0.0,338.0,114244.0,...,11025.0,0.0,9.0,0.0,81.0,0.0,5.76,0.03,33.1776,0.0009
4,2014,A.J. Pollock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,2018,Yu Darvish,CHC,6.500000,2024.0,6.0,6.0,0.0,12.0,144.0,...,11025.0,0.0,7.0,0.0,49.0,0.0,5.58,0.23,31.1364,0.0529
5046,2018,Yusmeiro Petit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5047,2018,Zach Duke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5048,2018,Zack Cozart,LAA,5.858591,2021.0,3.0,3.0,0.0,224.0,50176.0,...,11025.0,0.0,5.0,0.0,25.0,0.0,4.81,0.04,23.1361,0.0016
5049,2018,Zack Greinke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
empiric_panel_pitcher

,Anio,Jugador,Acronimo,Altura,Anio_de_agente_libre,Anios_de_contrato_x,Anios_de_contrato_y,Antiguedad,Bateos,Bateos_2,...,WHIP_2_H,WHIP_2_L,Walks_H,Walks_L,Walks_2_H,Walks_2_L,Wins_H,Wins_L,Wins_2_H,Wins_2_L
0,2014,A.J. Burnett,PHI,6.5,2015.0,1.0,2.0,1.0,205.0,42025.0,...,2.7225,1.1236,96.0,5.0,9216.0,25.0,10.0,0.0,100.0,0.0
1,2014,A.J. Griffin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,Aaron Harang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,Adam LaRoche,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,Adam Ottavino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,2011,Zach Duke,ARI,6.2,0.0,1.0,1.0,1.0,11.0,121.0,...,3.2400,0.0000,52.0,0.0,2704.0,0.0,13.0,0.0,169.0,0.0
4265,2011,Zach Putnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4266,2011,Zack Britton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4267,2011,Zack Greinke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4268,2011,Zack Wheeler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Para ser consistentes, las columnas que contienen datos de tipo *string* las imputaremos con la palabra *No* ya que representará que no tenía equipo, ni posición, etc.

In [130]:
empiric_panel_hitter.select_dtypes(include =['object'],
                                   exclude = ['int64','float64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Anio                 5050 non-null   object
 1   Jugador              5050 non-null   object
 2   Acronimo             670 non-null    object
 3   Equipo               670 non-null    object
 4   Equipo_anterior      670 non-null    object
 5   Estado               670 non-null    object
 6   Posicion             670 non-null    object
 7   Status_agente_libre  670 non-null    object
dtypes: object(8)
memory usage: 315.8+ KB

In [182]:
empiric_panel_hitter['Posicion'].value_counts()

SP       1018
LF        665
C         617
RP        530
RF        442
2B        410
1B        355
3B        317
SS        228
DH        228
CF        168
RP/CL      44
OF         28
Name: Posicion, dtype: int64

In [132]:
# Fill the NaN values with the previous non-null value
empiric_panel_hitter['Posicion'] = empiric_panel_hitter['Posicion'].fillna(method = 'ffill')

In [133]:
empiric_panel_hitter[['Acronimo',
                      'Equipo_anterior',
                      'Equipo',
                      'Estado',
                      'Posicion',
                      'Status_agente_libre']] = empiric_panel_hitter[['Acronimo',
                      'Equipo_anterior',
                      'Equipo',
                      'Estado',
                      'Posicion',
                      'Status_agente_libre']].fillna('No')

Veamos si funcionó la imputación

In [134]:
empiric_panel_hitter.select_dtypes(include = ['object'],
                                   exclude = ['int64','float64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Anio                 5050 non-null   object
 1   Jugador              5050 non-null   object
 2   Acronimo             5050 non-null   object
 3   Equipo               5050 non-null   object
 4   Equipo_anterior      5050 non-null   object
 5   Estado               5050 non-null   object
 6   Posicion             5050 non-null   object
 7   Status_agente_libre  5050 non-null   object
dtypes: object(8)
memory usage: 315.8+ KB

Ahora con los lanzadores

In [135]:
empiric_panel_pitcher.select_dtypes(include =['object'],
                                    exclude = ['int64','float64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Anio                 4269 non-null   object
 1   Jugador              4269 non-null   object
 2   Acronimo             594 non-null    object
 3   Equipo               594 non-null    object
 4   Equipo_anterior      594 non-null    object
 5   Estado               594 non-null    object
 6   Posicion             594 non-null    object
 7   Status_agente_libre  594 non-null    object
dtypes: object(8)
memory usage: 266.9+ KB

In [183]:
empiric_panel_pitcher['Posicion'].value_counts()

RP       2146
SP       1625
RP/CL     168
RF        125
2B         55
C          37
1B         31
SS         27
3B         20
CF         12
LF         12
DH         11
Name: Posicion, dtype: int64

In [137]:
# Fill the NaN values with the previous non-null value
empiric_panel_pitcher['Posicion'] = empiric_panel_pitcher['Posicion'].fillna(method = 'ffill')

In [138]:
empiric_panel_pitcher[['Acronimo',
                       'Equipo_anterior',
                       'Equipo',
                       'Estado',
                       'Status_agente_libre']] = \
empiric_panel_pitcher[['Acronimo',
                       'Equipo_anterior',
                       'Equipo',
                       'Estado',
                       'Status_agente_libre']].fillna('No')

In [139]:
empiric_panel_pitcher.select_dtypes(include =['object'],
                                    exclude = ['int64','float64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Anio                 4269 non-null   object
 1   Jugador              4269 non-null   object
 2   Acronimo             4269 non-null   object
 3   Equipo               4269 non-null   object
 4   Equipo_anterior      4269 non-null   object
 5   Estado               4269 non-null   object
 6   Posicion             4269 non-null   object
 7   Status_agente_libre  4269 non-null   object
dtypes: object(8)
memory usage: 266.9+ KB

En ambos casos, la imputación fue un éxito. No importa que en periodos de contratación de haya puesto *No* ya que con esto evitamos problemas con posibles instrumentos a partir de dummies.

Por otro lado, repitamos lo mismo para las columnas numéricas, imputaremos 0 ya que refleja la ausencia de desempeño. Sin embargo, la columna que contiene la estadística más alta de cada medida de desempeño se imputará por separado debido a que causará problemas cuando se imponga la trnasformación para el modelo.

In [140]:
# Add string to every element in a list
# Hitter
hitter_high_stat = [stat + '_H' for stat in hitter_regular_stats]
hitter_low_stat = [stat + '_L' for stat in hitter_regular_stats]
# Fielder
pitcher_high_stat = [stat + '_H' for stat in pitcher_regular_stats]
pitcher_low_stat = [stat + '_L' for stat in pitcher_regular_stats]

In [141]:
empiric_panel_hitter[hitter_high_stat] = empiric_panel_hitter[hitter_high_stat].fillna(method = 'ffill')
empiric_panel_pitcher[pitcher_high_stat] = empiric_panel_pitcher[pitcher_high_stat].fillna(method = 'ffill')

In [142]:
empiric_panel_hitter[hitter_high_stat].head(20)

,At_bats_H,At_bats_2_H,Bateos_H,Bateos_2_H,Bateos_promedio_H,Bateos_promedio_2_H,Dobles_H,Dobles_2_H,Home_runs_H,Home_runs_2_H,...,Porcentaje_on_base_H,Porcentaje_on_base_2_H,Porcentaje_slugging_H,Porcentaje_slugging_2_H,Runs_batted_in_H,Runs_batted_in_2_H,Triples_H,Triples_2_H,WAR_H,WAR_2_H
0,591.0,349281.0,156.0,24336.0,0.284,0.080656,28.0,784.0,46.0,2116.0,...,0.348,0.121104,0.504,0.254016,94.0,8836.0,4.0,16.0,3.49,12.1801
1,591.0,349281.0,156.0,24336.0,0.284,0.080656,28.0,784.0,46.0,2116.0,...,0.348,0.121104,0.504,0.254016,94.0,8836.0,4.0,16.0,3.49,12.1801
2,591.0,349281.0,156.0,24336.0,0.284,0.080656,28.0,784.0,46.0,2116.0,...,0.348,0.121104,0.504,0.254016,94.0,8836.0,4.0,16.0,3.49,12.1801
3,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
4,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
5,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
6,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
7,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
8,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
9,607.0,368449.0,173.0,29929.0,0.285,0.081225,50.0,2500.0,32.0,1024.0,...,0.363,0.131769,0.550,0.302500,105.0,11025.0,9.0,81.0,5.76,33.1776
10,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
11,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
12,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
13,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
14,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
15,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
16,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
17,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
18,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529
19,657.0,431649.0,178.0,31684.0,0.500,0.250000,32.0,1024.0,33.0,1089.0,...,0.500,0.250000,0.667,0.444889,86.0,7396.0,5.0,25.0,7.73,59.7529

In [143]:
empiric_panel_hitter.fillna(0, inplace = True)
empiric_panel_pitcher.fillna(0, inplace = True)

Verifiquemos si queda alguna columna con alguna entrada tipo *NaN*:

In [144]:
# Hitter
hitter_nan = empiric_panel_hitter.isna().any()
hitter_name = empiric_panel_hitter.columns
for con in range(0, len(hitter_nan)):
    if hitter_nan[con]:
        print("Name: " + str(hitter_name[con]))

In [145]:
# Pitcher
pitcher_nan = empiric_panel_pitcher.isna().any()
pitcher_name = empiric_panel_pitcher.columns
for con in range(0, len(pitcher_nan)):
    if pitcher_nan[con]:
        print("Name: " + str(pitcher_name[con]))

Obtengamos el máximo de cada una de las medidas de desempeño, de periodos *t_1*, por equipo que han obtenido a lo largo de todas la temporadas

Para evitar problemas con el tipo de *ID*, creemos una que sea numérica para evitar usar los nombres de los jugadores

In [146]:
# Hitter
empiric_panel_hitter['id'] =  empiric_panel_hitter.groupby(['Jugador']).ngroup()
empiric_panel_hitter.reset_index(drop = True, inplace = True)
# Pitcher
empiric_panel_pitcher['id'] =  empiric_panel_pitcher.groupby(['Jugador']).ngroup()
empiric_panel_pitcher.reset_index(drop = True, inplace = True)

Obtengamos la transformación para obtener la $Y$ del modelo empírico a partir de los rezagos de las raices de dichos salarios

In [147]:
# Función de rezagos de raices
def sqrt_dif(X):
    S = []
    for i in range(0, len(X)-1):
        d = np.sqrt(X[i+1])-np.sqrt(X[i])
        S.append(d)
    try:
        S.append(d)
    except: 
        S.append(0)
    return S

In [148]:
Y_hitter = []
for p in empiric_panel_hitter["id"].unique():
    # Filtremos todos los sueldos (ln) de cada jugador por separado
    X = empiric_panel_hitter[empiric_panel_hitter["id"] == p]["ln_Sueldo_ajustado"].values
    # Aplicación de la función
    S = sqrt_dif(X)
    # Añadimos los datos de manera ordenada
    Y_hitter = np.concatenate((Y_hitter, S))
# Agregamos la columna:
empiric_panel_hitter["Y"] = Y_hitter

In [149]:
empiric_panel_hitter["Y"]

0      -0.034934
1      -3.994443
2       0.000000
3       0.000000
4       0.000000
          ...
5045    0.000000
5046    0.000000
5047    0.000000
5048    0.000000
5049    0.000000
Name: Y, Length: 5050, dtype: float64

In [150]:
Y_pitcher = []
for p in empiric_panel_pitcher["id"].unique():
    # Filtremos todos los sueldos (ln) de cada jugador por separado
    X = empiric_panel_pitcher[empiric_panel_pitcher["id"] == p]["ln_Sueldo_ajustado"].values
    # Aplicación de la función
    S = sqrt_dif(X)
    # Añadimos los datos de manera ordenada
    Y_pitcher = np.concatenate((Y_pitcher, S))
# Agregamos la columna:
empiric_panel_pitcher["Y"] = Y_pitcher

In [151]:
empiric_panel_pitcher["Y"]

0      -0.034934
1      -3.994443
2       0.000000
3       0.000000
4       0.000000
          ...
4264    0.000000
4265    0.000000
4266    0.000000
4267    0.000000
4268    0.000000
Name: Y, Length: 4269, dtype: float64

Contruyamos las dummy *I* del modelo empírico

In [152]:
# Long of the stats
end_hitter_name = int((len(hitter_high_stat) + len(hitter_low_stat))/2)

In [153]:
hitter_regular_stats

['At_bats',
 'At_bats_2',
 'Bateos',
 'Bateos_2',
 'Bateos_promedio',
 'Bateos_promedio_2',
 'Dobles',
 'Dobles_2',
 'Home_runs',
 'Home_runs_2',
 'Juegos_iniciados',
 'Juegos_iniciados_2',
 'Porcentaje_On_base_plus_slugging',
 'Porcentaje_On_base_plus_slugging_2',
 'Porcentaje_on_base',
 'Porcentaje_on_base_2',
 'Porcentaje_slugging',
 'Porcentaje_slugging_2',
 'Runs_batted_in',
 'Runs_batted_in_2',
 'Triples',
 'Triples_2',
 'WAR',
 'WAR_2']

In [154]:
# Hitter
for sport_stat in range(0,end_hitter_name):
    I_hitter = []
    for y,max_stat,min_stat in zip(empiric_panel_hitter[hitter_regular_stats[sport_stat]],
                                   empiric_panel_hitter[hitter_high_stat[sport_stat]],
                                   empiric_panel_hitter[hitter_low_stat[sport_stat]]):
        # Dummy condition
        if y > (max_stat + min_stat)/2:
            I_hitter.append(0)
        else: 
            I_hitter.append(1)
    
    I_name = hitter_regular_stats[sport_stat] + '_I'
    empiric_panel_hitter[I_name] = I_hitter

Veamos los resultados

In [155]:
"""hitter_names = empiric_panel_hitter.columns
for index in range(0,len(hitter_names)):
    print("Name: " + str(hitter_names[index]))
    print("index: " + str(index))"""

'hitter_names = empiric_panel_hitter.columns\nfor index in range(0,len(hitter_names)):\n    print("Name: " + str(hitter_names[index]))\n    print("index: " + str(index))'

In [156]:
# Hitter
hitter_nan = empiric_panel_hitter.isna().any()
hitter_name = empiric_panel_hitter.columns
for con in range(0, len(hitter_nan)):
    if hitter_nan[con]:
        print("Name: " + str(hitter_name[con]))

In [157]:
start = empiric_panel_hitter.columns.get_loc('At_bats_2_I')
end = empiric_panel_hitter.columns.get_loc('WAR_I') + 1
empiric_panel_hitter.iloc[:,start:end]

,At_bats_2_I,Bateos_I,Bateos_2_I,Bateos_promedio_I,Bateos_promedio_2_I,Dobles_I,Dobles_2_I,Home_runs_I,Home_runs_2_I,Juegos_iniciados_I,...,Porcentaje_On_base_plus_slugging_2_I,Porcentaje_on_base_I,Porcentaje_on_base_2_I,Porcentaje_slugging_I,Porcentaje_slugging_2_I,Runs_batted_in_I,Runs_batted_in_2_I,Triples_I,Triples_2_I,WAR_I
0,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,0,0,1,1,1,1,0,...,1,0,0,0,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5046,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5047,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5048,1,1,1,0,1,1,1,1,1,1,...,0,0,0,0,1,1,1,1,1,1
5049,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Repitamos el mismo proceso para los lanzadores

In [158]:
# Long of stats
end_pitcher_name = int((len(pitcher_high_stat) + len(pitcher_low_stat))/2)

In [159]:
# Pitcher
for sport_stat in range(0,end_pitcher_name):
    I_pitcher = []
    for y,max_stat,min_stat in zip(empiric_panel_pitcher[pitcher_regular_stats[sport_stat]],
                                   empiric_panel_pitcher[pitcher_high_stat[sport_stat]],
                                   empiric_panel_pitcher[pitcher_low_stat[sport_stat]]):
        if y > (max_stat + min_stat)/2:
            I_pitcher.append(0)
        else: 
            I_pitcher.append(1)
    
    I_name = pitcher_regular_stats[sport_stat] + '_I'
    empiric_panel_pitcher[I_name] = I_pitcher

In [160]:
"""pitcher_names = empiric_panel_pitcher.columns
for index in range(0,len(pitcher_names)):
    print("Name: " + str(pitcher_names[index]))
    print("index: " + str(index))"""

'pitcher_names = empiric_panel_pitcher.columns\nfor index in range(0,len(pitcher_names)):\n    print("Name: " + str(pitcher_names[index]))\n    print("index: " + str(index))'

In [161]:
# Pitcher
pitcher_nan = empiric_panel_pitcher.isna().any()
pitcher_name = empiric_panel_pitcher.columns
for con in range(0, len(pitcher_nan)):
    if pitcher_nan[con]:
        print("Name: " + str(pitcher_name[con]))

In [162]:
start = empiric_panel_pitcher.columns.get_loc('Bateos_2_I')
end = empiric_panel_pitcher.columns.get_loc('Wins_I') + 1
empiric_panel_pitcher.iloc[:,start:end]

,Bateos_2_I,Carreras_I,Carreras_2_I,Carreras_ganadas_I,Carreras_ganadas_2_I,Comando_I,Comando_2_I,Control_I,Control_2_I,Dominio_I,...,Saves_2_I,Strike_outs_I,Strike_outs_2_I,WAR_I,WAR_2_I,WHIP_I,WHIP_2_I,Walks_I,Walks_2_I,Wins_I
0,0,0,0,0,0,1,1,0,1,1,...,1,0,0,1,1,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,0,1,1,1,1
4265,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4266,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4267,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4268,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Obtengamos las variables auxiliares

In [163]:
# Good practice
hitter_high_stat = sorted(hitter_high_stat)
# Dummy
I_hitter = sorted([stat + '_I' for stat in hitter_regular_stats])

Verifiquemos que tengan la misma longitud

In [164]:
len(I_hitter) == len(hitter_high_stat) == len(hitter_regular_stats)

True

In [165]:
# Pitcher
for stat in range(0,len(hitter_regular_stats)):
    # Variable auxiliar
    X_hitter = []
    
    # Variables 
    i = (-1)**(empiric_panel_hitter[I_hitter[stat]])
    x = empiric_panel_hitter[hitter_regular_stats[stat]]/np.sqrt(empiric_panel_hitter[hitter_high_stat[stat]])
    X_hitter = i*x
    
    # X name
    name = 'X_' + hitter_regular_stats[stat]
    empiric_panel_hitter[name] = X_hitter

In [166]:
# Pitcher
hitter_nan = empiric_panel_hitter.isna().any()
hitter_name = empiric_panel_hitter.columns
for con in range(0, len(hitter_nan)):
    if hitter_nan[con]:
        print("Name: " + str(hitter_name[con]))

Name: X_Triples
Name: X_Triples_2

In [167]:
# define a list of suffixes to drop
drop_suffix = ['_I', '_L', '_H']

# Use a list comprehension to filter the columns to drop
hitter_cols_to_drop = [col for col in empiric_panel_hitter.columns if col.endswith(tuple(drop_suffix))]

# Drop the selected columns
empiric_panel_hitter = empiric_panel_hitter.drop(hitter_cols_to_drop,
                                                 axis=1)

In [168]:
empiric_panel_hitter.shape

(5050, 95)

In [169]:
empiric_panel_hitter['Posicion'].value_counts()

SP       1018
LF        665
C         617
RP        530
RF        442
2B        410
1B        355
3B        317
SS        228
DH        228
CF        168
RP/CL      44
OF         28
Name: Posicion, dtype: int64

In [170]:
general_dynamic_path = 'ETL_Data/Panel/Cumulative/Dynamic_model/'

In [171]:
empiric_panel_hitter.to_csv(general_dynamic_path + 'panel_hitters' + '.csv',
                            index = False)

Ahora, filtremos las columnas que contienen las medidas de desempeño de los periodos **t_1**. Para ello, encontremos primero los índices de dichas variables

In [172]:
# Pitcher
for stat in range(0,len(hitter_regular_stats)):
    # Stat
    print(colored(hitter_regular_stats[stat], "cyan"))
    
    # X name
    name = 'X_' + hitter_regular_stats[stat]
    
    # OLS variables
    Y = empiric_panel_hitter['Y'].tolist()
    X = empiric_panel_hitter[name].tolist()
    X = sm.add_constant(X)
    
    # Modelo
    model = sm.OLS(Y, X,
                   missing = 'drop').fit()
    print(model.summary())
    print("\n")

At_bats
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.4580
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.499
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0045      0.026     -0.175      0.861      -0.055       0.046
x1            -0.0978      0.145     -0.677      0.499      -0.381       0.186
==============================================================================
Omnibus:                      158.306   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.686
Skew:                          -0.007   Prob(JB):                     2.22e-93
Kurtosis:                       4.424   Cond. No.                         5.59
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


At_bats_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.03702
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.847
Time:                        12:48:25   Log-Likelihood:                -10236.
No. Observations:                5050   AIC:                         2.048e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0053      0.026     -0.200      0.841      -0.057       0.046
x1            2.5e-06    1.3e-05      0.192      0.847    -2.3e-05     2.8e-05
==============================================================================
Omnibus:                      158.337   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.838
Skew:                          -0.006   Prob(JB):                     2.06e-93
Kurtosis:                       4.424   Cond. No.                     2.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.


Bateos
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                  0.002583
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.959
Time:                        12:48:25   Log-Likelihood:                -10236.
No. Observations:                5050   AIC:                         2.048e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0043      0.026     -0.168      0.867      -0.055       0.046
x1             0.0083      0.164      0.051      0.959      -0.314       0.330
==============================================================================
Omnibus:                      158.336   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.831
Skew:                          -0.007   Prob(JB):                     2.06e-93
Kurtosis:                       4.424   Cond. No.                         6.35
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Bateos_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.2619
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.609
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0061      0.026     -0.233      0.816      -0.057       0.045
x1          5.004e-05   9.78e-05      0.512      0.609      -0.000       0.000
==============================================================================
Omnibus:                      158.339   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.831
Skew:                          -0.007   Prob(JB):                     2.06e-93
Kurtosis:                       4.424   Cond. No.                         268.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Bateos_promedio
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.148
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.284
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0057      0.026     -0.219      0.827      -0.056       0.045
x1             0.1266      0.118      1.071      0.284      -0.105       0.358
==============================================================================
Omnibus:                      158.320   Durbin-Watson:                   2.692
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.783
Skew:                          -0.006   Prob(JB):                     2.11e-93
Kurtosis:                       4.424   Cond. No.                         4.57
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Bateos_promedio_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     3.498
Date:                Mon, 13 Mar 2023   Prob (F-statistic):             0.0615
Time:                        12:48:25   Log-Likelihood:                -10234.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.048e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0127      0.026     -0.483      0.629      -0.064       0.039
x1             1.1865      0.634      1.870      0.061      -0.057       2.430
==============================================================================
Omnibus:                      158.190   Durbin-Watson:                   2.692
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.223
Skew:                          -0.006   Prob(JB):                     2.80e-93
Kurtosis:                       4.423   Cond. No.                         24.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Dobles
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.547
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.214
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0063      0.026     -0.245      0.807      -0.057       0.044
x1            -0.2111      0.170     -1.244      0.214      -0.544       0.122
==============================================================================
Omnibus:                      158.260   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.510
Skew:                          -0.006   Prob(JB):                     2.42e-93
Kurtosis:                       4.424   Cond. No.                         6.57
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Dobles_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.07792
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.780
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0052      0.026     -0.201      0.840      -0.056       0.046
x1             0.0003      0.001      0.279      0.780      -0.002       0.002
==============================================================================
Omnibus:                      158.336   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.827
Skew:                          -0.007   Prob(JB):                     2.07e-93
Kurtosis:                       4.424   Cond. No.                         26.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Home_runs
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.153
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.142
Time:                        12:48:25   Log-Likelihood:                -10234.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0064      0.026     -0.247      0.805      -0.057       0.044
x1            -0.2691      0.183     -1.467      0.142      -0.629       0.090
==============================================================================
Omnibus:                      158.247   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.474
Skew:                          -0.006   Prob(JB):                     2.47e-93
Kurtosis:                       4.424   Cond. No.                         7.10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Home_runs_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.4843
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.487
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0027      0.026     -0.104      0.917      -0.054       0.048
x1            -0.0009      0.001     -0.696      0.487      -0.004       0.002
==============================================================================
Omnibus:                      158.302   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.675
Skew:                          -0.007   Prob(JB):                     2.23e-93
Kurtosis:                       4.424   Cond. No.                         19.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Juegos_iniciados
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.2420
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.623
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0046      0.026     -0.178      0.858      -0.055       0.046
x1            -0.0695      0.141     -0.492      0.623      -0.346       0.207
==============================================================================
Omnibus:                      158.316   Durbin-Watson:                   2.693
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.726
Skew:                          -0.007   Prob(JB):                     2.18e-93
Kurtosis:                       4.424   Cond. No.                         5.46
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Juegos_iniciados_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.2552
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.613
Time:                        12:48:25   Log-Likelihood:                -10235.
No. Observations:                5050   AIC:                         2.047e+04
Df Residuals:                    5048   BIC:                         2.049e+04

Repitamos el mismo procedimiento para los filderos

In [173]:
# Good practice
pitcher_high_stat = sorted(pitcher_high_stat)
# Dummy
I_pitcher = sorted([stat + '_I' for stat in pitcher_regular_stats])

Verifiquemos que tengan la misma longitud

In [174]:
len(I_pitcher) == len(pitcher_high_stat) == len(pitcher_regular_stats)

True

In [175]:
# Pitcher
for stat in range(0,len(pitcher_regular_stats)):
    # Variable auxiliar
    X_pitcher = []
    
    # Variables 
    i = (-1)**(empiric_panel_pitcher[I_pitcher[stat]])
    x = empiric_panel_pitcher[pitcher_regular_stats[stat]]/np.sqrt(empiric_panel_pitcher[pitcher_high_stat[stat]])
    X_pitcher = i*x
    
    # X name
    name = 'X_' + pitcher_regular_stats[stat]
    empiric_panel_pitcher[name] = X_pitcher

In [176]:
# Pitcher
pitcher_nan = empiric_panel_pitcher.isna().any()
pitcher_name = empiric_panel_pitcher.columns
for con in range(0, len(pitcher_nan)):
    if pitcher_nan[con]:
        print("Name: " + str(pitcher_name[con]))

Tenemos que borrar las columnas que terminan con '_L', '_H' o '_I'

In [177]:
# define a list of suffixes to drop
drop_suffix = ['_I', '_L', '_H']

# Use a list comprehension to filter the columns to drop
fielder_cols_to_drop = [col for col in empiric_panel_pitcher.columns if col.endswith(tuple(drop_suffix))]

# Drop the selected columns
empiric_panel_pitcher = empiric_panel_pitcher.drop(fielder_cols_to_drop,
                                                   axis=1)

In [178]:
empiric_panel_pitcher.shape

(4269, 106)

In [179]:
empiric_panel_pitcher['Posicion'].value_counts()

RP       2146
SP       1625
RP/CL     168
RF        125
2B         55
C          37
1B         31
SS         27
3B         20
CF         12
LF         12
DH         11
Name: Posicion, dtype: int64

In [180]:
empiric_panel_pitcher.to_csv(general_dynamic_path + 'panel_fielders' + '.csv',
                             index = False)

Ahora, filtremos las columnas que contienen las medidas de desempeño de los periodos **t_1**. Para ello, encontremos primero los índices de dichas variables

In [181]:
# Pitcher
for stat in range(0,len(pitcher_regular_stats)):
    # Stat
    print(colored(pitcher_regular_stats[stat], "cyan"))
    
    # X name
    name = 'X_' + pitcher_regular_stats[stat]
    
    # OLS variables
    Y = empiric_panel_pitcher['Y'].tolist()
    X = empiric_panel_pitcher[name].tolist()
    X = sm.add_constant(X)
    
    # Modelo
    model = sm.OLS(Y, X,
                   missing = 'drop').fit()
    print(model.summary())
    print("\n")

Bateos
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.05166
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.820
Time:                        12:48:26   Log-Likelihood:                -8628.6
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0733      0.028     -2.619      0.009      -0.128      -0.018
x1             0.0356      0.157      0.227      0.820      -0.272       0.343
==============================================================================
Omnibus:                      139.337   Durbin-Watson:                   2.745
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.588
Skew:                          -0.063   Prob(JB):                     7.52e-82
Kurtosis:                       4.444   Cond. No.                         5.61
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Bateos_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.580
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.209
Time:                        12:48:26   Log-Likelihood:                -8627.9
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0690      0.028     -2.446      0.014      -0.124      -0.014
x1          -9.04e-05   7.19e-05     -1.257      0.209      -0.000    5.06e-05
==============================================================================
Omnibus:                      139.180   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.749
Skew:                          -0.060   Prob(JB):                     6.94e-82
Kurtosis:                       4.445   Cond. No.                         395.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Carreras
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.043
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.153
Time:                        12:48:26   Log-Likelihood:                -8627.6
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0748      0.028     -2.674      0.008      -0.130      -0.020
x1            -0.2186      0.153     -1.429      0.153      -0.518       0.081
==============================================================================
Omnibus:                      139.149   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.396
Skew:                          -0.061   Prob(JB):                     8.28e-82
Kurtosis:                       4.444   Cond. No.                         5.47
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Carreras_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.778
Date:                Mon, 13 Mar 2023   Prob (F-statistic):             0.0956
Time:                        12:48:26   Log-Likelihood:                -8627.3
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0670      0.028     -2.376      0.018      -0.122      -0.012
x1            -0.0003      0.000     -1.667      0.096      -0.001    6.04e-05
==============================================================================
Omnibus:                      138.974   Durbin-Watson:                   2.747
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.331
Skew:                          -0.058   Prob(JB):                     8.55e-82
Kurtosis:                       4.444   Cond. No.                         139.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Carreras_ganadas
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.754
Date:                Mon, 13 Mar 2023   Prob (F-statistic):             0.0971
Time:                        12:48:26   Log-Likelihood:                -8627.3
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0747      0.028     -2.673      0.008      -0.130      -0.020
x1            -0.2543      0.153     -1.659      0.097      -0.555       0.046
==============================================================================
Omnibus:                      139.190   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.407
Skew:                          -0.061   Prob(JB):                     8.24e-82
Kurtosis:                       4.444   Cond. No.                         5.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Carreras_ganadas_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     3.635
Date:                Mon, 13 Mar 2023   Prob (F-statistic):             0.0567
Time:                        12:48:26   Log-Likelihood:                -8626.8
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0658      0.028     -2.329      0.020      -0.121      -0.010
x1            -0.0004      0.000     -1.906      0.057      -0.001    1.24e-05
==============================================================================
Omnibus:                      138.954   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.219
Skew:                          -0.058   Prob(JB):                     9.05e-82
Kurtosis:                       4.444   Cond. No.                         124.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Comando
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.1155
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.734
Time:                        12:48:26   Log-Likelihood:                -8628.6
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0726      0.028     -2.586      0.010      -0.128      -0.018
x1             0.0576      0.170      0.340      0.734      -0.275       0.390
==============================================================================
Omnibus:                      139.353   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.633
Skew:                          -0.063   Prob(JB):                     7.36e-82
Kurtosis:                       4.444   Cond. No.                         6.07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Comando_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.273
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.132
Time:                        12:48:26   Log-Likelihood:                -8627.5
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0755      0.028     -2.699      0.007      -0.130      -0.021
x1             0.0002      0.000      1.508      0.132   -5.87e-05       0.000
==============================================================================
Omnibus:                      139.049   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              372.536
Skew:                          -0.062   Prob(JB):                     1.27e-81
Kurtosis:                       4.442   Cond. No.                         216.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Control
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.465
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.226
Time:                        12:48:26   Log-Likelihood:                -8627.9
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0691      0.028     -2.452      0.014      -0.124      -0.014
x1             0.1756      0.145      1.210      0.226      -0.109       0.460
==============================================================================
Omnibus:                      138.970   Durbin-Watson:                   2.745
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.093
Skew:                          -0.059   Prob(JB):                     9.64e-82
Kurtosis:                       4.443   Cond. No.                         5.19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Control_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.02469
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.875
Time:                        12:48:26   Log-Likelihood:                -8628.7
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0737      0.028     -2.634      0.008      -0.128      -0.019
x1             0.0058      0.037      0.157      0.875      -0.067       0.079
==============================================================================
Omnibus:                      139.315   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.599
Skew:                          -0.063   Prob(JB):                     7.48e-82
Kurtosis:                       4.444   Cond. No.                         1.33
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Dominio
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.07218
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.788
Time:                        12:48:26   Log-Likelihood:                -8628.6
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0734      0.028     -2.624      0.009      -0.128      -0.019
x1             0.0297      0.110      0.269      0.788      -0.187       0.246
==============================================================================
Omnibus:                      139.325   Durbin-Watson:                   2.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.616
Skew:                          -0.063   Prob(JB):                     7.42e-82
Kurtosis:                       4.444   Cond. No.                         3.95
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.


Dominio_2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.04258
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.837
Time:                        12:48:26   Log-Likelihood:                -8628.6
No. Observations:                4269   AIC:                         1.726e+04
Df Residuals:                    4267   BIC:                         1.727e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================