Merge

In [2]:
import pandas as pd

In [6]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    },
    index=[0, 1, 2, 3],
)

In [7]:
df1.head()

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [8]:
df2 = pd.DataFrame(
    {
        "A": ["A2", "A3", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
    },
    index=[2, 3, 4, 5],
)

In [9]:
df2.head()

    A   B
2  A2  B4
3  A3  B5
4  A6  B6
5  A7  B7