# Modelo lineal del artículo - Agentes libres

Se generalizará el código para obtener X del artículo para cualquier estadística deportiva, pero con la misma Y calculada en otros scripts.

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from matplotlib.colors import ListedColormap
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import pandas as pd
import numpy as np
import array
import math
import os
import warnings
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 15

In [3]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
os.chdir(path)

/home/usuario/Documentos/Github/Proyectos/MLB_HN/Models/Linear_models/Free_agent

In [4]:
print("Para modificar el tamaño de todos los gráficos")
from matplotlib import rcParams
rcParams['figure.figsize'] = 15,9

Para modificar el tamaño de todos los gráficos

Leamos los archivos correspondientes

In [5]:
# Años de análisis
period = 11
csv = '.csv'
# Directorios
hitters_path = 'Data/New_Data/Hitters/Free_Agent/free_agents_batters_'
pitchers_path = 'Data/New_Data/Pitchers/Free_Agent/free_agents_pitchers_'
# Originales:
df_hitters = [None]*period
df_hitters_copy = [None]*period
df_pitchers = [None]*period
df_pitchers_copy = [None]*period
df_players = [None]*period
df_players_copy = [None]*period

Leamos todos las bases de datos correspondientes

In [6]:
for year in range(0,period):
    df_hitters[year] = pd.read_csv(hitters_path + str(2011 + year) + csv)
    df_hitters_copy[year] = df_hitters[year].copy()
    
    df_pitchers[year] = pd.read_csv(pitchers_path + str(2011 + year) + csv)
    df_pitchers_copy[year] = df_pitchers[year].copy()

Observemos el contenido de las bases de datos

In [7]:
# Bateadores
df_hitters_copy[1].head()

,Jugador,Anio,Status,Equipo_anterior,Anios_contrato,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Porcetnaje_juegos,...,Sueldo,Sueldo_regular,Juegos_2,Porcetnaje_juegos_2,At-bats_2,Bateos_2,Home-runs_2,RBI_2,Porcentaje_bateo_2,OPS_2
0,Albert Pujols,2012,UFA,STL,10,240000000,24000000,DH,154,0.951,...,12000000,12000000,23716,0.904401,368449,29929,900,11025,0.081225,0.737881
1,Prince Fielder,2012,UFA,MIL,9,214000000,23777778,DH,162,1.000,...,23150000,23150000,26244,1.000000,337561,33124,900,11664,0.097969,0.883600
2,Jose Reyes,2012,UFA,NYM,6,106000000,17666667,3B,160,0.988,...,10000000,10000000,25600,0.976144,412164,33856,121,3249,0.082369,0.608400
3,C.J. Wilson,2012,UFA,TEX,5,77500000,15500000,SP,34,0.210,...,10550000,10550000,1156,0.044100,25,0,0,0,0.000000,0.027889
4,Mark Buehrle,2012,UFA,CHW,4,58000000,14500000,SP,31,0.191,...,7000000,7000000,961,0.036481,4489,9,0,1,0.002025,0.010816

Las columnas que contienen son las siguientes:

In [8]:
df_hitters_copy[1].columns

Index(['Jugador', 'Anio', 'Status', 'Equipo_anterior', 'Anios_contrato',
       'Valor_contrato', 'Valor_promedio_contrato', 'Posicion', 'Juegos',
       'Porcetnaje_juegos', 'At-bats', 'Bateos', 'Home-runs', 'RBI',
       'Porcentaje_bateo', 'OPS', 'Equipo', 'Sueldo_base', 'Sueldo',
       'Sueldo_regular', 'Juegos_2', 'Porcetnaje_juegos_2', 'At-bats_2',
       'Bateos_2', 'Home-runs_2', 'RBI_2', 'Porcentaje_bateo_2', 'OPS_2'],
      dtype='object')

In [9]:
# PItchers
df_pitchers_copy[1].head()

,Jugador,Anio,Status,Equipo_anterior,Anios_contrato,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Juegos_iniciados,...,Walks_2,Strike-outs_2,Wins_2,Losses_2,Saves_2,WHIP_2,ERA_2,Control_2,Comando_2,Juegos_2_2
0,C.J. Wilson,2012,UFA,TEX,5,77500000,15500000,SP,34,34,...,8281,29929,169,100,0,1.7956,14.6689,0.002498,3.614177,1336336
1,Mark Buehrle,2012,UFA,CHW,4,58000000,14500000,SP,31,31,...,1600,15625,169,169,0,1.3689,13.9876,0.000483,9.765625,923521
2,Jonathan Papelbon,2012,UFA,BOS,4,50000000,12500000,RP,70,0,...,324,8464,25,36,1444,1.1236,5.9536,0.000816,26.123457,24010000
3,Heath Bell,2012,UFA,SD,3,27000000,9000000,RP,73,0,...,841,3481,16,25,361,2.4025,25.9081,0.002559,4.139120,28398241
4,Joe Nathan,2012,UFA,MIN,2,14000000,7000000,RP,66,0,...,169,6084,9,25,1369,1.1236,7.8400,0.000505,36.000000,18974736

Análogamente

In [10]:
df_pitchers_copy[1].columns

Index(['Jugador', 'Anio', 'Status', 'Equipo_anterior', 'Anios_contrato',
       'Valor_contrato', 'Valor_promedio_contrato', 'Posicion', 'Juegos',
       'Juegos_iniciados', 'Inning_pitched', 'Bateos_pitcher', 'Carreras',
       'Carreras_ganadas', 'Walks', 'Strike-outs', 'Wins', 'Losses', 'Saves',
       'WHIP', 'ERA', 'Equipo', 'Sueldo_base', 'Sueldo', 'Sueldo_regular',
       'Dominio', 'Control', 'Comando', 'Juegos_2', 'Juegos_iniciados_2',
       'Inning_pitched_2', 'Bateos_pitcher_2', 'Carreras_2',
       'Carreras_ganadas_2', 'Walks_2', 'Strike-outs_2', 'Wins_2', 'Losses_2',
       'Saves_2', 'WHIP_2', 'ERA_2', 'Control_2', 'Comando_2', 'Juegos_2_2'],
      dtype='object')

Para la segmentación de las bases de datos, tenemos que determinar todas las posiciones que contienen los distintos tipos de bases de datos

In [11]:
# Auxiliares
csv = '.csv'
# Jugadores
hitters_pos = []
pitchers_pos = []

In [12]:
for i in range(0,period):
    values_hitters = df_hitters_copy[i]['Posicion'].unique().tolist()
    values_pitchers = df_pitchers_copy[i]['Posicion'].unique().tolist()
    
    hitters_pos.append(values_hitters)
    pitchers_pos.append(values_pitchers)

In [13]:
# Ahora obtendremos todas las posiciones relacionados a los jugadores
all_hitters_pos = [pos for hitter in hitters_pos for pos in hitter]
all_pitchers_pos = [pos for pitcher in pitchers_pos for pos in pitcher]
unique_hitters_pos = np.unique(np.array(all_hitters_pos))
unique_pitchers_pos = np.unique(np.array(all_pitchers_pos))

In [14]:
print('All hitters position: ')
print(unique_hitters_pos)

All hitters position:
['1B' '2B' '3B' 'C' 'CF' 'DH' 'LF' 'OF' 'RF' 'RP' 'RP/CL' 'SP' 'SS']

In [15]:
print('All pitchers position: ')
print(unique_pitchers_pos)

All pitchers position:
['1B' '2B' '3B' 'C' 'CF' 'DH' 'LF' 'RF' 'RP' 'RP/CL' 'SP' 'SS']

Se puede apreciar que hay jugadores que poseen posiciones tanto de pitchers como hitters. De acuerdo a algunos artículos, el modelo será más preciso si se divide en los siguientes grupos:

- Starting pitchers: SP
- Relief pitchers: RP y RP/CL
- Catchers: C
- Hitters without catchers: 1B, 2B, 3B, CF, OF, DH, LF, RF y SS.

Creemos los dataframes correspondientes

In [16]:
df_starting_pitchers = [None]*period
df_starting_pitchers_copy = [None]*period
df_relief_pitchers = [None]*period
df_relief_pitchers_copy = [None]*period
df_catchers = [None]*period
df_catchers_copy = [None]*period
df_remain_hitters = [None]*period
df_remain_hitters_copy = [None]*period

In [17]:
# Catchers:
for year in range(0,period):
    df_catchers[year] = df_hitters_copy[year][df_hitters_copy[year]['Posicion'] == 'C']
    df_catchers_copy[year] = df_catchers[year].reset_index(drop = True, inplace = True)
    
    
    df_remain_hitters[year] = df_hitters_copy[year][(df_hitters_copy[year]['Posicion'] == '1B') |
                                                    (df_hitters_copy[year]['Posicion'] == '2B') |
                                                    (df_hitters_copy[year]['Posicion'] == '3B') |
                                                    (df_hitters_copy[year]['Posicion'] == 'CF') |
                                                    (df_hitters_copy[year]['Posicion'] == 'OF') |
                                                    (df_hitters_copy[year]['Posicion'] == 'DH') |
                                                    (df_hitters_copy[year]['Posicion'] == 'LF') |
                                                    (df_hitters_copy[year]['Posicion'] == 'RF') |
                                                    (df_hitters_copy[year]['Posicion'] == 'SS')]
    df_remain_hitters_copy[year] = df_remain_hitters[year].reset_index(drop = True, inplace = True)
    
    
    df_relief_pitchers[year] = df_pitchers_copy[year][(df_pitchers_copy[year]['Posicion'] == 'RP') |
                                                      (df_pitchers_copy[year]['Posicion'] == 'RP/CL')]
    df_relief_pitchers_copy[year] = df_relief_pitchers[year].reset_index(drop = True, inplace = True)
    
    
    df_starting_pitchers[year] = df_pitchers_copy[year][df_pitchers_copy[year]['Posicion'] == 'SP']
    df_starting_pitchers_copy[year] = df_starting_pitchers[year].reset_index(drop = True, inplace = True)

Observemos cómo quedaron los dataframes

In [18]:
df_catchers[1].head()

,Jugador,Anio,Status,Equipo_anterior,Anios_contrato,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Porcetnaje_juegos,...,Sueldo,Sueldo_regular,Juegos_2,Porcetnaje_juegos_2,At-bats_2,Bateos_2,Home-runs_2,RBI_2,Porcentaje_bateo_2,OPS_2
0,Jose Molina,2012,UFA,TOR,1,1800000,1800000,C,102,0.630,...,1500000,1500000,10404,0.396900,63001,3136,64,1024,0.049729,0.409600
1,Dioner Navarro,2012,UFA,LAD,1,800000,800000,C,24,0.148,...,800000,800000,576,0.021904,4761,400,4,144,0.084100,0.570025
2,Wil Nieves,2012,UFA,MIL,1,0,0,C,32,0.198,...,800000,367213,1024,0.039204,6889,625,4,64,0.090601,0.546121

In [19]:
df_remain_hitters[2].head()

,Jugador,Anio,Status,Equipo_anterior,Anios_contrato,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Porcetnaje_juegos,...,Sueldo,Sueldo_regular,Juegos_2,Porcetnaje_juegos_2,At-bats_2,Bateos_2,Home-runs_2,RBI_2,Porcentaje_bateo_2,OPS_2
0,Josh Hamilton,2013,UFA,TEX,5,125000000,25000000,LF,151,0.932,...,17400000,17400000,22801,0.868624,331776,20736,441,6241,0.062500,0.546121
1,Melvin Upton,2013,UFA,TB,5,72500000,14500000,LF,126,0.778,...,13050000,13050000,15876,0.605284,152881,5184,81,676,0.033856,0.310249
2,Angel Pagan,2013,UFA,SF,4,40000000,10000000,LF,71,0.438,...,8250000,8250000,5041,0.191844,78400,6241,25,900,0.079524,0.561001
3,Shane Victorino,2013,UFA,LAD,3,39000000,13000000,RF,122,0.753,...,13000000,13000000,14884,0.567009,227529,19321,225,3721,0.084681,0.632025
4,David Ortiz,2013,UFA,BOS,2,29000000,14500000,DH,137,0.846,...,14550000,14550000,18769,0.715716,268324,25600,900,10609,0.095481,0.919681

In [20]:
df_relief_pitchers[3].head()

,Jugador,Anio,Status,Equipo_anterior,Anios_contrato,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Juegos_iniciados,...,Walks_2,Strike-outs_2,Wins_2,Losses_2,Saves_2,WHIP_2,ERA_2,Control_2,Comando_2,Juegos_2_2
0,Phil Hughes,2014,UFA,NYY,3,24000000,8000000,RP,32,32,...,256,34596,256,100,0,1.2769,12.3904,0.000072,135.140625,1048576
1,Joe Nathan,2014,UFA,TEX,2,20000000,10000000,RP,62,0,...,841,2916,25,16,1225,2.3409,23.1361,0.003086,3.467301,14776336
2,Brian Wilson,2014,UFA,LAD,2,19000000,9500000,RP,61,0,...,841,2916,4,16,1,2.5921,21.7156,0.004451,3.467301,13845841
3,Boone Logan,2014,UFA,NYY,3,16500000,5500000,RP,35,0,...,121,1024,4,9,0,2.8224,46.7856,0.002390,8.462810,1500625
4,Joe Smith,2014,UFA,CLE,3,15750000,5250000,RP,76,0,...,225,4624,49,4,225,0.6400,3.2761,0.000498,20.551111,33362176

In [21]:
df_starting_pitchers[4].head()

,Jugador,Anio,Status,Equipo_anterior,Anios_contrato,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Juegos_iniciados,...,Walks_2,Strike-outs_2,Wins_2,Losses_2,Saves_2,WHIP_2,ERA_2,Control_2,Comando_2,Juegos_2_2
0,Max Scherzer,2015,UFA,DET,7,210000000,30000000,SP,34,33,...,1156,76176,196,144,0,0.8464,7.7841,0.000273,65.896194,1336336
1,Jon Lester,2015,UFA,OAK,6,155000000,25833333,SP,32,32,...,2209,42849,121,144,0,1.2544,11.1556,0.000649,19.397465,1048576
2,James Shields,2015,UFA,KC,4,75000000,18750000,SP,36,33,...,6561,46656,169,49,0,1.7689,15.2881,0.001979,7.111111,1679616
3,Ervin Santana,2015,UFA,ATL,4,55000000,13750000,SP,17,17,...,1296,6724,49,25,0,1.6900,16.0000,0.001372,5.188272,83521
4,Brandon McCarthy,2015,UFA,NYY,4,48000000,12000000,SP,4,4,...,16,841,9,0,0,1.4884,34.4569,0.000373,52.562500,256

## Función generalizada para $X$ y $Y$

Crearemos una función que cree todas las variables X y Y dado una lista de base de datos y otra  la lista con los índices de las columnas que contienen las estadísticas deportivas.

In [22]:
True or (False and False)

True