# Team dataframes

En este apartado creamos la base de datos de los agente libres, pero agregada por equipo. Las secciones mostradas tienen los siguientes propósitos:
- Visualización de las bases de datos creadas manualmente.
    - Acrónimos de los equipos.
    - Victorias anuales
- Creación de la base de datos de corte transversal con datos generales del equipo.

Importemos los modulos necesarios así como especificar la configuración deseada.

In [1]:
import pandas as pd
import numpy as np
import math
import os
import warnings
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 5

In [11]:
# Veamos el directorio actual de trabajo
print(os.getcwd())
# El directorio anterior es el correcto, pero si no lo fuese, hacemos lo sigueinte:
path = '/home/usuario/Documentos/Github/Proyectos/MLB_HN'
os.chdir(path)

/home/usuario/Documentos/Github/Proyectos/MLB_HN

:Lo que se hará ahora es crear listas donde guardaremos los datos de interes de las bases de datos a lo largo del periodo de interes.

In [5]:
# Años de análisis
csv = '.csv'
period = 11
team_path = 'Data/Free_Agent_Team_Salary/team_salary_'
# Equipos
teams = []
# Originales:
df_team = [None]*period

### Acrónimos de los equipos

Se obtendrán los equipos que están solo en las bases de datos para reducir el número de equipos y tiempo de análisis a lo largo del trabajo.

In [6]:
for i in range(0,period):    
    df_team[i] = pd.read_csv(team_path + str(2011 + i) + csv)
    values = df_team[i].Team.unique().tolist()
    
    teams.append(values)

Ya se guardaron en cada entrada de lista *teams* cada una de las listas que contiene los nombres (sin repetir) de los equipos en las distintas bases de datos. Ahora se tiene que pasar a una lista plana que no contenga listas, sino solo el contenido de todas estas

In [61]:
# Veamos que la dimensión de la lista es igual al número de bases de datos
np.shape(teams)

(11,)

In [29]:
# Guardaremos el contenido de todas las listas en otra lista
# Esta lista solo contendrá valores númericos y no listas
all_teams = [name for team in teams for name in team]

Nótese que ahora incrementa el número de entradas en la lista como e ra de esperarse

In [30]:
np.shape(all_teams)

(285,)

Para contruir la base de datos de los acrónimos tenemos que auxiliarnos solo de los equipos que están en nuestras bases de datos ya que han existido muchos acrónimos y equipos a lo largo de la historia y no necesariamente todos los equipos actuales están en nuestras bases de datos. Por otro lado, nos serviría de guía para crear de manera eficiente la base de datos de los acrónimos.

In [31]:
unique_teams = np.unique(np.array(all_teams))
print(unique_teams)

['Arizona Diamondbacks' 'Atlanta Braves' 'Baltimore Orioles'
 'Boston Red Sox' 'Chicago Cubs' 'Chicago White Sox' 'Cincinnati Reds'
 'Colorado Rockies' 'Detroit Tigers' 'Houston Astros' 'Kansas City Royals'
 'Los Angeles Angels' 'Los Angeles Dodgers' 'Miami Marlins'
 'Milwaukee Brewers' 'Minnesota Twins' 'New York Mets' 'New York Yankees'
 'Oakland Athletics' 'Philadelphia Phillies' 'Pittsburgh Pirates'
 'San Diego Padres' 'San Francisco Giants' 'Seattle Mariners'
 'St. Louis Cardinals' 'Tampa Bay Rays' 'Texas Rangers'
 'Toronto Blue Jays' 'Washington Nationals']

In [32]:
# Cuya dimensión es
print(np.shape(unique_teams))

(29,)

Por otro lado, hay equipos que no han tenido el mismo acrónimo a lo largo de los años, por lo que repetiremos el proceso anterior para los acrónimos contenidos en las bases de datos que contiene a todos los jugadores. Esta se creo en el *script* llamado *Players.ipynb*.

In [33]:
# Auxiliares
csv = '.csv'
# Jugadores
hitters = []
pitchers = []
# Originales:
df_total_hitters = [None]*period
df_total_pitchers = [None]*period

El proceso que se muestra a continuación es totalmente análogo al que se hizo para obtener los acrónimos de los equipos en las bases de datos con prefijo "team_salary".

In [35]:
for i in range(0,period):
    total_hitters = 'Data/New_Data/Hitters/All_Hitters/hitters_'
    total_pitchers = 'Data/New_Data/Pitchers/All_Pitchers/pitchers_'
    
    df_total_hitters[i] = pd.read_csv(total_hitters + str(2011 + i) + csv)
    df_total_pitchers[i] = pd.read_csv(total_pitchers + str(2011 + i) + csv)
    values_1 = df_total_hitters[i]['Equipo'].unique().tolist()
    values_2 = df_total_pitchers[i]['Equipo'].unique().tolist()
    
    hitters.append(values_1)
    pitchers.append(values_2)

In [36]:
# Ahora obtendremos el total de acrónimos relacionados a los jugadores
all_hitters = [name for hitter in hitters for name in hitter]
all_pitchers = [name for pitcher in pitchers for name in pitcher]
players = [all_hitters, all_pitchers]
all_players = [name for player in players for name in player]
unique_players = np.unique(np.array(all_players))

In [37]:
# Chequemos la dimensión y valores
print(np.shape(unique_players))
print(unique_players)

(29,)
['ARI' 'ATL' 'BAL' 'BOS' 'CHC' 'CHW' 'CIN' 'COL' 'DET' 'HOU' 'KC' 'LAA'
 'LAD' 'MIA' 'MIL' 'MIN' 'NYM' 'NYY' 'OAK' 'PHI' 'PIT' 'SD' 'SEA' 'SF'
 'STL' 'TB' 'TEX' 'TOR' 'WSH']

Se aprecia que tienen el mismo número de acrónimos que equipos en ambas listas obtenidas con valores únicos. Falta ver que sí correspondan los acrónimos a los equipos en las distintas bases de datos.

Debido a que no hay una base de datos con los acrónimos de los equipos, el nombre usual de los equipos y las victorias; se tendrá que construir manuealmente, lo cual se hará fuera de este *script*.

El resultado obtenido fue el siguiente:

In [38]:
acronym_path = 'Data/Teams/team_acronym.csv'
acronyms = pd.read_csv(acronym_path)

In [39]:
acronyms.head()

  Acronimo                Equipo
0      ARI  Arizona Diamondbacks
1      ATL        Atlanta Braves
2      BAL     Baltimore Orioles
3      BOS        Boston Red Sox
4      CHC          Chicago Cubs

### Victorias anuales de  los equipos

Con el mismo formato se crearán bases de datos que correspondan a los mismo años y que contengas las victorias de cada equipo en cada año.

Veamos el resultados final

In [40]:
victory_path = 'Data/Teams/team_victories_2011.csv'
victory_2011 = pd.read_csv(victory_path)

In [41]:
victory_2011.head()

  Acronimo                Equipo  Victorias  Juegos totales
0      ARI  Arizona Diamondbacks         94             162
1      ATL        Atlanta Braves         89             162
2      BAL     Baltimore Orioles         69             162
3      BOS        Boston Red Sox         90             162
4      CHC          Chicago Cubs         71             162

## Creación del dataframe

Debido a que se modelarán series de tiempo, se crearán bases de datos de corte transversal que contenga los salarios, la cantidad de agentes libres y las victorias de cada equipo.

In [49]:
# Auxiliares
period = 11
csv = '.csv'
path_team_salaries = 'Data/Free_Agent_Team_Salary/team_salary_'
path_team_victories = 'Data/Teams/team_victories_'
# Originales:
df_team_victories = [None]*period
df_team_salaries = [None]*period
# Copias:
df_team_victories_copy = [None]*period
df_team_salaries_copy = [None]*period
# Producto final:
df_team = [None]*period

Veamos lo que contienen las bases de datos sobre los salarios de los equipos

In [50]:
pd.read_csv(path_team_salaries + str(2013) + csv). head()

   Rank                  Team  Players  YRS         Value          AAV
0   NaN    Los Angeles Angels        8   14  $153,500,000  $10,964,286
1   NaN   Los Angeles Dodgers        7   12  $150,850,000  $12,570,833
2   NaN        Boston Red Sox       10   16  $130,700,000   $8,168,750
3   NaN        Detroit Tigers        4    9  $107,775,000  $11,975,000
4   NaN  San Francisco Giants        6   13   $80,750,000   $6,211,538

De estos dataframes nos quedaremos con el nombre de los equipos, la cantidad de agentes libres y el valor total de los salarios de estos, es decir, las columnas *Team*, *Players* y *Value*. No nos quedaremos con el promedio de los salarios puesto que no nos interesa una medida de tendencia central ya que no nos da información sobre los valores extremos.

In [53]:
for i in range(0,period):      
    df_team_victories[i] = pd.read_csv(path_team_victories + str(2011 + i) + csv)
    df_team_salaries[i] = pd.read_csv(path_team_salaries + str(2011 + i) + csv)
    
    df_team_victories_copy[i] = df_team_victories[i].copy()
    df_team_salaries_copy[i] = df_team_salaries[i].copy()
    
    df_team_salaries_copy[i]  = df_team_salaries_copy[i][['Team', 'Players', 'Value']]
    df_team_salaries_names  = ['Equipo', 'Cantidad_agentes_libres', 'Valor_contrato']
    df_team_salaries_copy[i].columns = df_team_salaries_names

    team_salaries_aux_1 = df_team_salaries_copy[i]['Valor_contrato'].str.replace("$","")
    team_salaries_aux_2 = team_salaries_aux_1.str.replace(",","")
    df_team_salaries_copy[i]['Valor_contrato'] = team_salaries_aux_2
    
    df_team_salaries_copy[i]['Valor_contrato'] = pd.to_numeric(df_team_salaries_copy[i]['Valor_contrato'])
        
    df_team[i] = pd.merge(df_team_salaries_copy[i], df_team_victories_copy[i], on = 'Equipo')
    df_team[i]['Promedio_victorias'] = df_team[i]['Victorias']/df_team[i]['Juegos totales']
    
    # Exportemos los dataframes por separado
    df_team[i].to_csv('Data/New_Data/Teams/free_agents_team_' + str(2011 + i) + '.csv', index = False)

Veamos algunos de los productos finales

In [54]:
df_team[9].head()

,Equipo,Cantidad_agentes_libres,Valor_contrato,Acronimo,Victorias,Juegos totales,Promedio_victorias
0,New York Yankees,2,336500000,NYY,33,60,0.550000
1,Washington Nationals,10,316750000,WSH,26,62,0.419355
2,Los Angeles Angels,3,260850000,LAA,26,60,0.433333
3,Chicago White Sox,5,151500000,CHW,35,60,0.583333
4,Cincinnati Reds,4,144825000,CIN,31,59,0.525424